@import "~selectize/dist/css/selectize.bootstrap3";
// For some reason, selectize is making the cursor a text selector - which is annoying
.selectize-dropdown .option {
  cursor: pointer;
}
// Make selectize boxes the same height as other form controls
.selectize-control.form-control .selectize-input {
  line-height: 1.5;
  margin-top: 6px;
}
// Style the 'add new option' box
.selectize-dropdown-content .create {
  padding-left: 1rem;
}
