- citation_badges ||= citation.badges.merge(citation.publication&.badges || {})
- skip_header ||= false

%table.table.table-sm.table-striped.table-bordered.scoring-table.mb-0
  - unless skip_header
    %thead
      %th Citation property
      %th Score
  %tbody
    -# TODO: when revising score, improve this. For now, just rendering the kind here to be helpful
    %tr
      %td
        <span class="less-strong">Citation:</span> kind
        %em= citation.kind_humanized
      %td
    - if citation_badges.any?
      - CitationScorer::BADGES.each do |section_key, section_badges|
        - section_badges.each do |badge_key, value|
          - next unless citation_badges.include?(badge_key)
          %tr
            %td
              <span class="less-strong">#{section_key.to_s.titleize}:</span> #{CitationScorer.badge_humanized(badge_key)}
            %td
              %span.less-strong= value
    -#- else
    -#  %tr
    -#    %td{ colspan: 2 }
    -#      no score

