- citations ||= @citations

.full-screen-table
  %table.table.table-striped.table-sm.table-bordered
    %thead
      %th
        Title
      %th
        Created
      %th
        Kind
    %tbody
      - citations.each do |citation|
        %tr
          %td
            = citation.title
          %td
            %span.convertTime
              = l citation.created_at, format: :convert_time
          %td
            = citation.kind_humanized
