%h1
  New Citation

.row.mt-2.mb-4
  .col-md-8.col-xl-6
    - if @citation.errors.any?
      = render partial: "/shared/errors", locals: { name: "Citation", obj: @citation }
    = form_for @citation, url: citations_path, method: "POST", html: { class: "form mt-4 mb-4" } do |f|
      = render partial: "/citations/fields", locals: {form: f}

      .form-group
        = submit_tag "Submit for review", class: "btn btn-primary"
