%h1
  Viewing Citation

.row.mt-4
  = render partial: "/citations/display", locals: { citation: @citation, render_waiting_for_approval: true }

%h2.mt-4.mb-1 Hypotheses

= render partial: "/hypotheses/table", locals: { citations: @hypotheses, skip_citation_id: @citation.id }
