- hypotheses ||= @hypotheses

.full-screen-table
  %table.table.table-striped.table-sm.table-bordered
    %thead
      %th
        Hypothesis
      %th
        Created
      %th
        Citation
    %tbody
      - hypotheses.each do |hypothesis|
        %tr
          %td
            = hypothesis.title
          %td
            %span.convertTime
              = l hypothesis.created_at, format: :convert_time
          %td
            - citation = hypothesis.citations.first
            - if citation.present?
              = link_to citation.title, citation.url
