%h1 Working toward truth

%p.mt-4
  %strong
    = number_with_delimiter(@hypotheses.total_count)
  - if sortable_search_params?
    matching
  = "hypothesis".pluralize(@hypotheses.total_count)

.paginate-wrapper
  = paginate @hypotheses

= render partial: "/hypotheses/table", locals: { hypotheses: @hypotheses }
