.argument-show-block {
  @extend .max-width-text-container;
  p {
    margin: 0.5rem 0 0;
  }
  .argument-quote-block {
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 90%;
    blockquote {
      margin: 0;
      &:before {
        content: ">";
        opacity: 0.3;
        font-size: 80%;
        margin-left: -0.25em;
        display: inline-block;
      }
    }
    .source {
      text-align: right;
    }
  }
}

#argumentForm {
  .quote-field {
    @extend .max-width-text-container;
    @extend .col;
    font-size: 12px; // keep it small
    margin: 1rem 0 0;
    .quote-text {
      padding-left: 0.2rem;
      margin: 0 0 0.1rem;
      &:before {
        content: ">";
        opacity: 0.3;
        font-size: 80%;
        margin-left: -0.25em;
        display: inline-block;
      }
    }
    .form-group {
      margin: 0;
      input {
        font-size: 12px;
        padding: 0 0.75rem;
      }
    }
  }
}
