$explanation-border-color: rgba(102, 102, 102, 0.08);
$explanation-background: #f7f7f7;

.explanations-wrapper {
  @include media-breakpoint-up(sm) {
    margin-top: 1.5rem;
    background: $explanation-background;
    border-top: 1px solid rgba(102, 102, 102, 0.05);
    border-bottom: 1px solid rgba(102, 102, 102, 0.05);
  }
}

// These are places we display the quote with a leading >
.hypothesis-quotes-block,
.citation-quotes-block,
.quote-field {
  blockquote {
    // font-style: italic;
    color: $gray-600;
    margin: 0.75em 0 0.2em 0;
    &:before {
      content: ">";
      opacity: 0.3;
      font-size: 80%;
      margin-left: -0.25em;
      margin-right: 0.1rem;
      display: inline-block;
    }
    p {
      display: inline; // markdown wraps text inside of blockquotes in p tags
      margin: 0;
    }
  }
}

// This is where we show quotes with a left border
.explanation-quote-block {
  margin: 1.5em 0;
  border-left: 4px solid #67bdfc;
  blockquote {
    margin: 0;
    p {
      display: inline-block;
      margin: 0 0 1em 1em;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
  }
  .source {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 80%;
    opacity: 0.65;
    padding: 0.25rem 0 0 1rem;
  }
  .source-pub {
    @extend .less-strong;
    font-style: italic;
  }
}

.explanation-show-block {
  // 60px is padding for the column and the explanation-body
  flex: 0 0 $max-width-text + 60px;
  max-width: 100%;
  p {
    margin: 0.5rem 0 0;
  }
  .explanation-body {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid $explanation-border-color;
    border-bottom: 1px solid $explanation-border-color;
  }
  .explanation-body,
  .explanation-show-header {
    @include media-breakpoint-up(sm) {
      background: #fff;
      border: 1px solid $explanation-border-color;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .explanation-show-header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  @include media-breakpoint-up(sm) {
    // margin-top: 1.5rem;
    .explanation-show-header {
      border-bottom: none;
    }
  }
}

#explanationPreview {
  padding-bottom: 2em;
  .preview-text {
    margin-bottom: -1em;
  }
}

#explanationForm {
  .explanation-text-label {
    font-family: $font-family-sans-serif;
    font-weight: 500;
    line-height: 1.2;
    font-size: 24px;
  }
  .quote-field {
    @extend .max-width-text-container;
    @extend .col;
    font-size: 12px; // keep it small
    margin: 1rem 0 0;
    .quote-text {
      padding-left: 0.3rem;
      line-height: 1.25;
    }
    .form-group {
      margin: 0;
      input {
        font-size: 12px;
        padding: 0.2rem 0.7rem;
        height: auto;
      }
    }
  }
  .removed-quotes {
    opacity: 0.5;
    h4 {
      font-size: 1.25rem;
      margin: 1rem 0 -0.75rem; // remove the padding from the first quote-field
    }
  }
}

.citation-quotes-block {
  font-size: 90%;
  padding: 0 0.5rem 0.25rem;
  background: $gray-100;
  border: 1px solid $gray-300;
  border-bottom: none; // hack to fix table top double up

  @include media-breakpoint-down(sm) {
    background: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 0.5rem 0 0.3rem;
  }
}

.citation-editable-fields {
  @include media-breakpoint-up(sm) {
    border: 1px solid $table-border-color;
    padding: 7px 15px 0; // form fields have a bottom margin
  }
}
