.hypothesis-quotes-block {
  font-size: 90%;
  padding: 0 0.5rem 0.25em 0.5rem;
  background: $gray-100;
  border: 1px solid $gray-300;
  border-bottom: none; // hack to fix table top double up
  blockquote {
    margin: 0.75em 0 0 0;
    &:before {
      content: ">";
      opacity: 0.3;
      font-size: 80%;
      margin-left: -0.25em;
      display: inline-block;
    }
  }

  @include media-breakpoint-down(sm) {
    background: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 0;
  }
}

.hypothesis-score {
  form {
    display: inline-block;
  }
  .score-item {
    font-size: 80%;
    padding: 0.25em;
    margin-right: 0;
    color: #212529 !important;
    &.active {
      font-weight: bold;
      text-decoration: underline;
    }
  }
  .current-avg {
    display: inline-block;
    font-size: 80%;
  }
}

.citation-show-more-wrapper {
  a {
    display: block;
    position: relative;
    width: 100%;
    padding: 0.5rem 1.25rem 0;
    opacity: 0.6;
    text-align: right;
    line-height: 1;
    &:hover,
    &:active,
    &.active {
      opacity: 1;
    }
    strong {
      font-weight: 800;
      position: absolute;
      right: 0.25rem;
      top: 50%;
      margin-top: -0.25rem;
    }
  }
}

.citation-score-panel {
  position: relative;
  border-top: 0;
  padding: 1px 0.2rem 0.2rem !important; // left/right padding updates require inline citation-score style update
  font-size: 90%;
  .score-text {
    display: block;
    width: 100%;
    color: $gray-400;
    padding: 0 0 0.2rem;
  }
  .citation-score {
    position: absolute;
    top: 0;
    font-size: 90%;
    z-index: 1;
  }
  .score-pointer {
    display: block;
    position: absolute;
    top: 1.2rem;
    left: 50%;
    margin-left: -0.4rem;
    width: 0;
    height: 0;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-top: 0.4rem solid $gray-600;
  }
  .score-tick {
    height: 4px;
    background: $gray-400;
    display: block;
    width: 1px;
    position: absolute;
    top: 1.4rem;
  }
  // Honestly, I don't understand why it's off by 1, but whatever
  .score-tick:nth-of-type(2) {
    left: 12.5%;
  }
  .score-tick:nth-of-type(3) {
    left: 25%;
  }
  .score-tick:nth-of-type(4) {
    left: 37.5%;
  }
  .score-tick:nth-of-type(5) {
    left: 50%;
  }
  .score-tick:nth-of-type(6) {
    left: 62.5%;
  }
  .score-tick:nth-of-type(7) {
    left: 75%;
  }
  .score-tick:nth-of-type(8) {
    left: 87.5%;
  }
  .score-tick:nth-of-type(2n) {
    height: 6px;
    margin-top: -2px;
  }

  hr {
    margin: 0;
    border: none;
    height: 1px;
    background: $gray-400;
  }
}
