<div class="col argument-show-block mt-4">
  <div class="argument-body">
    <div class="argument-quote-block">
      <blockquote>
        <p>The Mariel boatlift was a mass emigration of Cubans, who traveled from Cuba's Mariel Harbor to the United States between 15 April and 31 October 1980.</p>
      </blockquote><span class="source"><span title="https://en.wikipedia.org/wiki/Mariel_boatlift"><span class="source-pub">Wikipedia:</span> <span class="source-title">Mariel boatlift</span></span></span>
    </div>
    <p>Because this was a dramatic and singular event, there are many studies on its effect. There is a general agreement that,</p>
    <div class="argument-quote-block">
      <blockquote>
        <p>Aside from the unemployment rate rising from 5.0 percent in April 1980 to 7.1 percent in July, the actual damage to the economy was marginal and followed trends across the United States at the time.</p>
      </blockquote><span class="source"><span title="https://en.wikipedia.org/wiki/Mariel_boatlift"><span class="source-pub">Wikipedia:</span> <span class="source-title">Mariel boatlift</span></span></span>
    </div>
    <p>However, when looking specifically at low income residents, the immigration doesn't seem to be as neutral:</p>
    <div class="argument-quote-block">
      <blockquote>
        <p>Given that at least 60% of the Marielitos were high school dropouts, this article specifically examines the wage impact for this low-skill group. This analysis over- turns the prior finding that the Mariel boatlift did not affect Miami’s wage structure. The wage of high school dropouts in Miami dropped dramatically, by 10 to 30%</p>
      </blockquote>
        <span class="source"><span title="https://scholar.harvard.edu/files/gborjas/files/ilrr2017.pdf"><span class="source-pub">Industrial and Labor Relations Review:</span> <span class="source-title">The Wage Impact of the Marielitos: a Reappraisal</span></span></span>
      <span class="challenge">
        <span class="text-warning">This citation has been challenged</span> - <a href="#">view the argument</a>
      </span>
    </div>
    <p>In general, this appears to be a trend, with immigration hurting low skilled workers.</p>
  </div>
</div>
