%h1
  Convus

%p
  A platform to seek the truth.

%p.mt-4
  Propose hypotheses > Get hypothesis approved > Hypothesis gets improved by someone else

%p.mt-4
  Objectives, in no particular order:
%ul
  %li
    Provide a way to learn about other people's views
  %li
    Provide a way to check whether your opinions hold up to inspection
  %li
    Iterate toward better answers. Don't expect the best hypothesis first - instead, make it possible to build on what has been done before.

%p.mt-4
  %em
    Convus is open source. Check out #{link_to "the web app repository", "https://github.com/convus/convus_webapp"} and #{link_to "the content repository", "https://github.com/convus/convus_content"}.
