.max-width-text-container
  %h1
    Convus

  %p.mt-4
    A website to improve our collective knowledge

  %p.mt-4 General process:

  %ul
    %li
      When a hypothesis is submitted, a GitHub pull request is created - which moderators review and approve (if the hypothesis is valid, ie falsifiable)
    %li
      Hypotheses are given a score based on the quality what they cite
    %li
      Disagree with a hypothesis? Submit a hypothesis with a better citation to refute it

  %hr.mt-big

  %p.mt-4
    Some broad objectives:
  %ul
    %li
      Offer a platform for scientific communication and the public consideration of scientific research
    %li
      Create productive discussion based on evidence and outcomes
    %li
      Encourage applying logic and reasoning to learn about other viewpoints and challenge your own opinions
    -# Iteratively improve
    %li Quality > novelty
    %li Better than before > perfection

  %hr.mt-big

  %p.mt-4
    %strong
      Convus is open source.
    Check out #{link_to "the web app repository", "https://github.com/convus/convus_webapp"} and #{link_to "the content repository", "https://github.com/convus/convus_content"}.
