%h1
  Convus

%p.mt-4
  A platform to seek the truth.

%p.mt-4
  Propose hypotheses > Hypothesis is approved > Hypothesis improved and/or refuted by others

%p.mt-4
  Objectives, in no particular order:
%ul
  %li
    Only reward evidence
    -# See what's there, not what you wish was there - or something. There's a quote for this, maybe?
  %li
    Provide a way to learn about other people's views
  %li
    Offer a way to check whether your opinions hold up to inspection
  %li
    Iterate. Not perfection, just move things forward

%p.mt-big
  %em
    Convus is open source. Check out #{link_to "the web app repository", "https://github.com/convus/convus_webapp"} and #{link_to "the content repository", "https://github.com/convus/convus_content"}.
