---
http_interactions:
  - request:
      method: get
      uri: https://app.cloud66.com/api/3/stacks/yyyyyyy/jobs
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer xxxxxxxxx
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"064a2a36688ff94a134fa415148d79a1"
      body:
        encoding: ASCII-8BIT
        string: '{"response":[{"uid":"xxxxxxxx","name":"Reconcile
          Flat file database","type":"RakeJob","cron":null,"status":2,"params":{"task":"reconcile_flat_file_database"},"created_at":"2020-09-22
          23:35:19 UTC","updated_at":"2020-09-22 23:35:19 UTC"}],"count":1,"pagination":{"previous":null,"next":null,"current":1,"per_page":30,"count":1,"pages":1}}'
    recorded_at: Fri, 13 Nov 2020 18:49:16 GMT
recorded_with: VCR 6.0.0
