---
http_interactions:
  - request:
      method: post
      uri: https://app.cloud66.com/api/3/stacks/yyyyyy/jobs/zzzzzz/run_now
      body:
        encoding: UTF-8
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer xxxxxxx
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"8673a43671219e23a1358744c1389bd4"
      body:
        encoding: ASCII-8BIT
        string: '{"response":{"id":99999,"user":"ffffff","resource_type":"stack","action":"job_run_now","resource_id":"65956","started_via":"api","started_at":"2020-11-13T18:52:20Z","finished_at":null,"finished_success":null,"finished_message":null,"finished_result":null}}'
    recorded_at: Fri, 13 Nov 2020 18:52:19 GMT
recorded_with: VCR 6.0.0
