---
http_interactions:
  - request:
      method: get
      uri: https://api.github.com/repos/convus/convus_content/git/refs
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxx
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 200 OK
        Etag:
          - W/"ed6d2b07c9a3bed74f01a9ef8afe08c9ad5475080d6a883bbb436b6013eefab7"
        Last-Modified:
          - Tue, 19 Jan 2021 17:43:28 GMT
        X-Poll-Interval:
          - "300"
        X-Oauth-Scopes:
          - repo, workflow
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Media-Type:
          - github.v3; format=json
        Link:
          - <https://api.github.com/repositories/295843610/git/refs?page=2>; rel="next",
            <https://api.github.com/repositories/295843610/git/refs?page=5>; rel="last"
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4969"
        X-Ratelimit-Reset:
          - "1611084054"
        X-Ratelimit-Used:
          - "31"
      body:
        encoding: ASCII-8BIT
        string: '[{"ref":"refs/heads/main","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvbWFpbg==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/main","object":{"sha":"a1005c05131cfb0d4d66ba50e7571e61794990e9","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/a1005c05131cfb0d4d66ba50e7571e61794990e9"}},{"ref":"refs/heads/proposed-citation-42","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvcHJvcG9zZWQtY2l0YXRpb24tNDI=","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/proposed-citation-42","object":{"sha":"c46887c462784393729bbed69f9d97c8e28c4dd7","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/c46887c462784393729[...]
  - request:
      method: get
      uri: https://api.github.com/repos/convus/convus_content/pulls?state=open
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxx
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 200 OK
        Etag:
          - '"d02c512f3db212039ecfc0bb88b88328a41c7e390b16ce6a79a6dc282268758f"'
        X-Oauth-Scopes:
          - repo, workflow
        X-Accepted-Oauth-Scopes:
          - ""
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4968"
        X-Ratelimit-Reset:
          - "1611084054"
        X-Ratelimit-Used:
          - "32"
      body:
        encoding: UTF-8
        string: "[]"
    recorded_at: Tue, 19 Jan 2021 18:28:17 GMT
[...]
  - request:
      method: post
      uri: https://api.github.com/repos/convus/convus_content/git/refs
      body:
        encoding: UTF-8
        string: '{"ref":"refs/heads/update-hypothesis-42-with-4","sha":"a1005c05131cfb0d4d66ba50e7571e61794990e9"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxx
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 201 Created
        Etag:
          - '"42a10b7f1831fc044a5ac7d72db2198b70957506cd367deb8b3cfb1a6e8e9b3d"'
        X-Oauth-Scopes:
          - repo, workflow
        X-Accepted-Oauth-Scopes:
          - repo
        Location:
          - https://api.github.com/repos/convus/convus_content/git/refs/heads/update-hypothesis-42-with-4
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4966"
        X-Ratelimit-Reset:
          - "1611084054"
        X-Ratelimit-Used:
          - "34"
      body:
        encoding: UTF-8
        string: '{"ref":"refs/heads/update-hypothesis-42-with-4","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvdXBkYXRlLWh5cG90aGVzaXMtNDItd2l0aC00","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/update-hypothesis-42-with-4","object":{"sha":"a1005c05131cfb0d4d66ba50e7571e61794990e9","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/a1005c05131cfb0d4d66ba50e7571e61794990e9"}}'
    recorded_at: Tue, 19 Jan 2021 18:28:19 GMT
  - request:
      method: get
      uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/testing-github-hypothesis-citation-addition.yml?branch=update-hypothesis-42-with-4
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxx
    response:
      status:
        code: 404
        message: Not Found
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 404 Not Found
        X-Oauth-Scopes:
          - repo, workflow
        X-Accepted-Oauth-Scopes:
          - ""
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4965"
        X-Ratelimit-Reset:
          - "1611084054"
        X-Ratelimit-Used:
          - "35"
      body:
        encoding: ASCII-8BIT
        string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
    recorded_at: Tue, 19 Jan 2021 18:28:19 GMT
  - request:
      method: put
      uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/testing-github-hypothesis-citation-addition.yml
      body:
        encoding: UTF-8
        string:
          '{"branch":"update-hypothesis-42-with-4","content":"LS0tCnRpdGxlOiBUZXN0aW5nIEdpdEh1YiBIeXBvdGhlc2lzIENpdGF0aW9uIGFkZGl0aW9uCmlkOiA0MgpjaXRlZF91cmxzOgotIHVybDogaHR0cHM6Ly9leGFtcGxlLmNvbS9oeXBvdGhlc2lzX2NpdGF0aW9uLTIKICBxdW90ZXM6CiAgLSBTb21lIHF1b3RlIGhlcmUKICBjaGFsbGVuZ2VzOgpuZXdfY2l0ZWRfdXJsOgogIHVybDogaHR0cHM6Ly90ZXN0aW5nLmNvbnZ1cy5vcmcvZXhhbXBsZXMvZXRjCiAgcXVvdGVzOgogIC0gd2hvb29vb29vCiAgY2hhbGxlbmdlczoKcmVmdXRlZF9ieV9oeXBvdGhlc2VzOiBbXQp0b3BpY3M6IFtdCg==","message":"Add
          citation to hypothesis: Testing GitHub Hypothesis Citation addition"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxx
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 201 Created
        Etag:
          - '"4606ff2fd21af522db541c01e32bdad08b1987d40bef9b47de4267639adc7d19"'
        X-Oauth-Scopes:
          - repo, workflow
        X-Accepted-Oauth-Scopes:
          - ""
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4962"
        X-Ratelimit-Reset:
          - "1611084054"
        X-Ratelimit-Used:
          - "38"
      body:
        encoding: UTF-8
        string:
          '{"content":{"name":"testing-github-hypothesis-citation-addition.yml","path":"hypotheses/testing-github-hypothesis-citation-addition.yml","sha":"7d648e4efb0ac5f0bce6f2ef9961ce9d75e0490a","size":304,"url":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/testing-github-hypothesis-citation-addition.yml?ref=update-hypothesis-42-with-4","html_url":"https://github.com/convus/convus_content/blob/update-hypothesis-42-with-4/hypotheses/testing-github-hypothesis-citation-addition.yml","git_url":"https://api.github.com/repos/convus/convus_content/git/blobs/7d648e4efb0ac5f0bce6f2ef9961ce9d75e0490a","download_url":"https://raw.githubusercontent.com/convus/convus_content/update-hypothesis-42-with-4/hypotheses/testing-github-hypothesis-citation-addition.yml","type":"file","_links":{"self":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/testing-github-hypothesis-citation-addition.yml?ref=update-hypothesis-42-with-4","git":"https://api.github.com/repos/convus/convus_content/git/blobs/7d648e4efb0ac5f0bce6f2ef9961ce9d75e0490a","html":"https://github.com/convus/convus_content/blob/update-hypothesis-42-with-4/hypotheses/testing-github-hypothesis-citation-addition.yml"}},"commit":{"sha":"8596875d1c43146c299b27d1ca3e3285bdf9c4f8","node_id":"MDY6Q29tbWl0Mjk1ODQzNjEwOjg1OTY4NzVkMWM0MzE0NmMyOTliMjdkMWNhM2UzMjg1YmRmOWM0Zjg=","url":"https://api.github.com/repos/convus/convus_content/git/commits/8596875d1c43146c299b27d1ca3e3285bdf9c4f8","html_url":"https://github.com/convus/convus_content/commit/8596875d1c43146c299b27d1ca3e3285bdf9c4f8","author":{"name":"Convus
          Bot","email":"bot@convus.org","date":"2021-01-19T18:28:20Z"},"committer":{"name":"Convus
          Bot","email":"bot@convus.org","date":"2021-01-19T18:28:20Z"},"tree":{"sha":"53e44e604753f3b903701375b0b960a634fdd46c","url":"https://api.github.com/repos/convus/convus_content/git/trees/53e44e604753f3b903701375b0b960a634fdd46c"},"message":"Add
          citation to hypothesis: Testing GitHub Hypothesis Citation addition","parents":[{"sha":"a1005c05131cfb0d4d66ba50e7571e61794990e9","url":"https://api.github.com/repos/convus/convus_content/git/commits/a1005c05131cfb0d4d66ba50e7571e61794990e9","html_url":"https://github.com/convus/convus_content/commit/a1005c05131cfb0d4d66ba50e7571e61794990e9"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}}'
    recorded_at: Tue, 19 Jan 2021 18:28:20 GMT
  - request:
      method: get
      uri: https://api.github.com/repos/convus/convus_content/contents/citations/testing-convus-org/examples-etc.yml?branch=update-hypothesis-42-with-4
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxx
    response:
      status:
        code: 404
        message: Not Found
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 404 Not Found
        X-Oauth-Scopes:
          - repo, workflow
        X-Accepted-Oauth-Scopes:
          - ""
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4961"
        X-Ratelimit-Reset:
          - "1611084054"
        X-Ratelimit-Used:
          - "39"
      body:
        encoding: ASCII-8BIT
        string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
    recorded_at: Tue, 19 Jan 2021 18:28:21 GMT
  - request:
      method: put
      uri: https://api.github.com/repos/convus/convus_content/contents/citations/testing-convus-org/examples-etc.yml
      body:
        encoding: UTF-8
        string:
          '{"branch":"update-hypothesis-42-with-4","content":"LS0tCnRpdGxlOiBleGFtcGxlcy9ldGMKaWQ6IDUKcGVlcl9yZXZpZXdlZDogZmFsc2UKdXJsX2lzX25vdF9wdWJsaXNoZXI6IGZhbHNlCnVybF9pc19kaXJlY3RfbGlua190b19mdWxsX3RleHQ6IGZhbHNlCnVybDogaHR0cHM6Ly90ZXN0aW5nLmNvbnZ1cy5vcmcvZXhhbXBsZXMvZXRjCnB1YmxpY2F0aW9uX3RpdG[...]
  - request:
      method: post
      uri: https://api.github.com/repos/convus/convus_content/pulls
      body:
        encoding: UTF-8
        string:
          '{"base":"main","head":"update-hypothesis-42-with-4","title":"Add citation
          to hypothesis: Testing GitHub Hypothesis Citation addition","body":"Added
          citation  to: [Testing GitHub Hypothesis Citation addition](https://convus.org/hypotheses/42?hypothesis_citation_id=4)"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxx
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 201 Created
        Etag:
          - '"cae9c743ec5bbdde55c7432c6b76e6203466083161c5bed3567e8cdd5d8b25fc"'
        X-Oauth-Scopes:
          - repo, workflow
        X-Accepted-Oauth-Scopes:
          - ""
        Location:
          - https://api.github.com/repos/convus/convus_content/pulls/136
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4957"
        X-Ratelimit-Reset:
          - "1611084054"
        X-Ratelimit-Used:
          - "43"
      body:
        encoding: UTF-8
        string:
          '{"url":"https://api.github.com/repos/convus/convus_content/pulls/136","id":557626104,"node_id":"MDExOlB1bGxSZXF1ZXN0NTU3NjI2MTA0","html_url":"https://github.com/convus/convus_content/pull/136","diff_url":"https://github.com/convus/convus_content/pull/136.diff","patch_url":"https://github.com/convus/convus_content/pull/136.patch","issue_url":"https://api.github.com/repos/convus/convus_content/issues/136","number":136,"state":"open","locked":false,"title":"Add
          citation to hypothesis: Testing GitHub Hypothesis Citation addition","user":{"login":"convus-bot","id":26616290,"node_id":"MDQ6VXNlcjI2NjE2Mjkw","avatar_url":"https://avatars2.githubusercontent.com/u/26616290?v=4","gravatar_id":"","url":"https://api.github.com/users/convus-bot","html_url":"https://github.com/convus-bot","followers_url":"https://api.github.com/users/convus-bot/followers","following_url":"https://api.github.com/users/convus-bot/following{/other_user}","gists_url":"https://api.github.com/users/convus-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/convus-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus-bot/subscriptions","organizations_url":"https://api.github.com/users/convus-bot/orgs","repos_url":"https://api.github.com/users/convus-bot/repos","events_url":"https://api.github.com/users/convus-bot/events{/privacy}","received_events_url":"https://api.github.com/users/convus-bot/received_events","type":"User","site_admin":false},"body":"Added
          citation  to: [Testing GitHub Hypothesis Citation addition](https://convus.org/hypotheses/42?hypothesis_citation_id=4)","created_at":"2021-01-19T18:28:23Z","updated_at":"2021-01-19T18:28:23Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/convus/convus_content/pulls/136/commits","review_comments_url":"https://api.github.com/repos/convus/convus_content/pulls/136/comments","review_comment_url":"https://api.github.com/repos/convus/convus_content/pulls/comments{/number}","comments_url":"https://api.github.com/repos/convus/convus_content/issues/136/comments","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/2060e68c5b952ada5ecfa60c6eb2ce8207b068c3","head":{"label":"convus:update-hypothesis-42-with-4","ref":"update-hypothesis-42-with-4","sha":"2060e68c5b952ada5ecfa60c6eb2ce8207b068c3","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"repo":{"id":295843610,"node_id":"MDEwOlJlcG9zaXRvcnkyOTU4NDM2MTA=","name":"convus_content","full_name":"convus/convus_content","private":false,"owner":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/convus/convus_content","description":"Content
          for convus.org","fork":false,"url":"https://api.github.com/repos/convus/convus_content","forks_url":"https://api.github.com/repos/convus/convus_content/forks","keys_url":"https://api.github.com/repos/convus/convus_content/keys{/key_id}","collaborators_url":"https://api.github.com/repos/convus/convus_content/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/convus/convus_content/teams","hooks_url":"https://api.github.com/repos/convus/convus_content/hooks","issue_events_url":"https://api.github.com/repos/convus/convus_content/issues/events{/number}","events_url":"https://api.github.com/repos/convus/convus_content/events","assignees_url":"https://api.github.com/repos/convus/convus_content/assignees{/user}","branches_url":"https://api.github.com/repos/convus/convus_content/branches{/branch}","tags_url":"https://api.github.com/repos/convus/convus_content/tags","blobs_url":"https://api.github.com/repos/convus/convus_content/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/convus/convus_content/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/convus/convus_content/git/refs{/sha}","trees_url":"https://api.github.com/repos/convus/convus_content/git/trees{/sha}","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/{sha}","languages_url":"https://api.github.com/repos/convus/convus_content/languages","stargazers_url":"https://api.github.com/repos/convus/convus_content/stargazers","contributors_url":"https://api.github.com/repos/convus/convus_content/contributors","subscribers_url":"https://api.github.com/repos/convus/convus_content/subscribers","subscription_url":"https://api.github.com/repos/convus/convus_content/subscription","commits_url":"https://api.github.com/repos/convus/convus_content/commits{/sha}","git_commits_url":"https://api.github.com/repos/convus/convus_content/git/commits{/sha}","comments_url":"https://api.github.com/repos/convus/convus_content/comments{/number}","issue_comment_url":"https://api.github.com/repos/convus/convus_content/issues/comments{/number}","contents_url":"https://api.github.com/repos/convus/convus_content/contents/{+path}","compare_url":"https://api.github.com/repos/convus/convus_content/compare/{base}...{head}","merges_url":"https://api.github.com/repos/convus/convus_content/merges","archive_url":"https://api.github.com/repos/convus/convus_content/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/convus/convus_content/downloads","issues_url":"https://api.github.com/repos/convus/convus_content/issues{/number}","pulls_url":"https://api.github.com/repos/convus/convus_content/pulls{/number}","milestones_url":"https://api.github.com/repos/convus/convus_content/milestones{/number}","notifications_url":"https://api.github.com/repos/convus/convus_content/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/convus/convus_content/labels{/name}","releases_url":"https://api.github.com/repos/convus/convus_content/releases{/id}","deployments_url":"https://api.github.com/repos/convus/convus_content/deployments","created_at":"2020-09-15T20:37:48Z","updated_at":"2021-01-19T17:43:28Z","pushed_at":"2021-01-19T18:28:22Z","git_url":"git://github.com/convus/convus_content.git","ssh_url":"git@github.com:convus/convus_content.git","clone_url":"https://github.com/convus/convus_content.git","svn_url":"https://github.com/convus/convus_content","homepage":"https://www.convus.org","size":286,"stargazers_count":3,"watchers_count":3,"language":null,"has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":{"key":"cc-by-sa-4.0","name":"Creative
          Commons Attribution Share Alike 4.0 International","spdx_id":"CC-BY-SA-4.0","url":"https://api.github.com/licenses/cc-by-sa-4.0","node_id":"MDc6TGljZW5zZTI2"},"forks":0,"open_issues":2,"watchers":3,"default_branch":"main"}},"base":{"label":"convus:main","ref":"main","sha":"a1005c05131cfb0d4d66ba50e7571e61794990e9","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gist[...]
