---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a8a17ec6668a2e4fc8aeb1c30b036d042f73bfe51c6381d750ff95099602a9ef"
      Last-Modified:
      - Sun, 12 Sep 2021 18:21:49 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/295843610/git/refs?page=2>; rel="next",
        <https://api.github.com/repositories/295843610/git/refs?page=9>; rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4963'
      X-Ratelimit-Reset:
      - '1631641257'
      X-Ratelimit-Used:
      - '37'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"ref":"refs/heads/main","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvbWFpbg==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/main","object":{"sha":"4b3dbba99f482792ba18e2bbe1b60e853cfd57cb","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/4b3dbba99f482792ba18e2bbe1b60e853cfd57cb"}},{"ref":"refs/heads/update-hypothesis-B-with-1","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvdXBkYXRlLWh5cG90aGVzaXMtQi13aXRoLTE=","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/update-hypothesis-B-with-1","object":{"sha":"8dfb30c2fc1ea7a3683ca659b7d77acc07e36fa3","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits[...]
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/update-hypothesis-J-with-1","sha":"4b3dbba99f482792ba18e2bbe1b60e853cfd57cb"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"166c855649ded7a0b9fcb4e680152ebcdb20bbe1db7c3e79bf52f92b627d3e09"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      Location:
      - https://api.github.com/repos/convus/convus_content/git/refs/heads/update-hypothesis-J-with-1
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4962'
      X-Ratelimit-Reset:
      - '1631641257'
      X-Ratelimit-Used:
      - '38'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/update-hypothesis-J-with-1","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvdXBkYXRlLWh5cG90aGVzaXMtSi13aXRoLTE=","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/update-hypothesis-J-with-1","object":{"sha":"4b3dbba99f482792ba18e2bbe1b60e853cfd57cb","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/4b3dbba99f482792ba18e2bbe1b60e853cfd57cb"}}'
  recorded_at: Tue, 14 Sep 2021 17:34:49 GMT
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/J_the-earth-is-roughly-spherical.md?branch=update-hypothesis-J-with-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"096ba89a3ca75477923ee98d8f64fc2b134dd9ca"
      Last-Modified:
      - Sun, 12 Sep 2021 18:21:46 GMT
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4961'
      X-Ratelimit-Reset:
      - '1631641257'
      X-Ratelimit-Used:
      - '39'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"name":"J_the-earth-is-roughly-spherical.md","path":"hypotheses/J_the-earth-is-roughly-spherical.md","sha":"096ba89a3ca75477923ee98d8f64fc2b134dd9ca","size":1354,"url":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/J_the-earth-is-roughly-spherical.md?ref=main","html_url":"https://github.com/convus/convus_content/blob/main/hypotheses/J_the-earth-is-roughly-spherical.md","git_url":"https://api.github.com/repos/convus/convus_content/git/blobs/096ba89a3ca75477923ee98d8f64fc2b134dd9ca","download_url":"https://raw.githubusercontent.com/convus/convus_content/main/hypotheses/J_the-earth-is-roughly-spherical.md","type":"file","content":"LS0tCmlkOiBKCmh5cG90aGVzaXM6IFRoZSBlYXJ0aCBpcyByb3VnaGx5IHNw\naGVyaWNhbAp0b3BpY3M6Ci0gRWFydGgKLSBTcGFjZQpjaXRhdGlvbnM6CiAg\naHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvU3BoZXJpY2FsX0VhcnRo\nOgogICAgdGl0bGU6IFNwaGVyaWNhbCBFYXJ0aAogICAgcHVibGlzaGVkX2Rh\ndGU6IAogICAgcHVibGljYXRpb25fdGl0bGU6IFdpa2lwZWRpYQotLS0KIyMg\nRXhwbGFuYXRpb24gMQoKVGhlcmUgYXJlIG1hbnkgcGllY2VzIG9mIGV2aWRl\nbmNlIHRvIHRoZSByb3VnaGx5IHNwaGVyaWNhbCBzaGFwZSBvZiB0aGUgZWFy\ndGggLSBzdWNoIGFzIHBob3RvcyBmcm9tIHNwYWNlIC0gYnV0IGluIHRlcm1z\nIG9[...]
- request:
    method: delete
    uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/J_the-earth-is-roughly-spherical.md
    body:
      encoding: UTF-8
      string: '{"branch":"update-hypothesis-J-with-1","message":"Deleting file","sha":"096ba89a3ca75477923ee98d8f64fc2b134dd9ca"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8ac72a58e5790a21f3a34be793538e1cfa32d83f685edeabfb045e40e4703ca1"
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4960'
      X-Ratelimit-Reset:
      - '1631641257'
      X-Ratelimit-Used:
      - '40'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"content":null,"commit":{"sha":"dd6ef68ade07f6718ee1c98ff1698dd2f1652bac","node_id":"MDY6Q29tbWl0Mjk1ODQzNjEwOmRkNmVmNjhhZGUwN2Y2NzE4ZWUxYzk4ZmYxNjk4ZGQyZjE2NTJiYWM=","url":"https://api.github.com/repos/convus/convus_content/git/commits/dd6ef68ade07f6718ee1c98ff1698dd2f1652bac","html_url":"https://github.com/convus/convus_content/commit/dd6ef68ade07f6718ee1c98ff1698dd2f1652bac","author":{"name":"Convus
        Bot","email":"bot@convus.org","date":"2021-09-14T17:34:50Z"},"committer":{"name":"Convus
        Bot","email":"bot@convus.org","date":"2021-09-14T17:34:50Z"},"tree":{"sha":"05a610d6b0f2f1dbd0949ec5d8689a1bcb0852d9","url":"https://api.github.com/repos/convus/convus_content/git/trees/05a610d6b0f2f1dbd0949ec5d8689a1bcb0852d9"},"message":"Deleting
        file","parents":[{"sha":"4b3dbba99f482792ba18e2bbe1b60e853cfd57cb","url":"https://api.github.com/repos/convus/convus_content/git/commits/4b3dbba99f482792ba18e2bbe1b60e853cfd57cb","html_url":"https://github.com/convus/convus_content/commit/4b3dbba99f482792ba18e2bbe1b60e853cfd57cb"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}}'
  recorded_at: Tue, 14 Sep 2021 17:34:50 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/contents/citations/wikipedia/spherical-earth.yml?branch=update-hypothesis-J-with-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cd9987bc[...]
- request:
    method: delete
    uri: https://api.github.com/repos/convus/convus_content/contents/citations/wikipedia/spherical-earth.yml
    body:
      encoding: UTF-8
      string: '{"branch":"update-hypothesis-J-with-1","message":"Deleting file","sha":"cd9987bc5638e1e751c3bf7438a462c4b08c3652"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Conte[...]
[...]
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/pulls
    body:
      encoding: UTF-8
      string: '{"base":"main","head":"update-hypothesis-J-with-1","title":"Add explanation
        to hypothesis J: The earth is roughly spherical.","body":"Added explanation
        to: [J: The earth is roughly spherical.](https://convus.org/hypotheses/J?explanation_id=1)"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e0d5a823b4edd89447c6c601b55c5a654a349027eb438743e5460e18bd3ef127"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/convus/convus_content/pulls/250
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4955'
      X-Ratelimit-Reset:
      - '1631641257'
      X-Ratelimit-Used:
      - '45'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/convus/convus_content/pulls/250","id":733889620,"node_id":"PR_kwDOEaI3Gs4rvkRU","html_url":"https://github.com/convus/convus_content/pull/250","diff_url":"https://github.com/convus/convus_content/pull/250.diff","patch_url":"https://github.com/convus/convus_content/pull/250.patch","issue_url":"https://api.github.com/repos/convus/convus_content/issues/250","number":250,"state":"open","locked":false,"title":"Add
        explanation to hypothesis J: The earth is roughly spherical.","user":{"login":"convus-bot","id":26616290,"node_id":"MDQ6VXNlcjI2NjE2Mjkw","avatar_url":"https://avatars.githubusercontent.com/u/26616290?v=4","gravatar_id":"","url":"https://api.github.com/users/convus-bot","html_url":"https://github.com/convus-bot","followers_url":"https://api.github.com/users/convus-bot/followers","following_url":"https://api.github.com/users/convus-bot/following{/other_user}","gists_url":"https://api.github.com/users/convus-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/convus-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus-bot/subscriptions","organizations_url":"https://api.github.com/users/convus-bot/orgs","repos_url":"https://api.github.com/users/convus-bot/repos","events_url":"https://api.github.com/users/convus-bot/events{/privacy}","received_events_url":"https://api.github.com/users/convus-bot/received_events","type":"User","site_admin":false},"body":"Added
        explanation to: [J: The earth is roughly spherical.](https://convus.org/hypotheses/J?explanation_id=1)","created_at":"2021-09-14T17:34:52Z","updated_at":"2021-09-14T17:34:52Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/convus/convus_content/pulls/250/commits","review_comments_url":"https://api.github.com/repos/convus/convus_content/pulls/250/comments","review_comment_url":"https://api.github.com/repos/convus/convus_content/pulls/comments{/number}","comments_url":"https://api.github.com/repos/convus/convus_content/issues/250/comments","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/3cff969de6b45271d0876f067a10ba574fd8769a","head":{"label":"convus:update-hypothesis-J-with-1","ref":"update-hypothesis-J-with-1","sha":"3cff969de6b45271d0876f067a10ba574fd8769a","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"repo":{"id":295843610,"node_id":"MDEwOlJlcG9zaXRvcnkyOTU4NDM2MTA=","name":"convus_content","full_name":"convus/convus_content","private":false,"owner":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/convus/convus_content","description":"Content
        for convus.org","fork":false,"url":"https://api.github.com/repos/convus/convus_content","forks_url":"https://api.github.com/repos/convus/convus_content/forks","keys_url":"https://api.github.com/repos/convus/convus_content/keys{/key_id}","collaborators_url":"https://api.github.com/repos/convus/convus_content/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/convus/convus_content/teams","hooks_url":"https://api.github.com/repos/convus/convus_content/hooks","issue_events_url":"https://api.github.com/repos/convus/convus_content/issues/events{/number}","events_url":"https://api.github.com/repos/convus/convus_content/events","assignees_url":"https://api.github.com/repos/convus/convus_content/assignees{/user}","branches_url":"https://api.github.com/repos/convus/convus_content/branches{/branch}","tags_url":"https://api.github.com/repos/convus/convus_content/tags","blobs_url":"https://api.github.com/repos/convus/convus_content/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/convus/convus_content/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/convus/convus_content/git/refs{/sha}","trees_url":"https://api.github.com/repos/convus/convus_content/git/trees{/sha}","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/{sha}","languages_url":"https://api.github.com/repos/convus/convus_content/languages","stargazers_url":"https://api.github.com/repos/convus/convus_content/stargazers","contributors_url":"https://api.github.com/repos/convus/convus_content/contributors","subscribers_url":"https://api.github.com/repos/convus/convus_content/subscribers","subscription_url":"https://api.github.com/repos/convus/convus_content/subscription","commits_url":"https://api.github.com/repos/convus/convus_content/commits{/sha}","git_commits_url":"https://api.github.com/repos/convus/convus_content/git/commits{/sha}","comments_url":"https://api.github.com/repos/convus/convus_content/comments{/number}","issue_comment_url":"https://api.github.com/repos/convus/convus_content/issues/comments{/number}","contents_url":"https://api.github.com/repos/convus/convus_content/contents/{+path}","compare_url":"https://api.github.com/repos/convus/convus_content/compare/{base}...{head}","merges_url":"https://api.github.com/repos/convus/convus_content/merges","archive_url":"https://api.github.com/repos/convus/convus_content/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/convus/convus_content/downloads","issues_url":"https://api.github.com/repos/convus/convus_content/issues{/number}","pulls_url":"https://api.github.com/repos/convus/convus_content/pulls{/number}","milestones_url":"https://api.github.com/repos/convus/convus_content/milestones{/number}","notifications_url":"https://api.github.com/repos/convus/convus_content/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/convus/convus_content/labels{/name}","releases_url":"https://api.github.com/repos/convus/convus_content/releases{/id}","deployments_url":"https://api.github.com/repos/convus/convus_content/deployments","created_at":"2020-09-15T20:37:48Z","updated_at":"2021-09-12T18:21:49Z","pushed_at":"2021-09-14T17:34:51Z","git_url":"git://github.com/convus/convus_content.git","ssh_url":"git@github.com:convus/convus_content.git","clone_url":"https://github.com/convus/convus_content.git","svn_url":"https://github.com/convus/convus_content","homepage":"https://www.convus.org","size":706,"stargazers_count":3,"watchers_count":3,"language":"Ruby","has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":3,"license":{"key":"cc-by-sa-4.0","name":"Creative
        Commons Attribution Share Alike 4.0 International","spdx_id":"CC-BY-SA-4.0","url":"https://api.github.com/licenses/cc-by-sa-4.0","node_id":"MDc6TGljZW5zZTI2"},"allow_forking":true,"forks":0,"open_issues":3,"watchers":3,"default_branch":"main"}},"base":{"label":"convus:main","ref":"main","sha":"4b3dbba99f482792ba18e2bbe1b60e853cfd57cb","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists[...]
