---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a6610f8db066900d50df19656f2e8b93a62bce24ac18d9288b30425f4a40858f"
      Last-Modified:
      - Fri, 10 Sep 2021 16:55:43 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/295843610/git/refs?page=2>; rel="next",
        <https://api.github.com/repositories/295843610/git/refs?page=9>; rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1631472471'
      X-Ratelimit-Used:
      - '21'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"ref":"refs/heads/first-markdown-attempt","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvZmlyc3QtbWFya2Rvd24tYXR0ZW1wdA==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/first-markdown-attempt","object":{"sha":"bc6dc54938a43b45c8a7a3596cbfffb84f852848","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/bc6dc54938a43b45c8a7a3596cbfffb84f852848"}},{"ref":"refs/heads/main","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvbWFpbg==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/main","object":{"sha":"8a767d3ab1a05b3848ec286cbedae60678ad0cb3","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/8a767d3ab1a05b3848ec286cbedae60678ad0cb3"}},{"ref":"refs/pull/1/head","[...]
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/update-hypothesis-J-with-1","sha":"8a767d3ab1a05b3848ec286cbedae60678ad0cb3"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0b2addc62a4d28ab3d4f04c647c4dc47531a86c697acaaa07e5a6a482091949d"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      Location:
      - https://api.github.com/repos/convus/convus_content/git/refs/heads/update-hypothesis-J-with-1
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1631472471'
      X-Ratelimit-Used:
      - '22'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/update-hypothesis-J-with-1","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvdXBkYXRlLWh5cG90aGVzaXMtSi13aXRoLTE=","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/update-hypothesis-J-with-1","object":{"sha":"8a767d3ab1a05b3848ec286cbedae60678ad0cb3","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/8a767d3ab1a05b3848ec286cbedae60678ad0cb3"}}'
  recorded_at: Sun, 12 Sep 2021 18:11:19 GMT
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/J_the-earth-is-roughly-spherical.md?branch=update-hypothesis-J-with-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"168c7b1480bd4ec035e45952c97ef8e8c3b13752"
      Last-Modified:
      - Fri, 10 Sep 2021 16:55:39 GMT
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1631472471'
      X-Ratelimit-Used:
      - '23'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"name":"J_the-earth-is-roughly-spherical.md","path":"hypotheses/J_the-earth-is-roughly-spherical.md","sha":"168c7b1480bd4ec035e45952c97ef8e8c3b13752","size":1283,"url":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/J_the-earth-is-roughly-spherical.md?ref=main","html_url":"https://github.com/convus/convus_content/blob/main/hypotheses/J_the-earth-is-roughly-spherical.md","git_url":"https://api.github.com/repos/convus/convus_content/git/blobs/168c7b1480bd4ec035e45952c97ef8e8c3b13752","download_url":"https://raw.githubusercontent.com/convus/convus_content/main/hypotheses/J_the-earth-is-roughly-spherical.md","type":"file","content":"LS0tCnRpdGxlOiBUaGUgZWFydGggaXMgcm91Z2hseSBzcGhlcmljYWwKaWQ6\nIEoKY2l0ZWRfdXJsczoKbmV3X2NpdGVkX3VybDoKdG9waWNzOiBbXQpleHBs\nYW5hdGlvbnM6CiAgJzEnOgogICAgaWQ6IDEKICAgIHRleHQ6IHwKICAgICAg\nVGhlcmUgYXJlIG1hbnkgcGllY2VzIG9mIGV2aWRlbmNlIHRvIHRoZSByb3Vn\naGx5IHNwaGVyaWNhbCBzaGFwZSBvZiB0aGUgZWFydGggLSBzdWNoIGFzIHBo\nb3RvcyBmcm9tIHNwYWNlIC0gYnV0IGluIHRlcm1zIG9mIHBlcnNvbmFsbHkg\ndmVyaWZpYWJsZSBldmlkZW5jZSwgdGltZXpvbmVzIGRlbW9uc3RyYXRlIHRo\nZSByb3RhdGlvbiBvZiB0aGUgZWFydGg6CgogICAgICA+IE9uIGEgZmxhdCBF\nYXJ[...]
- request:
    method: delete
    uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/J_the-earth-is-roughly-spherical.md
    body:
      encoding: UTF-8
      string: '{"branch":"update-hypothesis-J-with-1","message":"Deleting file","sha":"168c7b1480bd4ec035e45952c97ef8e8c3b13752"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bc0e4cb674243466a921fbbe323a20526c80faf7567c52bb1404a4d334b3440d"
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1631472471'
      X-Ratelimit-Used:
      - '24'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"content":null,"commit":{"sha":"7d9084672c1062d8e50556fbdee9c56493f89097","node_id":"MDY6Q29tbWl0Mjk1ODQzNjEwOjdkOTA4NDY3MmMxMDYyZDhlNTA1NTZmYmRlZTljNTY0OTNmODkwOTc=","url":"https://api.github.com/repos/convus/convus_content/git/commits/7d9084672c1062d8e50556fbdee9c56493f89097","html_url":"https://github.com/convus/convus_content/commit/7d9084672c1062d8e50556fbdee9c56493f89097","author":{"name":"Convus
        Bot","email":"bot@convus.org","date":"2021-09-12T18:11:20Z"},"committer":{"name":"Convus
        Bot","email":"bot@convus.org","date":"2021-09-12T18:11:20Z"},"tree":{"sha":"bf7e6bf84c72b167d10c4d7dbf4de9c8192d7e36","url":"https://api.github.com/repos/convus/convus_content/git/trees/bf7e6bf84c72b167d10c4d7dbf4de9c8192d7e36"},"message":"Deleting
        file","parents":[{"sha":"8a767d3ab1a05b3848ec286cbedae60678ad0cb3","url":"https://api.github.com/repos/convus/convus_content/git/commits/8a767d3ab1a05b3848ec286cbedae60678ad0cb3","html_url":"https://github.com/convus/convus_content/commit/8a767d3ab1a05b3848ec286cbedae60678ad0cb3"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}}'
  recorded_at: Sun, 12 Sep 2021 18:11:20 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/pulls
    body:
      encoding: UTF-8
      string: '{"base":"main","head":"update-hypothesis-J-with-1","title":"Add explanation
        to hypothesis J: The earth is roughly spherical.","body":"Added explanation
        to: [J: The earth is roughly spherical.](https://convus.org/hypotheses/J?explanation_id=1)"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"62e13753ad997a81a97c69262de7c9bc79e141b6062af7e7c022e7d91e81c98e"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/convus/convus_content/pulls/243
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1631472471'
      X-Ratelimit-Used:
      - '26'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/convus/convus_content/pulls/243","id":732204105,"node_id":"MDExOlB1bGxSZXF1ZXN0NzMyMjA0MTA1","html_url":"https://github.com/convus/convus_content/pull/243","diff_url":"https://github.com/convus/convus_content/pull/243.diff","patch_url":"https://github.com/convus/convus_content/pull/243.patch","issue_url":"https://api.github.com/repos/convus/convus_content/issues/243","number":243,"state":"open","locked":false,"title":"Add
        explanation to hypothesis J: The earth is roughly spherical.","user":{"login":"convus-bot","id":26616290,"node_id":"MDQ6VXNlcjI2NjE2Mjkw","avatar_url":"https://avatars.githubusercontent.com/u/26616290?v=4","gravatar_id":"","url":"https://api.github.com/users/convus-bot","html_url":"https://github.com/convus-bot","followers_url":"https://api.github.com/users/convus-bot/followers","following_url":"https://api.github.com/users/convus-bot/following{/other_user}","gists_url":"https://api.github.com/users/convus-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/convus-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus-bot/subscriptions","organizations_url":"https://api.github.com/users/convus-bot/orgs","repos_url":"https://api.github.com/users/convus-bot/repos","events_url":"https://api.github.com/users/convus-bot/events{/privacy}","received_events_url":"https://api.github.com/users/convus-bot/received_events","type":"User","site_admin":false},"body":"Added
        explanation to: [J: The earth is roughly spherical.](https://convus.org/hypotheses/J?explanation_id=1)","created_at":"2021-09-12T18:11:21Z","updated_at":"2021-09-12T18:11:21Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/convus/convus_content/pulls/243/commits","review_comments_url":"https://api.github.com/repos/convus/convus_content/pulls/243/comments","review_comment_url":"https://api.github.com/repos/convus/convus_content/pulls/comments{/number}","comments_url":"https://api.github.com/repos/convus/convus_content/issues/243/comments","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/691b45778d6b36703efd95dba2d016b1db036e6b","head":{"label":"convus:update-hypothesis-J-with-1","ref":"update-hypothesis-J-with-1","sha":"691b45778d6b36703efd95dba2d016b1db036e6b","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"repo":{"id":295843610,"node_id":"MDEwOlJlcG9zaXRvcnkyOTU4NDM2MTA=","name":"convus_content","full_name":"convus/convus_content","private":false,"owner":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/convus/convus_content","description":"Content
        for convus.org","fork":false,"url":"https://api.github.com/repos/convus/convus_content","forks_url":"https://api.github.com/repos/convus/convus_content/forks","keys_url":"https://api.github.com/repos/convus/convus_content/keys{/key_id}","collaborators_url":"https://api.github.com/repos/convus/convus_content/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/convus/convus_content/teams","hooks_url":"https://api.github.com/repos/convus/convus_content/hooks","issue_events_url":"https://api.github.com/repos/convus/convus_content/issues/events{/number}","events_url":"https://api.github.com/repos/convus/convus_content/events","assignees_url":"https://api.github.com/repos/convus/convus_content/assignees{/user}","branches_url":"https://api.github.com/repos/convus/convus_content/branches{/branch}","tags_url":"https://api.github.com/repos/convus/convus_content/tags","blobs_url":"https://api.github.com/repos/convus/convus_content/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/convus/convus_content/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/convus/convus_content/git/refs{/sha}","trees_url":"https://api.github.com/repos/convus/convus_content/git/trees{/sha}","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/{sha}","languages_url":"https://api.github.com/repos/convus/convus_content/languages","stargazers_url":"https://api.github.com/repos/convus/convus_content/stargazers","contributors_url":"https://api.github.com/repos/convus/convus_content/contributors","subscribers_url":"https://api.github.com/repos/convus/convus_content/subscribers","subscription_url":"https://api.github.com/repos/convus/convus_content/subscription","commits_url":"https://api.github.com/repos/convus/convus_content/commits{/sha}","git_commits_url":"https://api.github.com/repos/convus/convus_content/git/commits{/sha}","comments_url":"https://api.github.com/repos/convus/convus_content/comments{/number}","issue_comment_url":"https://api.github.com/repos/convus/convus_content/issues/comments{/number}","contents_url":"https://api.github.com/repos/convus/convus_content/contents/{+path}","compare_url":"https://api.github.com/repos/convus/convus_content/compare/{base}...{head}","merges_url":"https://api.github.com/repos/convus/convus_content/merges","archive_url":"https://api.github.com/repos/convus/convus_content/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/convus/convus_content/downloads","issues_url":"https://api.github.com/repos/convus/convus_content/issues{/number}","pulls_url":"https://api.github.com/repos/convus/convus_content/pulls{/number}","milestones_url":"https://api.github.com/repos/convus/convus_content/milestones{/number}","notifications_url":"https://api.github.com/repos/convus/convus_content/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/convus/convus_content/labels{/name}","releases_url":"https://api.github.com/repos/convus/convus_content/releases{/id}","deployments_url":"https://api.github.com/repos/convus/convus_content/deployments","created_at":"2020-09-15T20:37:48Z","updated_at":"2021-09-10T16:55:43Z","pushed_at":"2021-09-12T18:11:20Z","git_url":"git://github.com/convus/convus_content.git","ssh_url":"git@github.com:convus/convus_content.git","clone_url":"https://github.com/convus/convus_content.git","svn_url":"https://github.com/convus/convus_content","homepage":"https://www.convus.org","size":662,"stargazers_count":3,"watchers_count":3,"language":"Ruby","has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":3,"license":{"key":"cc-by-sa-4.0","name":"Creative
        Commons Attribution Share Alike 4.0 International","spdx_id":"CC-BY-SA-4.0","url":"https://api.github.com/licenses/cc-by-sa-4.0","node_id":"MDc6TGljZW5zZTI2"},"forks":0,"open_issues":3,"watchers":3,"default_branch":"main"}},"base":{"label":"convus:main","ref":"main","sha":"8a767d3ab1a05b3848ec286cbedae60678ad0cb3","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists[...]
