---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"48dd5ab3bf0f729061bbe950f8deba5ee38b52d13a484cf02e469412dd86789d"
      Last-Modified:
      - Wed, 27 Jan 2021 04:32:23 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/295843610/git/refs?page=2>; rel="next",
        <https://api.github.com/repositories/295843610/git/refs?page=6>; rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4936'
      X-Ratelimit-Reset:
      - '1629926713'
      X-Ratelimit-Used:
      - '64'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"ref":"refs/heads/main","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvbWFpbg==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/main","object":{"sha":"7e4a2cc6a29d248025ad8635acb1f27503d6a548","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/7e4a2cc6a29d248025ad8635acb1f27503d6a548"}},{"ref":"refs/pull/1/head","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvcHVsbC8xL2hlYWQ=","url":"https://api.github.com/repos/convus/convus_content/git/refs/pull/1/head","object":{"sha":"d43a84ae7098200134d8a36ef1099d99d26a581e","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/d43a84ae7098200134d8a36ef1099d99d26a581e"}},{"ref":"refs/pull/2/head"[...]
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/pulls?state=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d02c512f3db212039ecfc0bb88b88328a41c7e390b16ce6a79a6dc282268758f"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4935'
      X-Ratelimit-Reset:
      - '1629926713'
      X-Ratelimit-Used:
      - '65'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 25 Aug 2021 20:34:51 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/update-hypothesis-1Q5-with-278","sha":"7e4a2cc6a29d248025ad8635acb1f27503d6a548"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"51f417cba21de4bc208707467d323bc216f90eced1e212a2fb23abeb8bd534f9"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      Location:
      - https://api.github.com/repos/convus/convus_content/git/refs/heads/update-hypothesis-1Q5-with-278
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4933'
      X-Ratelimit-Reset:
      - '1629926713'
      X-Ratelimit-Used:
      - '67'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/update-hypothesis-1Q5-with-278","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvdXBkYXRlLWh5cG90aGVzaXMtMVE1LXdpdGgtMjc4","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/update-hypothesis-1Q5-with-278","object":{"sha":"7e4a2cc6a29d248025ad8635acb1f27503d6a548","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/7e4a2cc6a29d248025ad8635acb1f27503d6a548"}}'
  recorded_at: Wed, 25 Aug 2021 20:34:52 GMT
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/testing-github-hypothesis-citation-addition.yml?branch=update-hypothesis-1Q5-with-278
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4932'
      X-Ratelimit-Reset:
      - '1629926713'
      X-Ratelimit-Used:
      - '68'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
  recorded_at: Wed, 25 Aug 2021 20:34:52 GMT
- request:
    method: put
    uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/testing-github-hypothesis-citation-addition.yml
    body:
      encoding: UTF-8
      string: '{"branch":"update-hypothesis-1Q5-with-278","content":"LS0tCnRpdGxlOiBUZXN0aW5nIEdpdEh1YiBIeXBvdGhlc2lzIENpdGF0aW9uIGFkZGl0aW9uCmlkOiAxUTUKY2l0ZWRfdXJsczoKLSB1cmw6IGh0dHBzOi8vZXhhbXBsZS5jb20vaHlwb3RoZXNpc19jaXRhdGlvbi0yCiAgcXVvdGVzOgogIC0gU29tZSBxdW90ZSBoZXJlCiAgY2hhbGxlbmdlczoKbmV3X2NpdGVkX3VybDoKICB1cmw6IGh0dHBzOi8vdGVzdGluZy5jb252dXMub3JnL2V4YW1wbGVzL2V0YwogIHF1b3RlczoKICAtIHdob29vb29vbwogIGNoYWxsZW5nZXM6CnRvcGljczogW10K","message":"Add
        challenge to hypothesis: Testing GitHub Hypothesis Citation addition"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a803d54d2fc162931663945adedf4c13278e51b07835a277c86e4e05e2e14eba"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4931'
      X-Ratelimit-Reset:
      - '1629926713'
      X-Ratelimit-Used:
      - '69'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"content":{"name":"testing-github-hypothesis-citation-addition.yml","path":"hypotheses/testing-github-hypothesis-citation-addition.yml","sha":"a76e670108c67a80522e3f8cb01b536d553b4689","size":279,"url":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/testing-github-hypothesis-citation-addition.yml?ref=update-hypothesis-1Q5-with-278","html_url":"https://github.com/convus/convus_content/blob/update-hypothesis-1Q5-with-278/hypotheses/testing-github-hypothesis-citation-addition.yml","git_url":"https://api.github.com/repos/convus/convus_content/git/blobs/a76e670108c67a80522e3f8cb01b536d553b4689","download_url":"https://raw.githubusercontent.com/convus/convus_content/update-hypothesis-1Q5-with-278/hypotheses/testing-github-hypothesis-citation-addition.yml","type":"file","_links":{"self":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/testing-github-hypothesis-citation-addition.yml?ref=update-hypothesis-1Q5-with-278","git":"https://api.github.com/repos/convus/convus_content/git/blobs/a76e670108c67a80522e3f8cb01b536d553b4689","html":"https://github.com/convus/convus_content/blob/update-hypothesis-1Q5-with-278/hypotheses/testing-github-hypothesis-citation-addition.yml"}},"commit":{"sha":"608c3dd4a281b9d83f7d9bd5448371a883c8b08d","node_id":"MDY6Q29tbWl0Mjk1ODQzNjEwOjYwOGMzZGQ0YTI4MWI5ZDgzZjdkOWJkNTQ0ODM3MWE4ODNjOGIwOGQ=","url":"https://api.github.com/repos/convus/convus_content/git/commits/608c3dd4a281b9d83f7d9bd5448371a883c8b08d","html_url":"https://github.com/convus/convus_content/commit/608c3dd4a281b9d83f7d9bd5448371a883c8b08d","author":{"name":"Convus
        Bot","email":"bot@convus.org","date":"2021-08-25T20:34:52Z"},"committer":{"name":"Convus
        Bot","email":"bot@convus.org","date":"2021-08-25T20:34:52Z"},"tree":{"sha":"e6e0a4909487ca36daa80d0c51e1a4c82163a554","url":"https://api.github.com/repos/convus/convus_content/git/trees/e6e0a4909487ca36daa80d0c51e1a4c82163a554"},"message":"Add
        challenge to hypothesis: Testing GitHub Hypothesis Citation addition","parents":[{"sha":"7e4a2cc6a29d248025ad8635acb1f27503d6a548","url":"https://api.github.com/repos/convus/convus_content/git/commits/7e4a2cc6a29d248025ad8635acb1f27503d6a548","html_url":"https://github.com/convus/convus_content/commit/7e4a2cc6a29d248025ad8635acb1f27503d6a548"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}}'
  recorded_at: Wed, 25 Aug 2021 20:34:53 GMT
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/contents/citations/testing-convus-org/examples-etc.yml?branch=update-hypothesis-1Q5-with-278
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4928'
      X-Ratelimit-Reset:
      - '1629926713'
      X-Ratelimit-Used:
      - '72'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
  recorded_at: Wed, 25 Aug 2021 20:34:53 GMT
- request:
    method: put
    uri: https://api.github.com/repos/convus/convus_content/contents/citations/testing-convus-org/examples-etc.yml
    body:
      encoding: UTF-8
      string: '{"branch":"update-hypothesis-1Q5-with-278","content":"LS0tCnRpdGxlOiBleGFtcGxlcy9ldGMKaWQ6IDMxNQpwZWVyX3Jldmlld2VkOiBmYWxzZQp1cmxfaXNfbm90X3B1Ymxpc2hlcjogZmFsc2UKdXJsX2lzX2RpcmVjdF9saW5rX3RvX2Z1bGxfdGV4dDogZmFsc2UKdXJsOiBodHRwczovL3Rlc3RpbmcuY29udnVzLm9yZy9leGFtcGxlcy9ldGMKcHVibGljYXRpb25fdGl0bGU6IHRlc3RpbmcuY[...]
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/pulls
    body:
      encoding: UTF-8
      string: '{"base":"main","head":"update-hypothesis-1Q5-with-278","title":"Add
        challenge to hypothesis: Testing GitHub Hypothesis Citation addition","body":"Added
        citation to: [Testing GitHub Hypothesis Citation addition](https://convus.org/hypotheses/1Q5?hypothesis_citation_id=278)"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e0b7e36b6fd6bfb20d43539e63e6c2653936ea43955fd62ab96126dfe230c424"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/convus/convus_content/pulls/153
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4923'
      X-Ratelimit-Reset:
      - '1629926713'
      X-Ratelimit-Used:
      - '77'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/convus/convus_content/pulls/153","id":719987363,"node_id":"MDExOlB1bGxSZXF1ZXN0NzE5OTg3MzYz","html_url":"https://github.com/convus/convus_content/pull/153","diff_url":"https://github.com/convus/convus_content/pull/153.diff","patch_url":"https://github.com/convus/convus_content/pull/153.patch","issue_url":"https://api.github.com/repos/convus/convus_content/issues/153","number":153,"state":"open","locked":false,"title":"Add
        challenge to hypothesis: Testing GitHub Hypothesis Citation addition","user":{"login":"convus-bot","id":26616290,"node_id":"MDQ6VXNlcjI2NjE2Mjkw","avatar_url":"https://avatars.githubusercontent.com/u/26616290?v=4","gravatar_id":"","url":"https://api.github.com/users/convus-bot","html_url":"https://github.com/convus-bot","followers_url":"https://api.github.com/users/convus-bot/followers","following_url":"https://api.github.com/users/convus-bot/following{/other_user}","gists_url":"https://api.github.com/users/convus-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/convus-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus-bot/subscriptions","organizations_url":"https://api.github.com/users/convus-bot/orgs","repos_url":"https://api.github.com/users/convus-bot/repos","events_url":"https://api.github.com/users/convus-bot/events{/privacy}","received_events_url":"https://api.github.com/users/convus-bot/received_events","type":"User","site_admin":false},"body":"Added
        citation to: [Testing GitHub Hypothesis Citation addition](https://convus.org/hypotheses/1Q5?hypothesis_citation_id=278)","created_at":"2021-08-25T20:34:54Z","updated_at":"2021-08-25T20:34:54Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/convus/convus_content/pulls/153/commits","review_comments_url":"https://api.github.com/repos/convus/convus_content/pulls/153/comments","review_comment_url":"https://api.github.com/repos/convus/convus_content/pulls/comments{/number}","comments_url":"https://api.github.com/repos/convus/convus_content/issues/153/comments","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/e7360686794d75a1c962924a54d24f011d23aeae","head":{"label":"convus:update-hypothesis-1Q5-with-278","ref":"update-hypothesis-1Q5-with-278","sha":"e7360686794d75a1c962924a54d24f011d23aeae","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"repo":{"id":295843610,"node_id":"MDEwOlJlcG9zaXRvcnkyOTU4NDM2MTA=","name":"convus_content","full_name":"convus/convus_content","private":false,"owner":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/convus/convus_content","description":"Content
        for convus.org","fork":false,"url":"https://api.github.com/repos/convus/convus_content","forks_url":"https://api.github.com/repos/convus/convus_content/forks","keys_url":"https://api.github.com/repos/convus/convus_content/keys{/key_id}","collaborators_url":"https://api.github.com/repos/convus/convus_content/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/convus/convus_content/teams","hooks_url":"https://api.github.com/repos/convus/convus_content/hooks","issue_events_url":"https://api.github.com/repos/convus/convus_content/issues/events{/number}","events_url":"https://api.github.com/repos/convus/convus_content/events","assignees_url":"https://api.github.com/repos/convus/convus_content/assignees{/user}","branches_url":"https://api.github.com/repos/convus/convus_content/branches{/branch}","tags_url":"https://api.github.com/repos/convus/convus_content/tags","blobs_url":"https://api.github.com/repos/convus/convus_content/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/convus/convus_content/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/convus/convus_content/git/refs{/sha}","trees_url":"https://api.github.com/repos/convus/convus_content/git/trees{/sha}","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/{sha}","languages_url":"https://api.github.com/repos/convus/convus_content/languages","stargazers_url":"https://api.github.com/repos/convus/convus_content/stargazers","contributors_url":"https://api.github.com/repos/convus/convus_content/contributors","subscribers_url":"https://api.github.com/repos/convus/convus_content/subscribers","subscription_url":"https://api.github.com/repos/convus/convus_content/subscription","commits_url":"https://api.github.com/repos/convus/convus_content/commits{/sha}","git_commits_url":"https://api.github.com/repos/convus/convus_content/git/commits{/sha}","comments_url":"https://api.github.com/repos/convus/convus_content/comments{/number}","issue_comment_url":"https://api.github.com/repos/convus/convus_content/issues/comments{/number}","contents_url":"https://api.github.com/repos/convus/convus_content/contents/{+path}","compare_url":"https://api.github.com/repos/convus/convus_content/compare/{base}...{head}","merges_url":"https://api.github.com/repos/convus/convus_content/merges","archive_url":"https://api.github.com/repos/convus/convus_content/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/convus/convus_content/downloads","issues_url":"https://api.github.com/repos/convus/convus_content/issues{/number}","pulls_url":"https://api.github.com/repos/convus/convus_content/pulls{/number}","milestones_url":"https://api.github.com/repos/convus/convus_content/milestones{/number}","notifications_url":"https://api.github.com/repos/convus/convus_content/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/convus/convus_content/labels{/name}","releases_url":"https://api.github.com/repos/convus/convus_content/releases{/id}","deployments_url":"https://api.github.com/repos/convus/convus_content/deployments","created_at":"2020-09-15T20:37:48Z","updated_at":"2021-01-27T04:32:23Z","pushed_at":"2021-08-25T20:34:53Z","git_url":"git://github.com/convus/convus_content.git","ssh_url":"git@github.com:convus/convus_content.git","clone_url":"https://github.com/convus/convus_content.git","svn_url":"https://github.com/convus/convus_content","homepage":"https://www.convus.org","size":318,"stargazers_count":3,"watchers_count":3,"language":null,"has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":{"key":"cc-by-sa-4.0","name":"Creative
        Commons Attribution Share Alike 4.0 International","spdx_id":"CC-BY-SA-4.0","url":"https://api.github.com/licenses/cc-by-sa-4.0","node_id":"MDc6TGljZW5zZTI2"},"forks":0,"open_issues":2,"watchers":3,"default_branch":"main"}},"base":{"label":"convus:main","ref":"main","sha":"7e4a2cc6a29d248025ad8635acb1f27503d6a548","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists[...]
