---
http_interactions:
  - request:
      method: get
      uri: https://api.github.com/repos/convus/convus_content/git/refs
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxxxxx
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 200 OK
        Etag:
          - W/"2e9ee338b5daeb6a6486a2694236a654a0ec46ccdbd24a8667c0dceba6445b21"
        Last-Modified:
          - Mon, 28 Sep 2020 19:35:50 GMT
        X-Poll-Interval:
          - "300"
        X-Oauth-Scopes:
          - repo
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Media-Type:
          - github.v3; format=json
        Link:
          - <https://api.github.com/repositories/295843610/git/refs?page=2>; rel="next",
            <https://api.github.com/repositories/295843610/git/refs?page=2>; rel="last"
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4999"
        X-Ratelimit-Reset:
          - "1601329314"
        X-Ratelimit-Used:
          - "1"
      body:
        encoding: ASCII-8BIT
        string: '[{"ref":"refs/heads/main","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvbWFpbg==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/main","object":{"sha":"947d9cd3833bec244e2990804a6742e7da598c52","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/947d9cd3833bec244e2990804a6742e7da598c52"}},{"ref":"refs/pull/1/head","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvcHVsbC8xL2hlYWQ=","url":"https://api.github.com/repos/convus/convus_content/git/refs/pull/1/head","object":{"sha":"d43a84ae7098200134d8a36ef1099d99d26a581e","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/d43a84ae7098200134d8a36ef1099d99d26a581e"}},{"ref":"refs/pull/2/head"[...]
  - request:
      method: get
      uri: https://api.github.com/repos/convus/convus_content/pulls?state=open
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxxxxx
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 200 OK
        Etag:
          - '"d02c512f3db212039ecfc0bb88b88328a41c7e390b16ce6a79a6dc282268758f"'
        X-Oauth-Scopes:
          - repo
        X-Accepted-Oauth-Scopes:
          - ""
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4998"
        X-Ratelimit-Reset:
          - "1601329314"
        X-Ratelimit-Used:
          - "2"
      body:
        encoding: UTF-8
        string: "[]"
    recorded_at: Mon, 28 Sep 2020 20:41:55 GMT
[...]
  - request:
      method: post
      uri: https://api.github.com/repos/convus/convus_content/git/refs
      body:
        encoding: UTF-8
        string: '{"ref":"refs/heads/proposed-hypothesis-42","sha":"947d9cd3833bec244e2990804a6742e7da598c52"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxxxxx
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 201 Created
        Etag:
          - '"9b4bd737c801f7c4a03e3418e10f288045b3ad7b7e176bd32b8b6d48e0b2e02a"'
        X-Oauth-Scopes:
          - repo
        X-Accepted-Oauth-Scopes:
          - repo
        Location:
          - https://api.github.com/repos/convus/convus_content/git/refs/heads/proposed-hypothesis-42
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4996"
        X-Ratelimit-Reset:
          - "1601329314"
        X-Ratelimit-Used:
          - "4"
      body:
        encoding: UTF-8
        string: '{"ref":"refs/heads/proposed-hypothesis-42","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvcHJvcG9zZWQtaHlwb3RoZXNpcy00Mg==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/proposed-hypothesis-42","object":{"sha":"947d9cd3833bec244e2990804a6742e7da598c52","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/947d9cd3833bec244e2990804a6742e7da598c52"}}'
    recorded_at: Mon, 28 Sep 2020 20:41:56 GMT
  - request:
      method: put
      uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/testing-github-integration.yml
      body:
        encoding: UTF-8
        string:
          '{"branch":"proposed-hypothesis-42","content":"LS0tCnRpdGxlOiBUZXN0aW5nIEdpdEh1YiBpbnRlZ3JhdGlvbgppZDogNDIKZGlyZWN0X3F1b3RhdGlvbjogZmFsc2UKdGFnX3RpdGxlczogW10KY2l0YXRpb25fdXJsczogW10K","message":"Hypothesis:
          Testing GitHub integration"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxxxxx
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 201 Created
        Etag:
          - '"fbd84504239854515d5aa5708132f636f5dfe4652a50bb7731794e0b6e3ec3f6"'
        X-Oauth-Scopes:
          - repo
        X-Accepted-Oauth-Scopes:
          - ""
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4995"
        X-Ratelimit-Reset:
          - "1601329314"
        X-Ratelimit-Used:
          - "5"
      body:
        encoding: UTF-8
        string:
          '{"content":{"name":"testing-github-integration.yml","path":"hypotheses/testing-github-integration.yml","sha":"f957c37260e4a304b4e16491dcee2129ca4bd14b","size":102,"url":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/testing-github-integration.yml?ref=proposed-hypothesis-42","html_url":"https://github.com/convus/convus_content/blob/proposed-hypothesis-42/hypotheses/testing-github-integration.yml","git_url":"https://api.github.com/repos/convus/convus_content/git/blobs/f957c37260e4a304b4e16491dcee2129ca4bd14b","download_url":"https://raw.githubusercontent.com/convus/convus_content/proposed-hypothesis-42/hypotheses/testing-github-integration.yml","type":"file","_links":{"self":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/testing-github-integration.yml?ref=proposed-hypothesis-42","git":"https://api.github.com/repos/convus/convus_content/git/blobs/f957c37260e4a304b4e16491dcee2129ca4bd14b","html":"https://github.com/convus/convus_content/blob/proposed-hypothesis-42/hypotheses/testing-github-integration.yml"}},"commit":{"sha":"d3116b742cebe8583b52c7ea3b8b244d4306a957","node_id":"MDY6Q29tbWl0Mjk1ODQzNjEwOmQzMTE2Yjc0MmNlYmU4NTgzYjUyYzdlYTNiOGIyNDRkNDMwNmE5NTc=","url":"https://api.github.com/repos/convus/convus_content/git/commits/d3116b742cebe8583b52c7ea3b8b244d4306a957","html_url":"https://github.com/convus/convus_content/commit/d3116b742cebe8583b52c7ea3b8b244d4306a957","author":{"name":"Convus
          Bot","email":"bot@convus.org","date":"2020-09-28T20:41:58Z"},"committer":{"name":"Convus
          Bot","email":"bot@convus.org","date":"2020-09-28T20:41:58Z"},"tree":{"sha":"c4141b1990d32cf8448590728a517a6b2a0be103","url":"https://api.github.com/repos/convus/convus_content/git/trees/c4141b1990d32cf8448590728a517a6b2a0be103"},"message":"Hypothesis:
          Testing GitHub integration","parents":[{"sha":"947d9cd3833bec244e2990804a6742e7da598c52","url":"https://api.github.com/repos/convus/convus_content/git/commits/947d9cd3833bec244e2990804a6742e7da598c52","html_url":"https://github.com/convus/convus_content/commit/947d9cd3833bec244e2990804a6742e7da598c52"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}}'
    recorded_at: Mon, 28 Sep 2020 20:41:59 GMT
  - request:
      method: post
      uri: https://api.github.com/repos/convus/convus_content/pulls
      body:
        encoding: UTF-8
        string:
          '{"base":"main","head":"proposed-hypothesis-42","title":"Hypothesis:
          Testing GitHub integration","body":"View [Hypothesis on Convus](https://convus.org/hypotheses/42)"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxxxxx
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 201 Created
        Etag:
          - '"340082a5b584f321375c48c8b0904d3f9e5eb49efe919c358df39c035bcbff86"'
        X-Oauth-Scopes:
          - repo
        X-Accepted-Oauth-Scopes:
          - ""
        Location:
          - https://api.github.com/repos/convus/convus_content/pulls/47
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4994"
        X-Ratelimit-Reset:
          - "1601329314"
        X-Ratelimit-Used:
          - "6"
      body:
        encoding: UTF-8
        string:
          '{"url":"https://api.github.com/repos/convus/convus_content/pulls/47","id":494390307,"node_id":"MDExOlB1bGxSZXF1ZXN0NDk0MzkwMzA3","html_url":"https://github.com/convus/convus_content/pull/47","diff_url":"https://github.com/convus/convus_content/pull/47.diff","patch_url":"https://github.com/convus/convus_content/pull/47.patch","issue_url":"https://api.github.com/repos/convus/convus_content/issues/47","number":47,"state":"open","locked":false,"title":"Hypothesis:
          Testing GitHub integration","user":{"login":"convus-bot","id":26616290,"node_id":"MDQ6VXNlcjI2NjE2Mjkw","avatar_url":"https://avatars2.githubusercontent.com/u/26616290?v=4","gravatar_id":"","url":"https://api.github.com/users/convus-bot","html_url":"https://github.com/convus-bot","followers_url":"https://api.github.com/users/convus-bot/followers","following_url":"https://api.github.com/users/convus-bot/following{/other_user}","gists_url":"https://api.github.com/users/convus-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/convus-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus-bot/subscriptions","organizations_url":"https://api.github.com/users/convus-bot/orgs","repos_url":"https://api.github.com/users/convus-bot/repos","events_url":"https://api.github.com/users/convus-bot/events{/privacy}","received_events_url":"https://api.github.com/users/convus-bot/received_events","type":"User","site_admin":false},"body":"View
          [Hypothesis on Convus](https://convus.org/hypotheses/42)","created_at":"2020-09-28T20:42:01Z","updated_at":"2020-09-28T20:42:01Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/convus/convus_content/pulls/47/commits","review_comments_url":"https://api.github.com/repos/convus/convus_content/pulls/47/comments","review_comment_url":"https://api.github.com/repos/convus/convus_content/pulls/comments{/number}","comments_url":"https://api.github.com/repos/convus/convus_content/issues/47/comments","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/d3116b742cebe8583b52c7ea3b8b244d4306a957","head":{"label":"convus:proposed-hypothesis-42","ref":"proposed-hypothesis-42","sha":"d3116b742cebe8583b52c7ea3b8b244d4306a957","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"repo":{"id":295843610,"node_id":"MDEwOlJlcG9zaXRvcnkyOTU4NDM2MTA=","name":"convus_content","full_name":"convus/convus_content","private":false,"owner":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/convus/convus_content","description":"Content
          for convus.org","fork":false,"url":"https://api.github.com/repos/convus/convus_content","forks_url":"https://api.github.com/repos/convus/convus_content/forks","keys_url":"https://api.github.com/repos/convus/convus_content/keys{/key_id}","collaborators_url":"https://api.github.com/repos/convus/convus_content/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/convus/convus_content/teams","hooks_url":"https://api.github.com/repos/convus/convus_content/hooks","issue_events_url":"https://api.github.com/repos/convus/convus_content/issues/events{/number}","events_url":"https://api.github.com/repos/convus/convus_content/events","assignees_url":"https://api.github.com/repos/convus/convus_content/assignees{/user}","branches_url":"https://api.github.com/repos/convus/convus_content/branches{/branch}","tags_url":"https://api.github.com/repos/convus/convus_content/tags","blobs_url":"https://api.github.com/repos/convus/convus_content/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/convus/convus_content/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/convus/convus_content/git/refs{/sha}","trees_url":"https://api.github.com/repos/convus/convus_content/git/trees{/sha}","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/{sha}","languages_url":"https://api.github.com/repos/convus/convus_content/languages","stargazers_url":"https://api.github.com/repos/convus/convus_content/stargazers","contributors_url":"https://api.github.com/repos/convus/convus_content/contributors","subscribers_url":"https://api.github.com/repos/convus/convus_content/subscribers","subscription_url":"https://api.github.com/repos/convus/convus_content/subscription","commits_url":"https://api.github.com/repos/convus/convus_content/commits{/sha}","git_commits_url":"https://api.github.com/repos/convus/convus_content/git/commits{/sha}","comments_url":"https://api.github.com/repos/convus/convus_content/comments{/number}","issue_comment_url":"https://api.github.com/repos/convus/convus_content/issues/comments{/number}","contents_url":"https://api.github.com/repos/convus/convus_content/contents/{+path}","compare_url":"https://api.github.com/repos/convus/convus_content/compare/{base}...{head}","merges_url":"https://api.github.com/repos/convus/convus_content/merges","archive_url":"https://api.github.com/repos/convus/convus_content/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/convus/convus_content/downloads","issues_url":"https://api.github.com/repos/convus/convus_content/issues{/number}","pulls_url":"https://api.github.com/repos/convus/convus_content/pulls{/number}","milestones_url":"https://api.github.com/repos/convus/convus_content/milestones{/number}","notifications_url":"https://api.github.com/repos/convus/convus_content/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/convus/convus_content/labels{/name}","releases_url":"https://api.github.com/repos/convus/convus_content/releases{/id}","deployments_url":"https://api.github.com/repos/convus/convus_content/deployments","created_at":"2020-09-15T20:37:48Z","updated_at":"2020-09-28T19:35:50Z","pushed_at":"2020-09-28T20:41:58Z","git_url":"git://github.com/convus/convus_content.git","ssh_url":"git@github.com:convus/convus_content.git","clone_url":"https://github.com/convus/convus_content.git","svn_url":"https://github.com/convus/convus_content","homepage":"https://www.convus.org","size":101,"stargazers_count":3,"watchers_count":3,"language":null,"has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":{"key":"cc-by-sa-4.0","name":"Creative
          Commons Attribution Share Alike 4.0 International","spdx_id":"CC-BY-SA-4.0","url":"https://api.github.com/licenses/cc-by-sa-4.0","node_id":"MDc6TGljZW5zZTI2"},"forks":0,"open_issues":1,"watchers":3,"default_branch":"main"}},"base":{"label":"convus:main","ref":"main","sha":"947d9cd3833bec244e2990804a6742e7da598c52","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gist[...]
[...]
