---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b2145c8c05ff4118c5b70f4466119f5ead3845712992278175e4475111f88f87"
      Last-Modified:
      - Thu, 02 Sep 2021 20:14:11 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/295843610/git/refs?page=2>; rel="next",
        <https://api.github.com/repositories/295843610/git/refs?page=8>; rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1630692552'
      X-Ratelimit-Used:
      - '17'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"ref":"refs/heads/first-markdown-attempt","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvZmlyc3QtbWFya2Rvd24tYXR0ZW1wdA==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/first-markdown-attempt","object":{"sha":"2bf557ab45525fddd472e311a83e9d054672530d","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/2bf557ab45525fddd472e311a83e9d054672530d"}},{"ref":"refs/heads/main","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvbWFpbg==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/main","object":{"sha":"bfb056ffb0782bd2e72e223de87ea092ba22af03","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/bfb056ffb0782bd2e72e223de87ea092ba22af03"}},{"ref":"refs/pull/1/head","[...]
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/update-hypothesis-J-with-1","sha":"bfb056ffb0782bd2e72e223de87ea092ba22af03"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8c6bea7d947f03ac53d3d376b167ef5646f20df813f2362309f263d1857342c6"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      Location:
      - https://api.github.com/repos/convus/convus_content/git/refs/heads/update-hypothesis-J-with-1
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1630692552'
      X-Ratelimit-Used:
      - '18'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/update-hypothesis-J-with-1","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvdXBkYXRlLWh5cG90aGVzaXMtSi13aXRoLTE=","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/update-hypothesis-J-with-1","object":{"sha":"bfb056ffb0782bd2e72e223de87ea092ba22af03","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/bfb056ffb0782bd2e72e223de87ea092ba22af03"}}'
  recorded_at: Fri, 03 Sep 2021 17:11:53 GMT
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/J_the-earth-is-roughly-spherical.yml?branch=update-hypothesis-J-with-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7deb701455cd402d3a295b7848b4cfd82d5e4921"
      Last-Modified:
      - Thu, 02 Sep 2021 20:14:06 GMT
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1630692552'
      X-Ratelimit-Used:
      - '19'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"name":"J_the-earth-is-roughly-spherical.yml","path":"hypotheses/J_the-earth-is-roughly-spherical.yml","sha":"7deb701455cd402d3a295b7848b4cfd82d5e4921","size":2204,"url":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/J_the-earth-is-roughly-spherical.yml?ref=main","html_url":"https://github.com/convus/convus_content/blob/main/hypotheses/J_the-earth-is-roughly-spherical.yml","git_url":"https://api.github.com/repos/convus/convus_content/git/blobs/7deb701455cd402d3a295b7848b4cfd82d5e4921","download_url":"https://raw.githubusercontent.com/convus/convus_content/main/hypotheses/J_the-earth-is-roughly-spherical.yml","type":"file","content":"LS0tCnRpdGxlOiBUaGUgZWFydGggaXMgcm91Z2hseSBzcGhlcmljYWwKaWQ6\nIEoKY2l0ZWRfdXJsczoKLSB1cmw6IGh0dHBzOi8vZW4ud2lraXBlZGlhLm9y\nZy93aWtpL1NwaGVyaWNhbF9FYXJ0aAogIHF1b3RlczoKICAtIE9uIGEgZmxh\ndCBFYXJ0aCwgYSBTdW4gdGhhdCBzaGluZXMgaW4gYWxsIGRpcmVjdGlvbnMg\nd291bGQgaWxsdW1pbmF0ZSB0aGUgZW50aXJlCiAgICBzdXJmYWNlIGF0IHRo\nZSBzYW1lIHRpbWUsIGFuZCBhbGwgcGxhY2VzIHdvdWxkIGV4cGVyaWVuY2Ug\nc3VucmlzZSBhbmQgc3Vuc2V0IGF0CiAgICB0aGUgaG9yaXpvbiBhdCBhYm91\ndCB0aGUgc2FtZSB0aW1lLiBXaXRoIGEgc3BoZXJpY2FsIEVhcnRoLCBoYWxm\nIHR[...]
- request:
    method: delete
    uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/J_the-earth-is-roughly-spherical.yml
    body:
      encoding: UTF-8
      string: '{"branch":"update-hypothesis-J-with-1","message":"Deleting file","sha":"7deb701455cd402d3a295b7848b4cfd82d5e4921"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5e4d1dcd6f2609fda18a795bb2f46282fca7fa0cec5c190d375bd03f01ccfb63"
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1630692552'
      X-Ratelimit-Used:
      - '20'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"content":null,"commit":{"sha":"e2a04398f6174836b174dfd429105a314f0f39a1","node_id":"MDY6Q29tbWl0Mjk1ODQzNjEwOmUyYTA0Mzk4ZjYxNzQ4MzZiMTc0ZGZkNDI5MTA1YTMxNGYwZjM5YTE=","url":"https://api.github.com/repos/convus/convus_content/git/commits/e2a04398f6174836b174dfd429105a314f0f39a1","html_url":"https://github.com/convus/convus_content/commit/e2a04398f6174836b174dfd429105a314f0f39a1","author":{"name":"Convus
        Bot","email":"bot@convus.org","date":"2021-09-03T17:11:54Z"},"committer":{"name":"Convus
        Bot","email":"bot@convus.org","date":"2021-09-03T17:11:54Z"},"tree":{"sha":"7d82e18891750ad518549d2a47ffe7e1e8019a8b","url":"https://api.github.com/repos/convus/convus_content/git/trees/7d82e18891750ad518549d2a47ffe7e1e8019a8b"},"message":"Deleting
        file","parents":[{"sha":"bfb056ffb0782bd2e72e223de87ea092ba22af03","url":"https://api.github.com/repos/convus/convus_content/git/commits/bfb056ffb0782bd2e72e223de87ea092ba22af03","html_url":"https://github.com/convus/convus_content/commit/bfb056ffb0782bd2e72e223de87ea092ba22af03"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}}'
  recorded_at: Fri, 03 Sep 2021 17:11:54 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/pulls
    body:
      encoding: UTF-8
      string: '{"base":"main","head":"update-hypothesis-J-with-1","title":"Add explanation
        to hypothesis J: The earth is roughly spherical","body":"Added explanation
        to: [J: The earth is roughly spherical](https://convus.org/hypotheses/J?explanation_id=1)"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"197d8daf13aa83df30ba2354df13e3d2eac9102801df307866fef1823b1d2288"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/convus/convus_content/pulls/216
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1630692552'
      X-Ratelimit-Used:
      - '26'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/convus/convus_content/pulls/216","id":726971129,"node_id":"MDExOlB1bGxSZXF1ZXN0NzI2OTcxMTI5","html_url":"https://github.com/convus/convus_content/pull/216","diff_url":"https://github.com/convus/convus_content/pull/216.diff","patch_url":"https://github.com/convus/convus_content/pull/216.patch","issue_url":"https://api.github.com/repos/convus/convus_content/issues/216","number":216,"state":"open","locked":false,"title":"Add
        explanation to hypothesis J: The earth is roughly spherical","user":{"login":"convus-bot","id":26616290,"node_id":"MDQ6VXNlcjI2NjE2Mjkw","avatar_url":"https://avatars.githubusercontent.com/u/26616290?v=4","gravatar_id":"","url":"https://api.github.com/users/convus-bot","html_url":"https://github.com/convus-bot","followers_url":"https://api.github.com/users/convus-bot/followers","following_url":"https://api.github.com/users/convus-bot/following{/other_user}","gists_url":"https://api.github.com/users/convus-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/convus-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus-bot/subscriptions","organizations_url":"https://api.github.com/users/convus-bot/orgs","repos_url":"https://api.github.com/users/convus-bot/repos","events_url":"https://api.github.com/users/convus-bot/events{/privacy}","received_events_url":"https://api.github.com/users/convus-bot/received_events","type":"User","site_admin":false},"body":"Added
        explanation to: [J: The earth is roughly spherical](https://convus.org/hypotheses/J?explanation_id=1)","created_at":"2021-09-03T17:11:55Z","updated_at":"2021-09-03T17:11:55Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/convus/convus_content/pulls/216/commits","review_comments_url":"https://api.github.com/repos/convus/convus_content/pulls/216/comments","review_comment_url":"https://api.github.com/repos/convus/convus_content/pulls/comments{/number}","comments_url":"https://api.github.com/repos/convus/convus_content/issues/216/comments","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/8a6454f9b54f5b88dab727c0cca654809e80e531","head":{"label":"convus:update-hypothesis-J-with-1","ref":"update-hypothesis-J-with-1","sha":"8a6454f9b54f5b88dab727c0cca654809e80e531","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"repo":{"id":295843610,"node_id":"MDEwOlJlcG9zaXRvcnkyOTU4NDM2MTA=","name":"convus_content","full_name":"convus/convus_content","private":false,"owner":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/convus/convus_content","description":"Content
        for convus.org","fork":false,"url":"https://api.github.com/repos/convus/convus_content","forks_url":"https://api.github.com/repos/convus/convus_content/forks","keys_url":"https://api.github.com/repos/convus/convus_content/keys{/key_id}","collaborators_url":"https://api.github.com/repos/convus/convus_content/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/convus/convus_content/teams","hooks_url":"https://api.github.com/repos/convus/convus_content/hooks","issue_events_url":"https://api.github.com/repos/convus/convus_content/issues/events{/number}","events_url":"https://api.github.com/repos/convus/convus_content/events","assignees_url":"https://api.github.com/repos/convus/convus_content/assignees{/user}","branches_url":"https://api.github.com/repos/convus/convus_content/branches{/branch}","tags_url":"https://api.github.com/repos/convus/convus_content/tags","blobs_url":"https://api.github.com/repos/convus/convus_content/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/convus/convus_content/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/convus/convus_content/git/refs{/sha}","trees_url":"https://api.github.com/repos/convus/convus_content/git/trees{/sha}","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/{sha}","languages_url":"https://api.github.com/repos/convus/convus_content/languages","stargazers_url":"https://api.github.com/repos/convus/convus_content/stargazers","contributors_url":"https://api.github.com/repos/convus/convus_content/contributors","subscribers_url":"https://api.github.com/repos/convus/convus_content/subscribers","subscription_url":"https://api.github.com/repos/convus/convus_content/subscription","commits_url":"https://api.github.com/repos/convus/convus_content/commits{/sha}","git_commits_url":"https://api.github.com/repos/convus/convus_content/git/commits{/sha}","comments_url":"https://api.github.com/repos/convus/convus_content/comments{/number}","issue_comment_url":"https://api.github.com/repos/convus/convus_content/issues/comments{/number}","contents_url":"https://api.github.com/repos/convus/convus_content/contents/{+path}","compare_url":"https://api.github.com/repos/convus/convus_content/compare/{base}...{head}","merges_url":"https://api.github.com/repos/convus/convus_content/merges","archive_url":"https://api.github.com/repos/convus/convus_content/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/convus/convus_content/downloads","issues_url":"https://api.github.com/repos/convus/convus_content/issues{/number}","pulls_url":"https://api.github.com/repos/convus/convus_content/pulls{/number}","milestones_url":"https://api.github.com/repos/convus/convus_content/milestones{/number}","notifications_url":"https://api.github.com/repos/convus/convus_content/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/convus/convus_content/labels{/name}","releases_url":"https://api.github.com/repos/convus/convus_content/releases{/id}","deployments_url":"https://api.github.com/repos/convus/convus_content/deployments","created_at":"2020-09-15T20:37:48Z","updated_at":"2021-09-02T20:14:11Z","pushed_at":"2021-09-03T17:11:54Z","git_url":"git://github.com/convus/convus_content.git","ssh_url":"git@github.com:convus/convus_content.git","clone_url":"https://github.com/convus/convus_content.git","svn_url":"https://github.com/convus/convus_content","homepage":"https://www.convus.org","size":456,"stargazers_count":3,"watchers_count":3,"language":"Ruby","has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":3,"license":{"key":"cc-by-sa-4.0","name":"Creative
        Commons Attribution Share Alike 4.0 International","spdx_id":"CC-BY-SA-4.0","url":"https://api.github.com/licenses/cc-by-sa-4.0","node_id":"MDc6TGljZW5zZTI2"},"forks":0,"open_issues":3,"watchers":3,"default_branch":"main"}},"base":{"label":"convus:main","ref":"main","sha":"bfb056ffb0782bd2e72e223de87ea092ba22af03","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists[...]
