---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"48dd5ab3bf0f729061bbe950f8deba5ee38b52d13a484cf02e469412dd86789d"
      Last-Modified:
      - Wed, 27 Jan 2021 04:32:23 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/295843610/git/refs?page=2>; rel="next",
        <https://api.github.com/repositories/295843610/git/refs?page=5>; rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1629926713'
      X-Ratelimit-Used:
      - '16'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"ref":"refs/heads/main","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvbWFpbg==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/main","object":{"sha":"7e4a2cc6a29d248025ad8635acb1f27503d6a548","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/7e4a2cc6a29d248025ad8635acb1f27503d6a548"}},{"ref":"refs/pull/1/head","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvcHVsbC8xL2hlYWQ=","url":"https://api.github.com/repos/convus/convus_content/git/refs/pull/1/head","object":{"sha":"d43a84ae7098200134d8a36ef1099d99d26a581e","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/d43a84ae7098200134d8a36ef1099d99d26a581e"}},{"ref":"refs/pull/2/head"[...]
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/pulls?state=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d02c512f3db212039ecfc0bb88b88328a41c7e390b16ce6a79a6dc282268758f"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1629926713'
      X-Ratelimit-Used:
      - '17'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 25 Aug 2021 20:26:01 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/proposed-hypothesis-16","sha":"7e4a2cc6a29d248025ad8635acb1f27503d6a548"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"768fdd4c25eb19f2c14c2d2157ff3e7b988d6113965d9f19a1741a5166eb6dd7"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      Location:
      - https://api.github.com/repos/convus/convus_content/git/refs/heads/proposed-hypothesis-16
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1629926713'
      X-Ratelimit-Used:
      - '19'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/proposed-hypothesis-16","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvcHJvcG9zZWQtaHlwb3RoZXNpcy0xNg==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/proposed-hypothesis-16","object":{"sha":"7e4a2cc6a29d248025ad8635acb1f27503d6a548","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/7e4a2cc6a29d248025ad8635acb1f27503d6a548"}}'
  recorded_at: Wed, 25 Aug 2021 20:26:01 GMT
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/testing-github-integration.yml?branch=proposed-hypothesis-16
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1629926713'
      X-Ratelimit-Used:
      - '20'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
  recorded_at: Wed, 25 Aug 2021 20:26:02 GMT
- request:
    method: put
    uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/testing-github-integration.yml
    body:
      encoding: UTF-8
      string: '{"branch":"proposed-hypothesis-16","content":"LS0tCnRpdGxlOiBUZXN0aW5nIEdpdEh1YiBpbnRlZ3JhdGlvbgppZDogJzE2JwpjaXRlZF91cmxzOiBbXQpuZXdfY2l0ZWRfdXJsOgp0b3BpY3M6IFtdCg==","message":"Hypothesis:
        Testing GitHub integration"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0636c1e0e373dd740651c54eacfeb0d8aa7b3736e906091da6a3bc67163a7ce1"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1629926713'
      X-Ratelimit-Used:
      - '22'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"content":{"name":"testing-github-integration.yml","path":"hypotheses/testing-github-integration.yml","sha":"56da656ee133826ca1aa5092adfb364448987065","size":88,"url":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/testing-github-integration.yml?ref=proposed-hypothesis-16","html_url":"https://github.com/convus/convus_content/blob/proposed-hypothesis-16/hypotheses/testing-github-integration.yml","git_url":"https://api.github.com/repos/convus/convus_content/git/blobs/56da656ee133826ca1aa5092adfb364448987065","download_url":"https://raw.githubusercontent.com/convus/convus_content/proposed-hypothesis-16/hypotheses/testing-github-integration.yml","type":"file","_links":{"self":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/testing-github-integration.yml?ref=proposed-hypothesis-16","git":"https://api.github.com/repos/convus/convus_content/git/blobs/56da656ee133826ca1aa5092adfb364448987065","html":"https://github.com/convus/convus_content/blob/proposed-hypothesis-16/hypotheses/testing-github-integration.yml"}},"commit":{"sha":"ee1a7aa0e8fd409d9c22b2ceabae8777ae0cc13e","node_id":"MDY6Q29tbWl0Mjk1ODQzNjEwOmVlMWE3YWEwZThmZDQwOWQ5YzIyYjJjZWFiYWU4Nzc3YWUwY2MxM2U=","url":"https://api.github.com/repos/convus/convus_content/git/commits/ee1a7aa0e8fd409d9c22b2ceabae8777ae0cc13e","html_url":"https://github.com/convus/convus_content/commit/ee1a7aa0e8fd409d9c22b2ceabae8777ae0cc13e","author":{"name":"Convus
        Bot","email":"bot@convus.org","date":"2021-08-25T20:26:02Z"},"committer":{"name":"Convus
        Bot","email":"bot@convus.org","date":"2021-08-25T20:26:02Z"},"tree":{"sha":"4ca012b5cd305096308b2ff04beed5bb7d4e9ded","url":"https://api.github.com/repos/convus/convus_content/git/trees/4ca012b5cd305096308b2ff04beed5bb7d4e9ded"},"message":"Hypothesis:
        Testing GitHub integration","parents":[{"sha":"7e4a2cc6a29d248025ad8635acb1f27503d6a548","url":"https://api.github.com/repos/convus/convus_content/git/commits/7e4a2cc6a29d248025ad8635acb1f27503d6a548","html_url":"https://github.com/convus/convus_content/commit/7e4a2cc6a29d248025ad8635acb1f27503d6a548"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}}'
  recorded_at: Wed, 25 Aug 2021 20:26:02 GMT
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/pulls
    body:
      encoding: UTF-8
      string: '{"base":"main","head":"proposed-hypothesis-16","title":"Hypothesis:
        Testing GitHub integration","body":"View [hypothesis on Convus](https://convus.org/hypotheses/16)"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bba4aac89532ec9ff7d0480fce047a21496ce2d4b9ea6eb170fb490cb73fbd71"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/convus/convus_content/pulls/150
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1629926713'
      X-Ratelimit-Used:
      - '24'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/convus/convus_content/pulls/150","id":719982290,"node_id":"MDExOlB1bGxSZXF1ZXN0NzE5OTgyMjkw","html_url":"https://github.com/convus/convus_content/pull/150","diff_url":"https://github.com/convus/convus_content/pull/150.diff","patch_url":"https://github.com/convus/convus_content/pull/150.patch","issue_url":"https://api.github.com/repos/convus/convus_content/issues/150","number":150,"state":"open","locked":false,"title":"Hypothesis:
        Testing GitHub integration","user":{"login":"convus-bot","id":26616290,"node_id":"MDQ6VXNlcjI2NjE2Mjkw","avatar_url":"https://avatars.githubusercontent.com/u/26616290?v=4","gravatar_id":"","url":"https://api.github.com/users/convus-bot","html_url":"https://github.com/convus-bot","followers_url":"https://api.github.com/users/convus-bot/followers","following_url":"https://api.github.com/users/convus-bot/following{/other_user}","gists_url":"https://api.github.com/users/convus-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/convus-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus-bot/subscriptions","organizations_url":"https://api.github.com/users/convus-bot/orgs","repos_url":"https://api.github.com/users/convus-bot/repos","events_url":"https://api.github.com/users/convus-bot/events{/privacy}","received_events_url":"https://api.github.com/users/convus-bot/received_events","type":"User","site_admin":false},"body":"View
        [hypothesis on Convus](https://convus.org/hypotheses/16)","created_at":"2021-08-25T20:26:03Z","updated_at":"2021-08-25T20:26:03Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/convus/convus_content/pulls/150/commits","review_comments_url":"https://api.github.com/repos/convus/convus_content/pulls/150/comments","review_comment_url":"https://api.github.com/repos/convus/convus_content/pulls/comments{/number}","comments_url":"https://api.github.com/repos/convus/convus_content/issues/150/comments","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/ee1a7aa0e8fd409d9c22b2ceabae8777ae0cc13e","head":{"label":"convus:proposed-hypothesis-16","ref":"proposed-hypothesis-16","sha":"ee1a7aa0e8fd409d9c22b2ceabae8777ae0cc13e","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"repo":{"id":295843610,"node_id":"MDEwOlJlcG9zaXRvcnkyOTU4NDM2MTA=","name":"convus_content","full_name":"convus/convus_content","private":false,"owner":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/convus/convus_content","description":"Content
        for convus.org","fork":false,"url":"https://api.github.com/repos/convus/convus_content","forks_url":"https://api.github.com/repos/convus/convus_content/forks","keys_url":"https://api.github.com/repos/convus/convus_content/keys{/key_id}","collaborators_url":"https://api.github.com/repos/convus/convus_content/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/convus/convus_content/teams","hooks_url":"https://api.github.com/repos/convus/convus_content/hooks","issue_events_url":"https://api.github.com/repos/convus/convus_content/issues/events{/number}","events_url":"https://api.github.com/repos/convus/convus_content/events","assignees_url":"https://api.github.com/repos/convus/convus_content/assignees{/user}","branches_url":"https://api.github.com/repos/convus/convus_content/branches{/branch}","tags_url":"https://api.github.com/repos/convus/convus_content/tags","blobs_url":"https://api.github.com/repos/convus/convus_content/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/convus/convus_content/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/convus/convus_content/git/refs{/sha}","trees_url":"https://api.github.com/repos/convus/convus_content/git/trees{/sha}","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/{sha}","languages_url":"https://api.github.com/repos/convus/convus_content/languages","stargazers_url":"https://api.github.com/repos/convus/convus_content/stargazers","contributors_url":"https://api.github.com/repos/convus/convus_content/contributors","subscribers_url":"https://api.github.com/repos/convus/convus_content/subscribers","subscription_url":"https://api.github.com/repos/convus/convus_content/subscription","commits_url":"https://api.github.com/repos/convus/convus_content/commits{/sha}","git_commits_url":"https://api.github.com/repos/convus/convus_content/git/commits{/sha}","comments_url":"https://api.github.com/repos/convus/convus_content/comments{/number}","issue_comment_url":"https://api.github.com/repos/convus/convus_content/issues/comments{/number}","contents_url":"https://api.github.com/repos/convus/convus_content/contents/{+path}","compare_url":"https://api.github.com/repos/convus/convus_content/compare/{base}...{head}","merges_url":"https://api.github.com/repos/convus/convus_content/merges","archive_url":"https://api.github.com/repos/convus/convus_content/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/convus/convus_content/downloads","issues_url":"https://api.github.com/repos/convus/convus_content/issues{/number}","pulls_url":"https://api.github.com/repos/convus/convus_content/pulls{/number}","milestones_url":"https://api.github.com/repos/convus/convus_content/milestones{/number}","notifications_url":"https://api.github.com/repos/convus/convus_content/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/convus/convus_content/labels{/name}","releases_url":"https://api.github.com/repos/convus/convus_content/releases{/id}","deployments_url":"https://api.github.com/repos/convus/convus_content/deployments","created_at":"2020-09-15T20:37:48Z","updated_at":"2021-01-27T04:32:23Z","pushed_at":"2021-08-25T20:26:01Z","git_url":"git://github.com/convus/convus_content.git","ssh_url":"git@github.com:convus/convus_content.git","clone_url":"https://github.com/convus/convus_content.git","svn_url":"https://github.com/convus/convus_content","homepage":"https://www.convus.org","size":318,"stargazers_count":3,"watchers_count":3,"language":null,"has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":{"key":"cc-by-sa-4.0","name":"Creative
        Commons Attribution Share Alike 4.0 International","spdx_id":"CC-BY-SA-4.0","url":"https://api.github.com/licenses/cc-by-sa-4.0","node_id":"MDc6TGljZW5zZTI2"},"forks":0,"open_issues":2,"watchers":3,"default_branch":"main"}},"base":{"label":"convus:main","ref":"main","sha":"7e4a2cc6a29d248025ad8635acb1f27503d6a548","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists[...]
