---
http_interactions:
  - request:
      method: get
      uri: https://api.github.com/repos/convus/convus_content/git/refs
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxxxxxxx
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 200 OK
        Etag:
          - W/"eca51c3c942bbc02def6ba24dcdf906d3f0da089f1a2fff52a493ba806f652fa"
        Last-Modified:
          - Tue, 22 Sep 2020 18:53:14 GMT
        X-Poll-Interval:
          - "300"
        X-Oauth-Scopes:
          - repo
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4960"
        X-Ratelimit-Reset:
          - "1600809683"
        X-Ratelimit-Used:
          - "40"
      body:
        encoding: ASCII-8BIT
        string: '[{"ref":"refs/heads/main","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvbWFpbg==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/main","object":{"sha":"b26302f7f2872653dece0c814a31401a0653963c","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/b26302f7f2872653dece0c814a31401a0653963c"}},{"ref":"refs/heads/sethherr-patch-1","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvc2V0aGhlcnItcGF0Y2gtMQ==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/sethherr-patch-1","object":{"sha":"d43a84ae7098200134d8a36ef1099d99d26a581e","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/d43a84ae7098200134d8a36ef1099d9[...]
  - request:
      method: get
      uri: https://api.github.com/repos/convus/convus_content/pulls?state=open
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxxxxxxx
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 200 OK
        Etag:
          - W/"860f3b52dfcdd839cde254b8c31a3afeabc39bc77216d4866bd62067d449918a"
        X-Oauth-Scopes:
          - repo
        X-Accepted-Oauth-Scopes:
          - ""
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4959"
        X-Ratelimit-Reset:
          - "1600809683"
        X-Ratelimit-Used:
          - "41"
      body:
        encoding: ASCII-8BIT
        string:
          '[{"url":"https://api.github.com/repos/convus/convus_content/pulls/1","id":491133323,"node_id":"MDExOlB1bGxSZXF1ZXN0NDkxMTMzMzIz","html_url":"https://github.com/convus/convus_content/pull/1","diff_url":"https://github.com/convus/convus_content/pull/1.diff","patch_url":"https://github.com/convus/convus_content/pull/1.patch","issue_url":"https://api.github.com/repos/convus/convus_content/issues/1","number":1,"state":"open","locked":false,"title":"Add
          tag to lateral thinking","user":{"login":"sethherr","id":1235441,"node_id":"MDQ6VXNlcjEyMzU0NDE=","avatar_url":"https://avatars2.githubusercontent.com/u/1235441?v=4","gravatar_id":"","url":"https://api.github.com/users/sethherr","html_url":"https://github.com/sethherr","followers_url":"https://api.github.com/users/sethherr/followers","following_url":"https://api.github.com/users/sethherr/following{/other_user}","gists_url":"https://api.github.com/users/sethherr/gists{/gist_id}","starred_url":"https://api.github.com/users/sethherr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sethherr/subscriptions","organizations_url":"https://api.github.com/users/sethherr/orgs","repos_url":"https://api.github.com/users/sethherr/repos","events_url":"https://api.github.com/users/sethherr/events{/privacy}","received_events_url":"https://api.github.com/users/sethherr/received_events","type":"User","site_admin":false},"body":"","created_at":"2020-09-22T18:57:55Z","updated_at":"2020-09-22T18:57:55Z","closed_at":null,"merged_at":null,"merge_commit_sha":"7eda7b34d09a59826265ca08c82c81b1ced38e9c","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/convus/convus_content/pulls/1/commits","review_comments_url":"https://api.github.com/repos/convus/convus_content/pulls/1/comments","review_comment_url":"https://api.github.com/repos/convus/convus_content/pulls/comments{/number}","comments_url":"https://api.github.com/repos/convus/convus_content/issues/1/comments","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/d43a84ae7098200134d8a36ef1099d99d26a581e","head":{"label":"convus:sethherr-patch-1","ref":"sethherr-patch-1","sha":"d43a84ae7098200134d8a36ef1099d99d26a581e","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"repo":{"id":295843610,"node_id":"MDEwOlJlcG9zaXRvcnkyOTU4NDM2MTA=","name":"convus_content","full_name":"convus/convus_content","private":false,"owner":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/convus/convus_content","description":"Content
          for convus.org","fork":false,"url":"https://api.github.com/repos/convus/convus_content","forks_url":"https://api.github.com/repos/convus/convus_content/forks","keys_url":"https://api.github.com/repos/convus/convus_content/keys{/key_id}","collaborators_url":"https://api.github.com/repos/convus/convus_content/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/convus/convus_content/teams","hooks_url":"https://api.github.com/repos/convus/convus_content/hooks","issue_events_url":"https://api.github.com/repos/convus/convus_content/issues/events{/number}","events_url":"https://api.github.com/repos/convus/convus_content/events","assignees_url":"https://api.github.com/repos/convus/convus_content/assignees{/user}","branches_url":"https://api.github.com/repos/convus/convus_content/branches{/branch}","tags_url":"https://api.github.com/repos/convus/convus_content/tags","blobs_url":"https://api.github.com/repos/convus/convus_content/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/convus/convus_content/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/convus/convus_content/git/refs{/sha}","trees_url":"https://api.github.com/repos/convus/convus_content/git/trees{/sha}","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/{sha}","languages_url":"https://api.github.com/repos/convus/convus_content/languages","stargazers_url":"https://api.github.com/repos/convus/convus_content/stargazers","contributors_url":"https://api.github.com/repos/convus/convus_content/contributors","subscribers_url":"https://api.github.com/repos/convus/convus_content/subscribers","subscription_url":"https://api.github.com/repos/convus/convus_content/subscription","commits_url":"https://api.github.com/repos/convus/convus_content/commits{/sha}","git_commits_url":"https://api.github.com/repos/convus/convus_content/git/commits{/sha}","comments_url":"https://api.github.com/repos/convus/convus_content/comments{/number}","issue_comment_url":"https://api.github.com/repos/convus/convus_content/issues/comments{/number}","contents_url":"https://api.github.com/repos/convus/convus_content/contents/{+path}","compare_url":"https://api.github.com/repos/convus/convus_content/compare/{base}...{head}","merges_url":"https://api.github.com/repos/convus/convus_content/merges","archive_url":"https://api.github.com/repos/convus/convus_content/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/convus/convus_content/downloads","issues_url":"https://api.github.com/repos/convus/convus_content/issues{/number}","pulls_url":"https://api.github.com/repos/convus/convus_content/pulls{/number}","milestones_url":"https://api.github.com/repos/convus/convus_content/milestones{/number}","notifications_url":"https://api.github.com/repos/convus/convus_content/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/convus/convus_content/labels{/name}","releases_url":"https://api.github.com/repos/convus/convus_content/releases{/id}","deployments_url":"https://api.github.com/repos/convus/convus_content/deployments","created_at":"2020-09-15T20:37:48Z","updated_at":"2020-09-22T18:53:14Z","pushed_at":"2020-09-22T20:38:47Z","git_url":"git://github.com/convus/convus_content.git","ssh_url":"git@github.com:convus/convus_content.git","clone_url":"https://github.com/convus/convus_content.git","svn_url":"https://github.com/convus/convus_content","homepage":"https://www.convus.org","size":30,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":{"key":"cc-by-sa-4.0","name":"Creative
          Commons Attribution Share Alike 4.0 International","spdx_id":"CC-BY-SA-4.0","url":"https://api.github.com/licenses/cc-by-sa-4.0","node_id":"MDc6TGljZW5zZTI2"},"forks":0,"open_issues":1,"watchers":0,"default_branch":"main"}},"base":{"label":"convus:main","ref":"main","sha":"b26302f7f2872653dece0c814a31401a0653963c","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://[...]
[...]
  - request:
      method: post
      uri: https://api.github.com/repos/convus/convus_content/git/refs
      body:
        encoding: UTF-8
        string: '{"ref":"refs/heads/proposed-hypothesis-42","sha":"b26302f7f2872653dece0c814a31401a0653963c"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxxxxxxx
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 201 Created
        Etag:
          - '"a608c5695dc370b8e693b4a9ca68a36ef5ba78e9119d28554b15844223030a40"'
        X-Oauth-Scopes:
          - repo
        X-Accepted-Oauth-Scopes:
          - repo
        Location:
          - https://api.github.com/repos/convus/convus_content/git/refs/heads/proposed-hypothesis-42
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4957"
        X-Ratelimit-Reset:
          - "1600809683"
        X-Ratelimit-Used:
          - "43"
      body:
        encoding: UTF-8
        string: '{"ref":"refs/heads/proposed-hypothesis-42","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvcHJvcG9zZWQtaHlwb3RoZXNpcy00Mg==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/proposed-hypothesis-42","object":{"sha":"b26302f7f2872653dece0c814a31401a0653963c","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/b26302f7f2872653dece0c814a31401a0653963c"}}'
    recorded_at: Tue, 22 Sep 2020 20:38:56 GMT
  - request:
      method: put
      uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/the-newest-take-on-important-things.yml
      body:
        encoding: UTF-8
        string:
          '{"branch":"proposed-hypothesis-42","content":"LS0tCnRpdGxlOiBUaGUgbmV3ZXN0IHRha2Ugb24gaW1wb3J0YW50IHRoaW5ncwppZDogNDIKZGlyZWN0X3F1b3RhdGlvbjogZmFsc2UKY3JlYXRlZF90aW1lc3RhbXA6ICcyMDIwLTA5LTIyVDIwOjM4OjU2WicKdGFnX3RpdGxlczogW10KY2l0YXRpb25fdXJsczogW10K","message":"Hypothesis:
          The newest take on important things"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxxxxxxx
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 201 Created
        Etag:
          - '"c769cacdff1d965dd06f46302c08579d3513ce79159343e28af2967915203754"'
        X-Oauth-Scopes:
          - repo
        X-Accepted-Oauth-Scopes:
          - ""
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4956"
        X-Ratelimit-Reset:
          - "1600809683"
        X-Ratelimit-Used:
          - "44"
      body:
        encoding: UTF-8
        string:
          '{"content":{"name":"the-newest-take-on-important-things.yml","path":"hypotheses/the-newest-take-on-important-things.yml","sha":"c592f8d42655f127df54328f05e1b7c969c51fd5","size":153,"url":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/the-newest-take-on-important-things.yml?ref=proposed-hypothesis-42","html_url":"https://github.com/convus/convus_content/blob/proposed-hypothesis-42/hypotheses/the-newest-take-on-important-things.yml","git_url":"https://api.github.com/repos/convus/convus_content/git/blobs/c592f8d42655f127df54328f05e1b7c969c51fd5","download_url":"https://raw.githubusercontent.com/convus/convus_content/proposed-hypothesis-42/hypotheses/the-newest-take-on-important-things.yml","type":"file","_links":{"self":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/the-newest-take-on-important-things.yml?ref=proposed-hypothesis-42","git":"https://api.github.com/repos/convus/convus_content/git/blobs/c592f8d42655f127df54328f05e1b7c969c51fd5","html":"https://github.com/convus/convus_content/blob/proposed-hypothesis-42/hypotheses/the-newest-take-on-important-things.yml"}},"commit":{"sha":"56851d17971cd0fc2a2b85ca470171aa9e8996e4","node_id":"MDY6Q29tbWl0Mjk1ODQzNjEwOjU2ODUxZDE3OTcxY2QwZmMyYTJiODVjYTQ3MDE3MWFhOWU4OTk2ZTQ=","url":"https://api.github.com/repos/convus/convus_content/git/commits/56851d17971cd0fc2a2b85ca470171aa9e8996e4","html_url":"https://github.com/convus/convus_content/commit/56851d17971cd0fc2a2b85ca470171aa9e8996e4","author":{"name":"Convus
          Bot","email":"bot@convus.org","date":"2020-09-22T20:38:56Z"},"committer":{"name":"Convus
          Bot","email":"bot@convus.org","date":"2020-09-22T20:38:56Z"},"tree":{"sha":"60398e32d1f8c20d66772d32bbb0f0d0bbbdba2a","url":"https://api.github.com/repos/convus/convus_content/git/trees/60398e32d1f8c20d66772d32bbb0f0d0bbbdba2a"},"message":"Hypothesis:
          The newest take on important things","parents":[{"sha":"b26302f7f2872653dece0c814a31401a0653963c","url":"https://api.github.com/repos/convus/convus_content/git/commits/b26302f7f2872653dece0c814a31401a0653963c","html_url":"https://github.com/convus/convus_content/commit/b26302f7f2872653dece0c814a31401a0653963c"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}}'
    recorded_at: Tue, 22 Sep 2020 20:38:57 GMT
  - request:
      method: post
      uri: https://api.github.com/repos/convus/convus_content/pulls
      body:
        encoding: UTF-8
        string:
          '{"base":"main","head":"proposed-hypothesis-42","title":"Hypothesis:
          The newest take on important things"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxxxxxxx
    response:
      status:
        code: 201
        message: Created
      headers:
        Content[...]
[...]
