---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"64da8e9377ddf4db12d38d0f1b2760ee7e2453a3a8bc91e13c3216b131b5a329"
      Last-Modified:
      - Sun, 12 Sep 2021 18:21:49 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/295843610/git/refs?page=2>; rel="next",
        <https://api.github.com/repositories/295843610/git/refs?page=9>; rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4952'
      X-Ratelimit-Reset:
      - '1631641257'
      X-Ratelimit-Used:
      - '48'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"ref":"refs/heads/main","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvbWFpbg==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/main","object":{"sha":"4b3dbba99f482792ba18e2bbe1b60e853cfd57cb","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/4b3dbba99f482792ba18e2bbe1b60e853cfd57cb"}},{"ref":"refs/pull/1/head","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvcHVsbC8xL2hlYWQ=","url":"https://api.github.com/repos/convus/convus_content/git/refs/pull/1/head","object":{"sha":"d43a84ae7098200134d8a36ef1099d99d26a581e","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/d43a84ae7098200134d8a36ef1099d99d26a581e"}},{"ref":"refs/pull/2/head"[...]
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/update-hypothesis-B-with-1","sha":"4b3dbba99f482792ba18e2bbe1b60e853cfd57cb"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"42a8e6ec2f12b964902ecb3ebc116a22f7865ef17566128607a6a37ffdb48c24"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      Location:
      - https://api.github.com/repos/convus/convus_content/git/refs/heads/update-hypothesis-B-with-1
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4951'
      X-Ratelimit-Reset:
      - '1631641257'
      X-Ratelimit-Used:
      - '49'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/update-hypothesis-B-with-1","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvdXBkYXRlLWh5cG90aGVzaXMtQi13aXRoLTE=","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/update-hypothesis-B-with-1","object":{"sha":"4b3dbba99f482792ba18e2bbe1b60e853cfd57cb","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/4b3dbba99f482792ba18e2bbe1b60e853cfd57cb"}}'
  recorded_at: Tue, 14 Sep 2021 17:38:58 GMT
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/B_something-else-about-earth-sphericalness.md?branch=update-hypothesis-B-with-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4950'
      X-Ratelimit-Reset:
      - '1631641257'
      X-Ratelimit-Used:
      - '50'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
  recorded_at: Tue, 14 Sep 2021 17:38:58 GMT
- request:
    method: put
    uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/B_something-else-about-earth-sphericalness.md
    body:
      encoding: UTF-8
      string: '{"branch":"update-hypothesis-B-with-1","content":"LS0tCmlkOiBCCmh5cG90aGVzaXM6IFNvbWV0aGluZyBlbHNlIGFib3V0IGVhcnRoIHNwaGVyaWNhbG5lc3MuCnRvcGljczogW10Kc3VwcG9ydGluZzoKLSAnSjogVGhlIGVhcnRoIGlzIHJvdWdobHkgc3BoZXJpY2FsLicKY29uZmxpY3Rpbmc6IFtdCmNpdGF0aW9uczoKICBodHRwczovL2VuLndpa2lwZWRpYS5vcmcvd2lraS9TcGhlcmljYWxfRWFydGg6CiAgICB0aXRsZTogd2lraS9TcGhlcmljYWxfRWFydGgKICAgIHB1Ymxpc2hlZF9kYXRlOgogICAgcHVibGljYXRpb25fdGl0bGU6IHdpa2lwZWRpYS5vcmcKLS0tCiMjIEV4cGxhbmF0aW9uIDEKClRoZXJlIGFyZSBtYW55IHBpZWNlcyBvZiBldmlkZW5jZSB0byB0aGUgcm91Z2hseSBzcGhlcmljYWwgc2h[...]
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/contents/citations/wikipedia-org/wiki-spherical-earth.yml?branch=update-hypothesis-B-with-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4948'
      X-Ratelimit-Reset:
      - '1631641257'
      X-Ratelimit-Used:
      - '52'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
  recorded_at: Tue, 14 Sep 2021 17:38:59 GMT
- request:
    method: put
    uri: https://api.github.com/repos/convus/convus_content/contents/citations/wikipedia-org/wiki-spherical-earth.yml
    body:
      encoding: UTF-8
      string: '{"branch":"update-hypothesis-B-with-1","content":"LS0tCnRpdGxlOiB3aWtpL1NwaGVyaWNhbF9FYXJ0aAppZDogMjkxCnBlZXJfcmV2aWV3ZWQ6IGZhbHNlCnVybF9pc19ub3RfcHVibGlzaGVyOiBmYWxzZQp1cmxfaXNfZGlyZWN0X2xpbmtfdG9fZnVsbF90ZXh0OiBmYWxzZQp1cmw6IGh0dHBzOi8vZW4ud2lraXBlZGlhLm9yZy93aWtpL1NwaGVyaWNhbF9FYXJ0aApwdWJsaWNhdGlvbl90aXRsZTogd2lraXBlZGlhLm9yZwpwdWJsaXNoZWRfZGF0ZToKYXV0aG9yczogW10Ka2luZDogYXJ0aWNsZQpkb2k6CnF1b3RlczogW10K","message":"Citation:
        wiki/Spherical_Earth"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b36995e18730e4d92c7ef36febf1abf9098f7dbfaed3375a1f15322afa3ca18c"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4947'
      X-Ratelimit-Reset:
      - '1631641257'
      X-Ratelimit-Used:
      - '53'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"content":{"name":"wiki-spherical-earth.yml","path":"citations/wikipedia-org/wiki-spherical-earth.yml","sha":"9ef4ae78a0ccbeb4042e45b05c6fb85d5911589f","size":270,"url":"https://api.github.com/repos/convus/convus_content/contents/citations/wikipedia-org/wiki-spherical-earth.yml?ref=update-hypothesis-B-with-1","html_url":"https://github.com/convus/convus_content/blob/update-hypothesis-B-with-1/citations/wikipedia-org/wiki-spherical-earth.yml","git_url":"https://api.github.com/repos/convus/convus_content/git/blobs/9ef4ae78a0ccbeb4042e45b05c6fb85d5911589f","download_url":"https://raw.githubusercontent.com/convus/convus_content/update-hypothesis-B-with-1/citations/wikipedia-org/wiki-spherical-earth.yml","type":"file","_links":{"self":"https://api.github.com/repos/convus/convus_content/contents/citations/wikipedia-org/wiki-spherical-earth.yml?ref=update-hypothesis-B-with-1","git":"https://api.github.com/repos/convus/convus_content/git/blobs/9ef4ae78a0ccbeb4042e45b05c6fb85d5911589f","html":"https://github.com/convus/convus_content/blob/update-hypothesis-B-with-1/citations/wikipedia-org/wiki-spherical-earth.yml"}},"commit":{"sha":"c5d1423b005c733e5d38455764664c776d7c7440","node_id":"MDY6Q29tbWl0Mjk1ODQzNjEwOmM1ZDE0MjNiMDA1YzczM2U1ZDM4NDU1NzY0NjY0Yzc3NmQ3Yzc0NDA=","url":"https://api.github.com/repos/convus/convus_content/git/commits/c5d1423b005c733e5d38455764664c776d7c7440","html_url":"https://github.com/convus/convus_content/commit/c5d1423b005c733e5d38455764664c776d7c7440","author":{"name":"Convus
        Bot","email":"bot@convus.org","date":"2021-09-14T17:38:59Z"},"committer":{"name":"Convus
        Bot","email":"bot@convus.org","date":"2021-09-14T17:38:59Z"},"tree":{"sha":"dd3864d2fb07e67aa89c3ad8fb9085189e1641d2","url":"https://api.github.com/repos/convus/convus_content/git/trees/dd3864d2fb07e67aa89c3ad8fb9085189e1641d2"},"message":"Citation:
        wiki/Spherical_Earth","parents":[{"sha":"c3f959b7ae41f1b1d30028c7f5a3d3aaec860bc6","url":"https://api.github.com/repos/convus/convus_content/git/commits/c3f959b7ae41f1b1d30028c7f5a3d3aaec860bc6","html_url":"https://github.com/convus/convus_content/commit/c3f959b7ae41f1b1d30028c7f5a3d3aaec860bc6"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}}'
  recorded_at: Tue, 14 Sep 2021 17:38:59 GMT
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/pulls
    body:
      encoding: UTF-8
      string: '{"base":"main","head":"update-hypothesis-B-with-1","title":"Add explanation
        to hypothesis B: Something else about earth sphericalness.","body":"Added
        explanation to: [B: Something else about earth sphericalness.](https://convus.org/hypotheses/B?explanation_id=1)"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4f022aa83d80f569ce9c1d14bd57ec7cd5c4cd9b72f7de6798e1f5ed0312023c"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/convus/convus_content/pulls/251
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4946'
      X-Ratelimit-Reset:
      - '1631641257'
      X-Ratelimit-Used:
      - '54'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/convus/convus_content/pulls/251","id":733893273,"node_id":"PR_kwDOEaI3Gs4rvlKZ","html_url":"https://github.com/convus/convus_content/pull/251","diff_url":"https://github.com/convus/convus_content/pull/251.diff","patch_url":"https://github.com/convus/convus_content/pull/251.patch","issue_url":"https://api.github.com/repos/convus/convus_content/issues/251","number":251,"state":"open","locked":false,"title":"Add
        explanation to hypothesis B: Something else about earth sphericalness.","user":{"login":"convus-bot","id":26616290,"node_id":"MDQ6VXNlcjI2NjE2Mjkw","avatar_url":"https://avatars.githubusercontent.com/u/26616290?v=4","gravatar_id":"","url":"https://api.github.com/users/convus-bot","html_url":"https://github.com/convus-bot","followers_url":"https://api.github.com/users/convus-bot/followers","following_url":"https://api.github.com/users/convus-bot/following{/other_user}","gists_url":"https://api.github.com/users/convus-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/convus-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus-bot/subscriptions","organizations_url":"https://api.github.com/users/convus-bot/orgs","repos_url":"https://api.github.com/users/convus-bot/repos","events_url":"https://api.github.com/users/convus-bot/events{/privacy}","received_events_url":"https://api.github.com/users/convus-bot/received_events","type":"User","site_admin":false},"body":"Added
        explanation to: [B: Something else about earth sphericalness.](https://convus.org/hypotheses/B?explanation_id=1)","created_at":"2021-09-14T17:39:00Z","updated_at":"2021-09-14T17:39:00Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/convus/convus_content/pulls/251/commits","review_comments_url":"https://api.github.com/repos/convus/convus_content/pulls/251/comments","review_comment_url":"https://api.github.com/repos/convus/convus_content/pulls/comments{/number}","comments_url":"https://api.github.com/repos/convus/convus_content/issues/251/comments","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/c5d1423b005c733e5d38455764664c776d7c7440","head":{"label":"convus:update-hypothesis-B-with-1","ref":"update-hypothesis-B-with-1","sha":"c5d1423b005c733e5d38455764664c776d7c7440","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"repo":{"id":295843610,"node_id":"MDEwOlJlcG9zaXRvcnkyOTU4NDM2MTA=","name":"convus_content","full_name":"convus/convus_content","private":false,"owner":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/convus/convus_content","description":"Content
        for convus.org","fork":false,"url":"https://api.github.com/repos/convus/convus_content","forks_url":"https://api.github.com/repos/convus/convus_content/forks","keys_url":"https://api.github.com/repos/convus/convus_content/keys{/key_id}","collaborators_url":"https://api.github.com/repos/convus/convus_content/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/convus/convus_content/teams","hooks_url":"https://api.github.com/repos/convus/convus_content/hooks","issue_events_url":"https://api.github.com/repos/convus/convus_content/issues/events{/number}","events_url":"https://api.github.com/repos/convus/convus_content/events","assignees_url":"https://api.github.com/repos/convus/convus_content/assignees{/user}","branches_url":"https://api.github.com/repos/convus/convus_content/branches{/branch}","tags_url":"https://api.github.com/repos/convus/convus_content/tags","blobs_url":"https://api.github.com/repos/convus/convus_content/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/convus/convus_content/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/convus/convus_content/git/refs{/sha}","trees_url":"https://api.github.com/repos/convus/convus_content/git/trees{/sha}","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/{sha}","languages_url":"https://api.github.com/repos/convus/convus_content/languages","stargazers_url":"https://api.github.com/repos/convus/convus_content/stargazers","contributors_url":"https://api.github.com/repos/convus/convus_content/contributors","subscribers_url":"https://api.github.com/repos/convus/convus_content/subscribers","subscription_url":"https://api.github.com/repos/convus/convus_content/subscription","commits_url":"https://api.github.com/repos/convus/convus_content/commits{/sha}","git_commits_url":"https://api.github.com/repos/convus/convus_content/git/commits{/sha}","comments_url":"https://api.github.com/repos/convus/convus_content/comments{/number}","issue_comment_url":"https://api.github.com/repos/convus/convus_content/issues/comments{/number}","contents_url":"https://api.github.com/repos/convus/convus_content/contents/{+path}","compare_url":"https://api.github.com/repos/convus/convus_content/compare/{base}...{head}","merges_url":"https://api.github.com/repos/convus/convus_content/merges","archive_url":"https://api.github.com/repos/convus/convus_content/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/convus/convus_content/downloads","issues_url":"https://api.github.com/repos/convus/convus_content/issues{/number}","pulls_url":"https://api.github.com/repos/convus/convus_content/pulls{/number}","milestones_url":"https://api.github.com/repos/convus/convus_content/milestones{/number}","notifications_url":"https://api.github.com/repos/convus/convus_content/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/convus/convus_content/labels{/name}","releases_url":"https://api.github.com/repos/convus/convus_content/releases{/id}","deployments_url":"https://api.github.com/repos/convus/convus_content/deployments","created_at":"2020-09-15T20:37:48Z","updated_at":"2021-09-12T18:21:49Z","pushed_at":"2021-09-14T17:38:59Z","git_url":"git://github.com/convus/convus_content.git","ssh_url":"git@github.com:convus/convus_content.git","clone_url":"https://github.com/convus/convus_content.git","svn_url":"https://github.com/convus/convus_content","homepage":"https://www.convus.org","size":706,"stargazers_count":3,"watchers_count":3,"language":"Ruby","has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":{"key":"cc-by-sa-4.0","name":"Creative
        Commons Attribution Share Alike 4.0 International","spdx_id":"CC-BY-SA-4.0","url":"https://api.github.com/licenses/cc-by-sa-4.0","node_id":"MDc6TGljZW5zZTI2"},"allow_forking":true,"forks":0,"open_issues":2,"watchers":3,"default_branch":"main"}},"base":{"label":"convus:main","ref":"main","sha":"4b3dbba99f482792ba18e2bbe1b60e853cfd57cb","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists[...]
