---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"6f8d14b67a8793aec729b88192a6860f7a930dce49e72e58a8453bffb42e6727"
      Last-Modified:
      - Tue, 19 Jan 2021 17:43:28 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/295843610/git/refs?page=2>; rel="next",
        <https://api.github.com/repositories/295843610/git/refs?page=5>; rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4862'
      X-Ratelimit-Reset:
      - '1611084054'
      X-Ratelimit-Used:
      - '138'
    body:
      encoding: ASCII-8BIT
      string: '[{"ref":"refs/heads/main","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvbWFpbg==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/main","object":{"sha":"a1005c05131cfb0d4d66ba50e7571e61794990e9","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/a1005c05131cfb0d4d66ba50e7571e61794990e9"}},{"ref":"refs/heads/update-hypothesis-2255-with-798","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvdXBkYXRlLWh5cG90aGVzaXMtMjI1NS13aXRoLTc5OA==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/update-hypothesis-2255-with-798","object":{"sha":"8794bc65c5fd4b086e5492f1d89025071b13979d","type":"commit","url":"https://api.github.com/repos/convus/convus_c[...]
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/pulls?state=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"3fe43d7323fa50ac6737372b38304ca6d5aa37a2529a028978f5752bbafd7088"
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4861'
      X-Ratelimit-Reset:
      - '1611084054'
      X-Ratelimit-Used:
      - '139'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/convus/convus_content/pulls/140","id":557637486,"node_id":"MDExOlB1bGxSZXF1ZXN0NTU3NjM3NDg2","html_url":"https://github.com/convus/convus_content/pull/140","diff_url":"https://github.com/convus/convus_content/pull/140.diff","patch_url":"https://github.com/convus/convus_content/pull/140.patch","issue_url":"https://api.github.com/repos/convus/convus_content/issues/140","number":140,"state":"open","locked":false,"title":"Add
        citation to hypothesis: Mountain biking disturbs wildlife more than hiking.","user":{"login":"convus-bot","id":26616290,"node_id":"MDQ6VXNlcjI2NjE2Mjkw","avatar_url":"https://avatars2.githubusercontent.com/u/26616290?v=4","gravatar_id":"","url":"https://api.github.com/users/convus-bot","html_url":"https://github.com/convus-bot","followers_url":"https://api.github.com/users/convus-bot/followers","following_url":"https://api.github.com/users/convus-bot/following{/other_user}","gists_url":"https://api.github.com/users/convus-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/convus-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus-bot/subscriptions","organizations_url":"https://api.github.com/users/convus-bot/orgs","repos_url":"https://api.github.com/users/convus-bot/repos","events_url":"https://api.github.com/users/convus-bot/events{/privacy}","received_events_url":"https://api.github.com/users/convus-bot/received_events","type":"User","site_admin":false},"body":"Added
        citation challenging to: [Mountain biking disturbs wildlife more than hiking.](https://convus.org/hypotheses/2255?hypothesis_citation_id=798)","created_at":"2021-01-19T18:49:48Z","updated_at":"2021-01-19T18:49:48Z","closed_at":null,"merged_at":null,"merge_commit_sha":"2ee3a11f60462f911a12b08a63bc6955927f1651","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/convus/convus_content/pulls/140/commits","review_comments_url":"https://api.github.com/repos/convus/convus_content/pulls/140/comments","review_comment_url":"https://api.github.com/repos/convus/convus_content/pulls/comments{/number}","comments_url":"https://api.github.com/repos/convus/convus_content/issues/140/comments","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/8794bc65c5fd4b086e5492f1d89025071b13979d","head":{"label":"convus:update-hypothesis-2255-with-798","ref":"update-hypothesis-2255-with-798","sha":"8794bc65c5fd4b086e5492f1d89025071b13979d","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"repo":{"id":295843610,"node_id":"MDEwOlJlcG9zaXRvcnkyOTU4NDM2MTA=","name":"convus_content","full_name":"convus/convus_content","private":false,"owner":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/convus/convus_content","description":"Content
        for convus.org","fork":false,"url":"https://api.github.com/repos/convus/convus_content","forks_url":"https://api.github.com/repos/convus/convus_content/forks","keys_url":"https://api.github.com/repos/convus/convus_content/keys{/key_id}","collaborators_url":"https://api.github.com/repos/convus/convus_content/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/convus/convus_content/teams","hooks_url":"https://api.github.com/repos/convus/convus_content/hooks","issue_events_url":"https://api.github.com/repos/convus/convus_content/issues/events{/number}","events_url":"https://api.github.com/repos/convus/convus_content/events","assignees_url":"https://api.github.com/repos/convus/convus_content/assignees{/user}","branches_url":"https://api.github.com/repos/convus/convus_content/branches{/branch}","tags_url":"https://api.github.com/repos/convus/convus_content/tags","blobs_url":"https://api.github.com/repos/convus/convus_content/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/convus/convus_content/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/convus/convus_content/git/refs{/sha}","trees_url":"https://api.github.com/repos/convus/convus_content/git/trees{/sha}","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/{sha}","languages_url":"https://api.github.com/repos/convus/convus_content/languages","stargazers_url":"https://api.github.com/repos/convus/convus_content/stargazers","contributors_url":"https://api.github.com/repos/convus/convus_content/contributors","subscribers_url":"https://api.github.com/repos/convus/convus_content/subscribers","subscription_url":"https://api.github.com/repos/convus/convus_content/subscription","commits_url":"https://api.github.com/repos/convus/convus_content/commits{/sha}","git_commits_url":"https://api.github.com/repos/convus/convus_content/git/commits{/sha}","comments_url":"https://api.github.com/repos/convus/convus_content/comments{/number}","issue_comment_url":"https://api.github.com/repos/convus/convus_content/issues/comments{/number}","contents_url":"https://api.github.com/repos/convus/convus_content/contents/{+path}","compare_url":"https://api.github.com/repos/convus/convus_content/compare/{base}...{head}","merges_url":"https://api.github.com/repos/convus/convus_content/merges","archive_url":"https://api.github.com/repos/convus/convus_content/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/convus/convus_content/downloads","issues_url":"https://api.github.com/repos/convus/convus_content/issues{/number}","pulls_url":"https://api.github.com/repos/convus/convus_content/pulls{/number}","milestones_url":"https://api.github.com/repos/convus/convus_content/milestones{/number}","notifications_url":"https://api.github.com/repos/convus/convus_content/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/convus/convus_content/labels{/name}","releases_url":"https://api.github.com/repos/convus/convus_content/releases{/id}","deployments_url":"https://api.github.com/repos/convus/convus_content/deployments","created_at":"2020-09-15T20:37:48Z","updated_at":"2021-01-19T17:43:28Z","pushed_at":"2021-01-19T18:49:48Z","git_url":"git://github.com/convus/convus_content.git","ssh_url":"git@github.com:convus/convus_content.git","clone_url":"https://github.com/convus/convus_content.git","svn_url":"https://github.com/convus/convus_content","homepage":"https://www.convus.org","size":286,"stargazers_count":3,"watchers_count":3,"language":null,"has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":{"key":"cc-by-sa-4.0","name":"Creative
        Commons Attribution Share Alike 4.0 International","spdx_id":"CC-BY-SA-4.0","url":"https://api.github.com/licenses/cc-by-sa-4.0","node_id":"MDc6TGljZW5zZTI2"},"forks":0,"open_issues":2,"watchers":3,"default_branch":"main"}},"base":{"label":"convus:main","ref":"main","sha":"a1005c05131cfb0d4d66ba50e7571e61794990e9","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://[...]
[...]
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/update-hypothesis-2237-with-12","sha":"a1005c05131cfb0d4d66ba50e7571e61794990e9"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"98bd22426f2170b3d4526d4612506cadc07d6b577cf1a28fd6aa58840dd2f769"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      Location:
      - https://api.github.com/repos/convus/convus_content/git/refs/heads/update-hypothesis-2237-with-12
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4859'
      X-Ratelimit-Reset:
      - '1611084054'
      X-Ratelimit-Used:
      - '141'
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/update-hypothesis-2237-with-12","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvdXBkYXRlLWh5cG90aGVzaXMtMjIzNy13aXRoLTEy","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/update-hypothesis-2237-with-12","object":{"sha":"a1005c05131cfb0d4d66ba50e7571e61794990e9","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/a1005c05131cfb0d4d66ba50e7571e61794990e9"}}'
  recorded_at: Tue, 19 Jan 2021 18:53:12 GMT
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/iq-tests-are-repeatable-and-accurate.yml?branch=update-hypothesis-2237-with-12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d236580a0c9d1d2690faf3527ebdc2bb3d1a123c"
      Last-Modified:
      - Tue, 19 Jan 2021 17:43:21 GMT
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4858'
      X-Ratelimit-Reset:
      - '1611084054'
      X-Ratelimit-Used:
      - '142'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"iq-tests-are-repeatable-and-accurate.yml","path":"hypotheses/iq-tests-are-repeatable-and-accurate.yml","sha":"d236580a0c9d1d2690faf3527ebdc2bb3d1a123c","size":329,"url":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/iq-tests-are-repeatable-and-accurate.yml?ref=main","html_url":"https://github.com/convus/convus_content/blob/main/hypotheses/iq-tests-are-repeatable-and-accurate.yml","git_url":"https://api.github.com/repos/convus/convus_content/git/blobs/d236580a0c9d1d2690faf3527ebdc2bb3d1a123c","download_url":"https://raw.githubusercontent.com/convus/convus_content/main/hypotheses/iq-tests-are-repeatable-and-accurate.yml","type":"file","content":"LS0tCnRpdGxlOiBJUSB0ZXN0cyBhcmUgcmVwZWF0YWJsZSBhbmQgYWNjdXJh\ndGUKaWQ6IDIyMzcKY2l0ZWRfdXJsczoKLSB1cmw6IGh0dHA6Ly9lcHJpbnRz\nLmh1ZC5hYy51ay9pZC9lcHJpbnQvNzA0NC8yL1doaXRha2VyRXJyb3IucGRm\nCiAgcXVvdGVzOgogIC0gSVEgdGVzdHMgaGF2ZSBhIDk1JSBjb25maWRlbmNl\nIGludGVydmFsIDE1IHBvaW50cyBlaXRoZXIgc2lkZSBvZiB0aGUgb2J0YWlu\nZWQKICAgIElRCiAgY2hhbGxlbmdlczogCm5ld19jaXRlZF91cmw6IApyZWZ1\ndGVkX2J5X2h5cG90aGVzZXM6IFtdCnRvcGljczoKLSBFcnJvcnMKLSBJbnRl\nbGxpZ2VuY2UKLSBJUQo=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/iq-tests-are-repeatable-and-accurate.yml?ref=main","git":"https://api.github.com/repos/convus/convus_content/git/blobs/d236580a0c9d1d2690faf3527ebdc2bb3d1a123c","html":"https://github.com/convus/convus_content/blob/main/hypotheses/iq-tests-are-repeatable-and-accurate.yml"}}'
  recorded_at: Tue, 19 Jan 2021 18:53:12 GMT
- request:
    method: delete
    uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/iq-tests-are-repeatable-and-accurate.yml
    body:
      encoding: UTF-8
      string: '{"branch":"update-hypothesis-2237-with-12","message":"Deleting file","sha":"d236580a0c9d1d2690faf3527ebdc2bb3d1a123c"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"dac1d97bfe6825a8bcbf88cfd57a06b222027e68e0df840366e4b0e7f9c9ed8d"
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4857'
      X-Ratelimit-Reset:
      - '1611084054'
      X-Ratelimit-Used:
      - '143'
    body:
      encoding: ASCII-8BIT
      string: '{"content":null,"commit":{"sha":"910a8b8067db2c6b8cfbb216034c4dec32775101","node_id":"MDY6Q29tbWl0Mjk1ODQzNjEwOjkxMGE4YjgwNjdkYjJjNmI4Y2ZiYjIxNjAzNGM0ZGVjMzI3NzUxMDE=","url":"https://api.github.com/repos/convus/convus_content/git/commits/910a8b8067db2c6b8cfbb216034c4dec32775101","html_url":"https://github.com/convus/convus_content/commit/910a8b8067db2c6b8cfbb216034c4dec32775101","author":{"name":"Convus
        Bot","email":"bot@convus.org","date":"2021-01-19T18:53:13Z"},"committer":{"name":"Convus
        Bot","email":"bot@convus.org","date":"2021-01-19T18:53:13Z"},"tree":{"sha":"b5ed6b189c60a847dd37622b9e408a15c97b779f","url":"https://api.github.com/repos/convus/convus_content/git/trees/b5ed6b189c60a847dd37622b9e408a15c97b779f"},"message":"Deleting
        file","parents":[{"sha":"a1005c05131cfb0d4d66ba50e7571e61794990e9","url":"https://api.github.com/repos/convus/convus_content/git/commits/a1005c05131cfb0d4d66ba50e7571e61794990e9","html_url":"https://github.com/convus/convus_content/commit/a1005c05131cfb0d4d66ba50e7571e61794990e9"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}}'
  recorded_at: Tue, 19 Jan 2021 18:53:13 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/contents/citations/testing-convus-org/examples-etc.yml?branch=update-hypothesis-2237-with-12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4851'
      X-Ratelimit-Reset:
      - '1611084054'
      X-Ratelimit-Used:
      - '149'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
  recorded_at: Tue, 19 Jan 2021 18:53:15 GMT
- request:
    method: put
    uri: https://api.github.com/repos/convus/convus_content/contents/citations/testing-convus-org/examples-etc.yml
    body:
      encoding: UTF-8
      string: '{"branch":"update-hypothesis-2237-with-12","content":"LS0tCnRpdGxlOiBleGFtcGxlcy9ldGMKaWQ6IDEyCnBlZXJfcmV2aWV3ZWQ6IGZhbHNlCnVybF9pc19ub3RfcHVibGlzaGVyOiBmYWxzZQp1cmxfaXNfZGlyZWN0X2xpbmtfdG9fZnVsbF90ZXh0OiBmYWxzZQp1cmw6IGh0dHBzOi8vdGVzdGluZy5jb252dXMub3JnL2V4YW1wbGVzL2V0YwpwdWJsaWNhdGlvbl90aXRsZTogdGVzdGluZy5jb[...]
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/pulls
    body:
      encoding: UTF-8
      string: '{"base":"main","head":"update-hypothesis-2237-with-12","title":"Add
        citation to hypothesis: IQ tests are repeatable and accurate","body":"Added
        citation challenging to: [IQ tests are repeatable and accurate](https://convus.org/hypotheses/2237?hypothesis_citation_id=12)"}'
    headers:
      Content-Type:
      - application/json
      Author[...]
