---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"153c72004fd38f4ff7334e1a525be20db5245258a5c13d56dc2257d8df479161"
      Last-Modified:
      - Sun, 05 Sep 2021 19:35:54 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/295843610/git/refs?page=2>; rel="next",
        <https://api.github.com/repositories/295843610/git/refs?page=8>; rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1630873662'
      X-Ratelimit-Used:
      - '13'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"ref":"refs/heads/first-markdown-attempt","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvZmlyc3QtbWFya2Rvd24tYXR0ZW1wdA==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/first-markdown-attempt","object":{"sha":"81fd177909d780dd14486d7a6c61a2c1e3b468a5","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/81fd177909d780dd14486d7a6c61a2c1e3b468a5"}},{"ref":"refs/heads/main","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvbWFpbg==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/main","object":{"sha":"05a9fa45e846fe3aa50cf90e8a70897109d947fa","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/05a9fa45e846fe3aa50cf90e8a70897109d947fa"}},{"ref":"refs/pull/1/head","[...]
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/update-hypothesis-J-with-1","sha":"05a9fa45e846fe3aa50cf90e8a70897109d947fa"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"545f56403f59d604e0436aba9cdeb5fae48c62cfb006425bfbd816b0ad9c029d"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      Location:
      - https://api.github.com/repos/convus/convus_content/git/refs/heads/update-hypothesis-J-with-1
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1630873662'
      X-Ratelimit-Used:
      - '14'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/update-hypothesis-J-with-1","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvdXBkYXRlLWh5cG90aGVzaXMtSi13aXRoLTE=","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/update-hypothesis-J-with-1","object":{"sha":"05a9fa45e846fe3aa50cf90e8a70897109d947fa","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/05a9fa45e846fe3aa50cf90e8a70897109d947fa"}}'
  recorded_at: Sun, 05 Sep 2021 19:42:05 GMT
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/J_the-earth-is-roughly-spherical.yml?branch=update-hypothesis-J-with-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d2d3563d4c74d2adf0e784b53a37e2db2083382"
      Last-Modified:
      - Sun, 05 Sep 2021 19:35:51 GMT
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1630873662'
      X-Ratelimit-Used:
      - '15'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"name":"J_the-earth-is-roughly-spherical.yml","path":"hypotheses/J_the-earth-is-roughly-spherical.yml","sha":"9d2d3563d4c74d2adf0e784b53a37e2db2083382","size":2207,"url":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/J_the-earth-is-roughly-spherical.yml?ref=main","html_url":"https://github.com/convus/convus_content/blob/main/hypotheses/J_the-earth-is-roughly-spherical.yml","git_url":"https://api.github.com/repos/convus/convus_content/git/blobs/9d2d3563d4c74d2adf0e784b53a37e2db2083382","download_url":"https://raw.githubusercontent.com/convus/convus_content/main/hypotheses/J_the-earth-is-roughly-spherical.yml","type":"file","content":"LS0tCnRpdGxlOiBUaGUgZWFydGggaXMgcm91Z2hseSBzcGhlcmljYWwKaWQ6\nIEoKY2l0ZWRfdXJsczoKLSB1cmw6IGh0dHBzOi8vZW4ud2lraXBlZGlhLm9y\nZy93aWtpL1NwaGVyaWNhbF9FYXJ0aAogIHF1b3RlczoKICAtIE9uIGEgZmxh\ndCBFYXJ0aCwgYSBTdW4gdGhhdCBzaGluZXMgaW4gYWxsIGRpcmVjdGlvbnMg\nd291bGQgaWxsdW1pbmF0ZSB0aGUgZW50aXJlCiAgICBzdXJmYWNlIGF0IHRo\nZSBzYW1lIHRpbWUsIGFuZCBhbGwgcGxhY2VzIHdvdWxkIGV4cGVyaWVuY2Ug\nc3VucmlzZSBhbmQgc3Vuc2V0IGF0CiAgICB0aGUgaG9yaXpvbiBhdCBhYm91\ndCB0aGUgc2FtZSB0aW1lLiBXaXRoIGEgc3BoZXJpY2FsIEVhcnRoLCBoYWxm\nIHR[...]
- request:
    method: delete
    uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/J_the-earth-is-roughly-spherical.yml
    body:
      encoding: UTF-8
      string: '{"branch":"update-hypothesis-J-with-1","message":"Deleting file","sha":"9d2d3563d4c74d2adf0e784b53a37e2db2083382"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"802d1a6f6dd3dbdc39d272e781f6da75854eca93d42f7698709bec3d16343fd8"
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1630873662'
      X-Ratelimit-Used:
      - '16'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"content":null,"commit":{"sha":"91efcafafc59653d68b2da96cfd3f99afeaae919","node_id":"MDY6Q29tbWl0Mjk1ODQzNjEwOjkxZWZjYWZhZmM1OTY1M2Q2OGIyZGE5NmNmZDNmOTlhZmVhYWU5MTk=","url":"https://api.github.com/repos/convus/convus_content/git/commits/91efcafafc59653d68b2da96cfd3f99afeaae919","html_url":"https://github.com/convus/convus_content/commit/91efcafafc59653d68b2da96cfd3f99afeaae919","author":{"name":"Convus
        Bot","email":"bot@convus.org","date":"2021-09-05T19:42:05Z"},"committer":{"name":"Convus
        Bot","email":"bot@convus.org","date":"2021-09-05T19:42:05Z"},"tree":{"sha":"0b8958fbe3c73965aa74aea69cbc4f9faaf4e0a9","url":"https://api.github.com/repos/convus/convus_content/git/trees/0b8958fbe3c73965aa74aea69cbc4f9faaf4e0a9"},"message":"Deleting
        file","parents":[{"sha":"05a9fa45e846fe3aa50cf90e8a70897109d947fa","url":"https://api.github.com/repos/convus/convus_content/git/commits/05a9fa45e846fe3aa50cf90e8a70897109d947fa","html_url":"https://github.com/convus/convus_content/commit/05a9fa45e846fe3aa50cf90e8a70897109d947fa"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}}'
  recorded_at: Sun, 05 Sep 2021 19:42:06 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/pulls
    body:
      encoding: UTF-8
      string: '{"base":"main","head":"update-hypothesis-J-with-1","title":"Add explanation
        to hypothesis J: The earth is roughly spherical","body":"Added explanation
        to: [J: The earth is roughly spherical](https://convus.org/hypotheses/J?explanation_id=1)"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9e8002831aba7ed98773f430de10271039713a3266c018faea312887b73a484c"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/convus/convus_content/pulls/236
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1630873662'
      X-Ratelimit-Used:
      - '18'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/convus/convus_content/pulls/236","id":727457673,"node_id":"MDExOlB1bGxSZXF1ZXN0NzI3NDU3Njcz","html_url":"https://github.com/convus/convus_content/pull/236","diff_url":"https://github.com/convus/convus_content/pull/236.diff","patch_url":"https://github.com/convus/convus_content/pull/236.patch","issue_url":"https://api.github.com/repos/convus/convus_content/issues/236","number":236,"state":"open","locked":false,"title":"Add
        explanation to hypothesis J: The earth is roughly spherical","user":{"login":"convus-bot","id":26616290,"node_id":"MDQ6VXNlcjI2NjE2Mjkw","avatar_url":"https://avatars.githubusercontent.com/u/26616290?v=4","gravatar_id":"","url":"https://api.github.com/users/convus-bot","html_url":"https://github.com/convus-bot","followers_url":"https://api.github.com/users/convus-bot/followers","following_url":"https://api.github.com/users/convus-bot/following{/other_user}","gists_url":"https://api.github.com/users/convus-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/convus-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus-bot/subscriptions","organizations_url":"https://api.github.com/users/convus-bot/orgs","repos_url":"https://api.github.com/users/convus-bot/repos","events_url":"https://api.github.com/users/convus-bot/events{/privacy}","received_events_url":"https://api.github.com/users/convus-bot/received_events","type":"User","site_admin":false},"body":"Added
        explanation to: [J: The earth is roughly spherical](https://convus.org/hypotheses/J?explanation_id=1)","created_at":"2021-09-05T19:42:07Z","updated_at":"2021-09-05T19:42:07Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/convus/convus_content/pulls/236/commits","review_comments_url":"https://api.github.com/repos/convus/convus_content/pulls/236/comments","review_comment_url":"https://api.github.com/repos/convus/convus_content/pulls/comments{/number}","comments_url":"https://api.github.com/repos/convus/convus_content/issues/236/comments","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/4ffc9e7bdd0e09b8747545611f79a9640a50ac95","head":{"label":"convus:update-hypothesis-J-with-1","ref":"update-hypothesis-J-with-1","sha":"4ffc9e7bdd0e09b8747545611f79a9640a50ac95","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"repo":{"id":295843610,"node_id":"MDEwOlJlcG9zaXRvcnkyOTU4NDM2MTA=","name":"convus_content","full_name":"convus/convus_content","private":false,"owner":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/convus/convus_content","description":"Content
        for convus.org","fork":false,"url":"https://api.github.com/repos/convus/convus_content","forks_url":"https://api.github.com/repos/convus/convus_content/forks","keys_url":"https://api.github.com/repos/convus/convus_content/keys{/key_id}","collaborators_url":"https://api.github.com/repos/convus/convus_content/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/convus/convus_content/teams","hooks_url":"https://api.github.com/repos/convus/convus_content/hooks","issue_events_url":"https://api.github.com/repos/convus/convus_content/issues/events{/number}","events_url":"https://api.github.com/repos/convus/convus_content/events","assignees_url":"https://api.github.com/repos/convus/convus_content/assignees{/user}","branches_url":"https://api.github.com/repos/convus/convus_content/branches{/branch}","tags_url":"https://api.github.com/repos/convus/convus_content/tags","blobs_url":"https://api.github.com/repos/convus/convus_content/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/convus/convus_content/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/convus/convus_content/git/refs{/sha}","trees_url":"https://api.github.com/repos/convus/convus_content/git/trees{/sha}","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/{sha}","languages_url":"https://api.github.com/repos/convus/convus_content/languages","stargazers_url":"https://api.github.com/repos/convus/convus_content/stargazers","contributors_url":"https://api.github.com/repos/convus/convus_content/contributors","subscribers_url":"https://api.github.com/repos/convus/convus_content/subscribers","subscription_url":"https://api.github.com/repos/convus/convus_content/subscription","commits_url":"https://api.github.com/repos/convus/convus_content/commits{/sha}","git_commits_url":"https://api.github.com/repos/convus/convus_content/git/commits{/sha}","comments_url":"https://api.github.com/repos/convus/convus_content/comments{/number}","issue_comment_url":"https://api.github.com/repos/convus/convus_content/issues/comments{/number}","contents_url":"https://api.github.com/repos/convus/convus_content/contents/{+path}","compare_url":"https://api.github.com/repos/convus/convus_content/compare/{base}...{head}","merges_url":"https://api.github.com/repos/convus/convus_content/merges","archive_url":"https://api.github.com/repos/convus/convus_content/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/convus/convus_content/downloads","issues_url":"https://api.github.com/repos/convus/convus_content/issues{/number}","pulls_url":"https://api.github.com/repos/convus/convus_content/pulls{/number}","milestones_url":"https://api.github.com/repos/convus/convus_content/milestones{/number}","notifications_url":"https://api.github.com/repos/convus/convus_content/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/convus/convus_content/labels{/name}","releases_url":"https://api.github.com/repos/convus/convus_content/releases{/id}","deployments_url":"https://api.github.com/repos/convus/convus_content/deployments","created_at":"2020-09-15T20:37:48Z","updated_at":"2021-09-05T19:35:54Z","pushed_at":"2021-09-05T19:42:05Z","git_url":"git://github.com/convus/convus_content.git","ssh_url":"git@github.com:convus/convus_content.git","clone_url":"https://github.com/convus/convus_content.git","svn_url":"https://github.com/convus/convus_content","homepage":"https://www.convus.org","size":595,"stargazers_count":3,"watchers_count":3,"language":"Ruby","has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":3,"license":{"key":"cc-by-sa-4.0","name":"Creative
        Commons Attribution Share Alike 4.0 International","spdx_id":"CC-BY-SA-4.0","url":"https://api.github.com/licenses/cc-by-sa-4.0","node_id":"MDc6TGljZW5zZTI2"},"forks":0,"open_issues":3,"watchers":3,"default_branch":"main"}},"base":{"label":"convus:main","ref":"main","sha":"05a9fa45e846fe3aa50cf90e8a70897109d947fa","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists[...]
