---
http_interactions:
  - request:
      method: get
      uri: https://api.github.com/repos/convus/convus_content/git/refs
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxx
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 200 OK
        Etag:
          - W/"3a8e206937394743287dc98120a9e49cde2d8ff99a13658dc8ec353037b179b9"
        Last-Modified:
          - Wed, 13 Jan 2021 01:20:46 GMT
        X-Poll-Interval:
          - "300"
        X-Oauth-Scopes:
          - repo, workflow
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Media-Type:
          - github.v3; format=json
        Link:
          - <https://api.github.com/repositories/295843610/git/refs?page=2>; rel="next",
            <https://api.github.com/repositories/295843610/git/refs?page=5>; rel="last"
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4980"
        X-Ratelimit-Reset:
          - "1610585482"
        X-Ratelimit-Used:
          - "20"
      body:
        encoding: ASCII-8BIT
        string: '[{"ref":"refs/heads/main","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvbWFpbg==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/main","object":{"sha":"716236aa522c821fd0e29e56756b38f21f6c5f02","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/716236aa522c821fd0e29e56756b38f21f6c5f02"}},{"ref":"refs/heads/refute-immigration-1","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvcmVmdXRlLWltbWlncmF0aW9uLTE=","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/refute-immigration-1","object":{"sha":"82faa9a350fd157267166790d27dd49964d75ce8","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/82faa9a350fd1572671[...]
  - request:
      method: get
      uri: https://api.github.com/repos/convus/convus_content/pulls?state=open
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxx
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 200 OK
        Etag:
          - W/"ba04135b59cba27243a0eba02b07ad5643bed37907e078370ec3167d4eade539"
        X-Oauth-Scopes:
          - repo, workflow
        X-Accepted-Oauth-Scopes:
          - ""
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4979"
        X-Ratelimit-Reset:
          - "1610585482"
        X-Ratelimit-Used:
          - "21"
      body:
        encoding: ASCII-8BIT
        string:
          '[{"url":"https://api.github.com/repos/convus/convus_content/pulls/127","id":546318984,"node_id":"MDExOlB1bGxSZXF1ZXN0NTQ2MzE4OTg0","html_url":"https://github.com/convus/convus_content/pull/127","diff_url":"https://github.com/convus/convus_content/pull/127.diff","patch_url":"https://github.com/convus/convus_content/pull/127.patch","issue_url":"https://api.github.com/repos/convus/convus_content/issues/127","number":127,"state":"open","locked":false,"title":"Refuted:
          Immigration negatively impacts low skilled workers","user":{"login":"sethherr","id":1235441,"node_id":"MDQ6VXNlcjEyMzU0NDE=","avatar_url":"https://avatars2.githubusercontent.com/u/1235441?v=4","gravatar_id":"","url":"https://api.github.com/users/sethherr","html_url":"https://github.com/sethherr","followers_url":"https://api.github.com/users/sethherr/followers","following_url":"https://api.github.com/users/sethherr/following{/other_user}","gists_url":"https://api.github.com/users/sethherr/gists{/gist_id}","starred_url":"https://api.github.com/users/sethherr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sethherr/subscriptions","organizations_url":"https://api.github.com/users/sethherr/orgs","repos_url":"https://api.github.com/users/sethherr/repos","events_url":"https://api.github.com/users/sethherr/events{/privacy}","received_events_url":"https://api.github.com/users/sethherr/received_events","type":"User","site_admin":false},"body":"Refute
          [Immigration negatively impacts low skilled workers](https://www.convus.org/hypotheses/2267)\r\n\r\n\r\nWith
          _[Immigration has very little impact on wages for domestic workers](https://www.convus.org/hypotheses/immigration-has-very-little-impact-on-wages-for-domestic-workers)_\r\n\r\nBecause:\r\n\r\n1.
          The citation, _The Wage Impact of the Marielitos: a Reappraisal_ is refuted
          by:\r\n>  Using a sample of non-Cuban high-school dropouts we find no significant
          difference in the wages of workers in Miami relative to its control after
          1980.\r\n\r\n2. Other studies of similar high-immigration periods and places
          similarly suggest there isn''t a negative impact for low skilled workers\r\n>
          Using longitudinal data on the universe of workers in Denmark during the period
          1991-2008, we track the labor market outcomes of low-skilled natives in response
          to an exogenous inflow of low- skilled immigrants... immigration had positive
          effects on native unskilled wages, employment, and occupational mobility.\r\n\r\n\r\n\r\n","created_at":"2020-12-29T04:24:31Z","updated_at":"2020-12-29T16:18:50Z","closed_at":null,"merged_at":null,"merge_commit_sha":"1164e43083ba46040036ed24e6b5d1196df74d49","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/convus/convus_content/pulls/127/commits","review_comments_url":"https://api.github.com/repos/convus/convus_content/pulls/127/comments","review_comment_url":"https://api.github.com/repos/convus/convus_content/pulls/comments{/number}","comments_url":"https://api.github.com/repos/convus/convus_content/issues/127/comments","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/82faa9a350fd157267166790d27dd49964d75ce8","head":{"label":"convus:refute-immigration-1","ref":"refute-immigration-1","sha":"82faa9a350fd157267166790d27dd49964d75ce8","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"repo":{"id":295843610,"node_id":"MDEwOlJlcG9zaXRvcnkyOTU4NDM2MTA=","name":"convus_content","full_name":"convus/convus_content","private":false,"owner":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/convus/convus_content","description":"Content
          for convus.org","fork":false,"url":"https://api.github.com/repos/convus/convus_content","forks_url":"https://api.github.com/repos/convus/convus_content/forks","keys_url":"https://api.github.com/repos/convus/convus_content/keys{/key_id}","collaborators_url":"https://api.github.com/repos/convus/convus_content/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/convus/convus_content/teams","hooks_url":"https://api.github.com/repos/convus/convus_content/hooks","issue_events_url":"https://api.github.com/repos/convus/convus_content/issues/events{/number}","events_url":"https://api.github.com/repos/convus/convus_content/events","assignees_url":"https://api.github.com/repos/convus/convus_content/assignees{/user}","branches_url":"https://api.github.com/repos/convus/convus_content/branches{/branch}","tags_url":"https://api.github.com/repos/convus/convus_content/tags","blobs_url":"https://api.github.com/repos/convus/convus_content/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/convus/convus_content/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/convus/convus_content/git/refs{/sha}","trees_url":"https://api.github.com/repos/convus/convus_content/git/trees{/sha}","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/{sha}","languages_url":"https://api.github.com/repos/convus/convus_content/languages","stargazers_url":"https://api.github.com/repos/convus/convus_content/stargazers","contributors_url":"https://api.github.com/repos/convus/convus_content/contributors","subscribers_url":"https://api.github.com/repos/convus/convus_content/subscribers","subscription_url":"https://api.github.com/repos/convus/convus_content/subscription","commits_url":"https://api.github.com/repos/convus/convus_content/commits{/sha}","git_commits_url":"https://api.github.com/repos/convus/convus_content/git/commits{/sha}","comments_url":"https://api.github.com/repos/convus/convus_content/comments{/number}","issue_comment_url":"https://api.github.com/repos/convus/convus_content/issues/comments{/number}","contents_url":"https://api.github.com/repos/convus/convus_content/contents/{+path}","compare_url":"https://api.github.com/repos/convus/convus_content/compare/{base}...{head}","merges_url":"https://api.github.com/repos/convus/convus_content/merges","archive_url":"https://api.github.com/repos/convus/convus_content/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/convus/convus_content/downloads","issues_url":"https://api.github.com/repos/convus/convus_content/issues{/number}","pulls_url":"https://api.github.com/repos/convus/convus_content/pulls{/number}","milestones_url":"https://api.github.com/repos/convus/convus_content/milestones{/number}","notifications_url":"https://api.github.com/repos/convus/convus_content/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/convus/convus_content/labels{/name}","releases_url":"https://api.github.com/repos/convus/convus_content/releases{/id}","deployments_url":"https://api.github.com/repos/convus/convus_content/deployments","created_at":"2020-09-15T20:37:48Z","updated_at":"2021-01-13T01:20:46Z","pushed_at":"2021-01-14T00:13:15Z","git_url":"git://github.com/convus/convus_content.git","ssh_url":"git@github.com:convus/convus_content.git","clone_url":"https://github.com/convus/convus_content.git","svn_url":"https://github.com/convus/convus_content","homepage":"https://www.convus.org","size":284,"stargazers_count":3,"watchers_count":3,"language":null,"has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":{"key":"cc-by-sa-4.0","name":"Creative
          Commons Attribution Share Alike 4.0 International","spdx_id":"CC-BY-SA-4.0","url":"https://api.github.com/licenses/cc-by-sa-4.0","node_id":"MDc6TGljZW5zZTI2"},"forks":0,"open_issues":2,"watchers":3,"default_branch":"main"}},"base":{"label":"convus:main","ref":"main","sha":"f7179c3ecff8d73ee37661fc799f0d5ab186049e","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://[...]
[...]
  - request:
      method: post
      uri: https://api.github.com/repos/convus/convus_content/git/refs
      body:
        encoding: UTF-8
        string: '{"ref":"refs/heads/proposed-hypothesis-42-update","sha":"716236aa522c821fd0e29e56756b38f21f6c5f02"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxx
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 201 Created
        Etag:
          - '"f13d49e91f6271875b763c4cdc0dc6be063436368749721ec12aa7efef217171"'
        X-Oauth-Scopes:
          - repo, workflow
        X-Accepted-Oauth-Scopes:
          - repo
        Location:
          - https://api.github.com/repos/convus/convus_content/git/refs/heads/proposed-hypothesis-42-update
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4977"
        X-Ratelimit-Reset:
          - "1610585482"
        X-Ratelimit-Used:
          - "23"
      body:
        encoding: UTF-8
        string: '{"ref":"refs/heads/proposed-hypothesis-42-update","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvcHJvcG9zZWQtaHlwb3RoZXNpcy00Mi11cGRhdGU=","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/proposed-hypothesis-42-update","object":{"sha":"716236aa522c821fd0e29e56756b38f21f6c5f02","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/716236aa522c821fd0e29e56756b38f21f6c5f02"}}'
    recorded_at: Thu, 14 Jan 2021 00:13:31 GMT
  - request:
      method: put
      uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/testing-github-hypothesis-citation-addition.yml
      body:
        encoding: UTF-8
        string:
          '{"branch":"proposed-hypothesis-42-update","content":"LS0tCnRpdGxlOiBUZXN0aW5nIEdpdEh1YiBIeXBvdGhlc2lzIENpdGF0aW9uIGFkZGl0aW9uCmlkOiA0MgpjaXRlZF91cmxzOgotIHVybDogaHR0cHM6Ly9leGFtcGxlLmNvbS9oeXBvdGhlc2lzX2NpdGF0aW9uLTEKICBxdW90ZXM6CiAgLSBTb21lIHF1b3RlIGhlcmUKcmVmdXRlZF9ieV9oeXBvdGhlc2VzOiBbXQp0b3BpY3M6IFtdCm5ld19jaXRlZF91cmw6Ci0gdXJsOiBodHRwczovL3Rlc3RpbmcuY29udnVzLm9yZy9leGFtcGxlcy9ldGMKICBxdW90ZXM6CiAgLSB3aG9vb29vb28K","message":"Add
          citation to hypothesis: Testing GitHub Hypothesis Citation addition"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxx
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 201 Created
        Etag:
          - '"788b2aefd61ba9f3ce01801700d5da91647b84c922d4fd10a8d8694b75328258"'
        X-Oauth-Scopes:
          - repo, workflow
        X-Accepted-Oauth-Scopes:
          - ""
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4976"
        X-Ratelimit-Reset:
          - "1610585482"
        X-Ratelimit-Used:
          - "24"
      body:
        encoding: UTF-8
        string:
          '{"content":{"name":"testing-github-hypothesis-citation-addition.yml","path":"hypotheses/testing-github-hypothesis-citation-addition.yml","sha":"03229104959b4ab87e608d7d266c78d65be37111","size":276,"url":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/testing-github-hypothesis-citation-addition.yml?ref=proposed-hypothesis-42-update","html_url":"https://github.com/convus/convus_content/blob/proposed-hypothesis-42-update/hypotheses/testing-github-hypothesis-citation-addition.yml","git_url":"https://api.github.com/repos/convus/convus_content/git/blobs/03229104959b4ab87e608d7d266c78d65be37111","download_url":"https://raw.githubusercontent.com/convus/convus_content/proposed-hypothesis-42-update/hypotheses/testing-github-hypothesis-citation-addition.yml","type":"file","_links":{"self":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/testing-github-hypothesis-citation-addition.yml?ref=proposed-hypothesis-42-update","git":"https://api.github.com/repos/convus/convus_content/git/blobs/03229104959b4ab87e608d7d266c78d65be37111","html":"https://github.com/convus/convus_content/blob/proposed-hypothesis-42-update/hypotheses/testing-github-hypothesis-citation-addition.yml"}},"commit":{"sha":"72be0b03b6a09ce390d921914fbf248161897fd1","node_id":"MDY6Q29tbWl0Mjk1ODQzNjEwOjcyYmUwYjAzYjZhMDljZTM5MGQ5MjE5MTRmYmYyNDgxNjE4OTdmZDE=","url":"https://api.github.com/repos/convus/convus_content/git/commits/72be0b03b6a09ce390d921914fbf248161897fd1","html_url":"https://github.com/convus/convus_content/commit/72be0b03b6a09ce390d921914fbf248161897fd1","author":{"name":"Convus
          Bot","email":"bot@convus.org","date":"2021-01-14T00:13:31Z"},"committer":{"name":"Convus
          Bot","email":"bot@convus.org","date":"2021-01-14T00:13:31Z"},"tree":{"sha":"204e007541e2db5146ead4e409e10fab06129809","url":"https://api.github.com/repos/convus/convus_content/git/trees/204e007541e2db5146ead4e409e10fab06129809"},"message":"Add
          citation to hypothesis: Testing GitHub Hypothesis Citation addition","parents":[{"sha":"716236aa522c821fd0e29e56756b38f21f6c5f02","url":"https://api.github.com/repos/convus/convus_content/git/commits/716236aa522c821fd0e29e56756b38f21f6c5f02","html_url":"https://github.com/convus/convus_content/commit/716236aa522c821fd0e29e56756b38f21f6c5f02"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}}'
    recorded_at: Thu, 14 Jan 2021 00:13:33 GMT
  - request:
      method: put
      uri: https://api.github.com/repos/convus/convus_content/contents/citations/testing-convus-org/examples-etc.yml
      body:
        encoding: UTF-8
        string:
          '{"branch":"proposed-hypothesis-42-update","content":"LS0tCnRpdGxlOiBleGFtcGxlcy9ldGMKaWQ6IDYzOApwZWVyX3Jldmlld2VkOiBmYWxzZQp1cmxfaXNfbm90X3B1Ymxpc2hlcjogZmFsc2UKdXJsX2lzX2RpcmVjdF9saW5rX3RvX2Z1bGxfdGV4dDogZmFsc2UKdXJsOiBodHRwczovL3Rlc3RpbmcuY29udnVzLm9yZy9leGFtcGxlcy9ldGMKcHVibGljYXRpb25f[...]
  - request:
      method: post
      uri: https://api.github.com/repos/convus/convus_content/pulls
      body:
        encoding: UTF-8
        string:
          '{"base":"main","head":"proposed-hypothesis-42-update","title":"Add
          citation to hypothesis: Testing GitHub Hypothesis Citation addition","body":"Added
          new citation to [hypothesis](https://convus.org/hypotheses/42)"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - [...]
