---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"48dd5ab3bf0f729061bbe950f8deba5ee38b52d13a484cf02e469412dd86789d"
      Last-Modified:
      - Wed, 27 Jan 2021 04:32:23 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/295843610/git/refs?page=2>; rel="next",
        <https://api.github.com/repositories/295843610/git/refs?page=5>; rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1629328358'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"ref":"refs/heads/main","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvbWFpbg==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/main","object":{"sha":"7e4a2cc6a29d248025ad8635acb1f27503d6a548","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/7e4a2cc6a29d248025ad8635acb1f27503d6a548"}},{"ref":"refs/pull/1/head","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvcHVsbC8xL2hlYWQ=","url":"https://api.github.com/repos/convus/convus_content/git/refs/pull/1/head","object":{"sha":"d43a84ae7098200134d8a36ef1099d99d26a581e","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/d43a84ae7098200134d8a36ef1099d99d26a581e"}},{"ref":"refs/pull/2/head"[...]
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/pulls?state=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d02c512f3db212039ecfc0bb88b88328a41c7e390b16ce6a79a6dc282268758f"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1629328358'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 18 Aug 2021 22:12:38 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/proposed-citation-42","sha":"7e4a2cc6a29d248025ad8635acb1f27503d6a548"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0425883cffa5d21661e8fb645ae0c93acfe5c782db2bf529630d545a7ab3ab9a"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      Location:
      - https://api.github.com/repos/convus/convus_content/git/refs/heads/proposed-citation-42
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1629328358'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/proposed-citation-42","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvcHJvcG9zZWQtY2l0YXRpb24tNDI=","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/proposed-citation-42","object":{"sha":"7e4a2cc6a29d248025ad8635acb1f27503d6a548","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/7e4a2cc6a29d248025ad8635acb1f27503d6a548"}}'
  recorded_at: Wed, 18 Aug 2021 22:12:40 GMT
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/contents/citations/example-com/testing.yml?branch=proposed-citation-42
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1629328358'
      X-Ratelimit-Used:
      - '5'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
  recorded_at: Wed, 18 Aug 2021 22:12:40 GMT
- request:
    method: put
    uri: https://api.github.com/repos/convus/convus_content/contents/citations/example-com/testing.yml
    body:
      encoding: UTF-8
      string: '{"branch":"proposed-citation-42","content":"LS0tCnRpdGxlOiB0ZXN0aW5nCmlkOiA0MgpwZWVyX3Jldmlld2VkOiBmYWxzZQp1cmxfaXNfbm90X3B1Ymxpc2hlcjogZmFsc2UKdXJsX2lzX2RpcmVjdF9saW5rX3RvX2Z1bGxfdGV4dDogZmFsc2UKdXJsOiBodHRwczovL3d3dy5leGFtcGxlLmNvbS90ZXN0aW5nCnB1YmxpY2F0aW9uX3RpdGxlOiBleGFtcGxlLmNvbQpwdWJsaXNoZWRfZGF0ZToKYXV0aG9yczogW10Ka2luZDogYXJ0aWNsZQpxdW90ZXM6IFtdCg==","message":"Citation:
        testing"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"474ea817a4782f115fc431fd0f3e2079f097542217f1b7ab4665b0cfcf1f1bea"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1629328358'
      X-Ratelimit-Used:
      - '6'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"content":{"name":"testing.yml","path":"citations/example-com/testing.yml","sha":"9f1244b0bbd963af15b371553dc122a69f124132","size":235,"url":"https://api.github.com/repos/convus/convus_content/contents/citations/example-com/testing.yml?ref=proposed-citation-42","html_url":"https://github.com/convus/convus_content/blob/proposed-citation-42/citations/example-com/testing.yml","git_url":"https://api.github.com/repos/convus/convus_content/git/blobs/9f1244b0bbd963af15b371553dc122a69f124132","download_url":"https://raw.githubusercontent.com/convus/convus_content/proposed-citation-42/citations/example-com/testing.yml","type":"file","_links":{"self":"https://api.github.com/repos/convus/convus_content/contents/citations/example-com/testing.yml?ref=proposed-citation-42","git":"https://api.github.com/repos/convus/convus_content/git/blobs/9f1244b0bbd963af15b371553dc122a69f124132","html":"https://github.com/convus/convus_content/blob/proposed-citation-42/citations/example-com/testing.yml"}},"commit":{"sha":"651edb5a20ac2252f02badf47b2f495dc9a0b6ae","node_id":"MDY6Q29tbWl0Mjk1ODQzNjEwOjY1MWVkYjVhMjBhYzIyNTJmMDJiYWRmNDdiMmY0OTVkYzlhMGI2YWU=","url":"https://api.github.com/repos/convus/convus_content/git/commits/651edb5a20ac2252f02badf47b2f495dc9a0b6ae","html_url":"https://github.com/convus/convus_content/commit/651edb5a20ac2252f02badf47b2f495dc9a0b6ae","author":{"name":"Convus
        Bot","email":"bot@convus.org","date":"2021-08-18T22:12:40Z"},"committer":{"name":"Convus
        Bot","email":"bot@convus.org","date":"2021-08-18T22:12:40Z"},"tree":{"sha":"d2f58673a5190d715df4fc4de0ea81f005952934","url":"https://api.github.com/repos/convus/convus_content/git/trees/d2f58673a5190d715df4fc4de0ea81f005952934"},"message":"Citation:
        testing","parents":[{"sha":"7e4a2cc6a29d248025ad8635acb1f27503d6a548","url":"https://api.github.com/repos/convus/convus_content/git/commits/7e4a2cc6a29d248025ad8635acb1f27503d6a548","html_url":"https://github.com/convus/convus_content/commit/7e4a2cc6a29d248025ad8635acb1f27503d6a548"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}}'
  recorded_at: Wed, 18 Aug 2021 22:12:41 GMT
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/pulls
    body:
      encoding: UTF-8
      string: '{"base":"main","head":"proposed-citation-42","title":"Citation: testing","body":""}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cf510da3cf18eaedec969f74bd7dec0d47a3711c6a29a67a371dbb599e9a4467"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/convus/convus_content/pulls/148
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1629328358'
      X-Ratelimit-Used:
      - '8'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/convus/convus_content/pulls/148","id":715450619,"node_id":"MDExOlB1bGxSZXF1ZXN0NzE1NDUwNjE5","html_url":"https://github.com/convus/convus_content/pull/148","diff_url":"https://github.com/convus/convus_content/pull/148.diff","patch_url":"https://github.com/convus/convus_content/pull/148.patch","issue_url":"https://api.github.com/repos/convus/convus_content/issues/148","number":148,"state":"open","locked":false,"title":"Citation:
        testing","user":{"login":"convus-bot","id":26616290,"node_id":"MDQ6VXNlcjI2NjE2Mjkw","avatar_url":"https://avatars.githubusercontent.com/u/26616290?v=4","gravatar_id":"","url":"https://api.github.com/users/convus-bot","html_url":"https://github.com/convus-bot","followers_url":"https://api.github.com/users/convus-bot/followers","following_url":"https://api.github.com/users/convus-bot/following{/other_user}","gists_url":"https://api.github.com/users/convus-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/convus-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus-bot/subscriptions","organizations_url":"https://api.github.com/users/convus-bot/orgs","repos_url":"https://api.github.com/users/convus-bot/repos","events_url":"https://api.github.com/users/convus-bot/events{/privacy}","received_events_url":"https://api.github.com/users/convus-bot/received_events","type":"User","site_admin":false},"body":null,"created_at":"2021-08-18T22:12:41Z","updated_at":"2021-08-18T22:12:41Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/convus/convus_content/pulls/148/commits","review_comments_url":"https://api.github.com/repos/convus/convus_content/pulls/148/comments","review_comment_url":"https://api.github.com/repos/convus/convus_content/pulls/comments{/number}","comments_url":"https://api.github.com/repos/convus/convus_content/issues/148/comments","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/651edb5a20ac2252f02badf47b2f495dc9a0b6ae","head":{"label":"convus:proposed-citation-42","ref":"proposed-citation-42","sha":"651edb5a20ac2252f02badf47b2f495dc9a0b6ae","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"repo":{"id":295843610,"node_id":"MDEwOlJlcG9zaXRvcnkyOTU4NDM2MTA=","name":"convus_content","full_name":"convus/convus_content","private":false,"owner":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/convus/convus_content","description":"Content
        for convus.org","fork":false,"url":"https://api.github.com/repos/convus/convus_content","forks_url":"https://api.github.com/repos/convus/convus_content/forks","keys_url":"https://api.github.com/repos/convus/convus_content/keys{/key_id}","collaborators_url":"https://api.github.com/repos/convus/convus_content/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/convus/convus_content/teams","hooks_url":"https://api.github.com/repos/convus/convus_content/hooks","issue_events_url":"https://api.github.com/repos/convus/convus_content/issues/events{/number}","events_url":"https://api.github.com/repos/convus/convus_content/events","assignees_url":"https://api.github.com/repos/convus/convus_content/assignees{/user}","branches_url":"https://api.github.com/repos/convus/convus_content/branches{/branch}","tags_url":"https://api.github.com/repos/convus/convus_content/tags","blobs_url":"https://api.github.com/repos/convus/convus_content/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/convus/convus_content/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/convus/convus_content/git/refs{/sha}","trees_url":"https://api.github.com/repos/convus/convus_content/git/trees{/sha}","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/{sha}","languages_url":"https://api.github.com/repos/convus/convus_content/languages","stargazers_url":"https://api.github.com/repos/convus/convus_content/stargazers","contributors_url":"https://api.github.com/repos/convus/convus_content/contributors","subscribers_url":"https://api.github.com/repos/convus/convus_content/subscribers","subscription_url":"https://api.github.com/repos/convus/convus_content/subscription","commits_url":"https://api.github.com/repos/convus/convus_content/commits{/sha}","git_commits_url":"https://api.github.com/repos/convus/convus_content/git/commits{/sha}","comments_url":"https://api.github.com/repos/convus/convus_content/comments{/number}","issue_comment_url":"https://api.github.com/repos/convus/convus_content/issues/comments{/number}","contents_url":"https://api.github.com/repos/convus/convus_content/contents/{+path}","compare_url":"https://api.github.com/repos/convus/convus_content/compare/{base}...{head}","merges_url":"https://api.github.com/repos/convus/convus_content/merges","archive_url":"https://api.github.com/repos/convus/convus_content/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/convus/convus_content/downloads","issues_url":"https://api.github.com/repos/convus/convus_content/issues{/number}","pulls_url":"https://api.github.com/repos/convus/convus_content/pulls{/number}","milestones_url":"https://api.github.com/repos/convus/convus_content/milestones{/number}","notifications_url":"https://api.github.com/repos/convus/convus_content/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/convus/convus_content/labels{/name}","releases_url":"https://api.github.com/repos/convus/convus_content/releases{/id}","deployments_url":"https://api.github.com/repos/convus/convus_content/deployments","created_at":"2020-09-15T20:37:48Z","updated_at":"2021-01-27T04:32:23Z","pushed_at":"2021-08-18T22:12:40Z","git_url":"git://github.com/convus/convus_content.git","ssh_url":"git@github.com:convus/convus_content.git","clone_url":"https://github.com/convus/convus_content.git","svn_url":"https://github.com/convus/convus_content","homepage":"https://www.convus.org","size":314,"stargazers_count":3,"watchers_count":3,"language":null,"has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":{"key":"cc-by-sa-4.0","name":"Creative
        Commons Attribution Share Alike 4.0 International","spdx_id":"CC-BY-SA-4.0","url":"https://api.github.com/licenses/cc-by-sa-4.0","node_id":"MDc6TGljZW5zZTI2"},"forks":0,"open_issues":2,"watchers":3,"default_branch":"main"}},"base":{"label":"convus:main","ref":"main","sha":"7e4a2cc6a29d248025ad8635acb1f27503d6a548","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists[...]
[...]
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/proposed-citation-42","sha":"7e4a2cc6a29d248025ad8635acb1f27503d6a548"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <OCTOKIT_ACCESS_TOKEN>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1629328358'
      X-Ratelimit-Used:
      - '17'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"message":"Reference already exists","documentation_url":"https://docs.github.com/rest/reference/git#create-a-reference"}'
  recorded_at: Wed, 18 Aug 2021 22:14:11 GMT
recorded_with: VCR 6.0.0
