---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"41b4dcd015b59c0f12162eb94cff9338176d12fc991d0e63e6bbf3c6e48d0328"
      Last-Modified:
      - Tue, 19 Jan 2021 17:43:28 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/295843610/git/refs?page=2>; rel="next",
        <https://api.github.com/repositories/295843610/git/refs?page=5>; rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4827'
      X-Ratelimit-Reset:
      - '1611084054'
      X-Ratelimit-Used:
      - '173'
    body:
      encoding: ASCII-8BIT
      string: '[{"ref":"refs/heads/main","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvbWFpbg==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/main","object":{"sha":"a1005c05131cfb0d4d66ba50e7571e61794990e9","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/a1005c05131cfb0d4d66ba50e7571e61794990e9"}},{"ref":"refs/heads/proposed-hypothesis-174","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvcHJvcG9zZWQtaHlwb3RoZXNpcy0xNzQ=","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/proposed-hypothesis-174","object":{"sha":"00980964d2c2503e1ab7799a0de72780a7626dc8","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/00980964d[...]
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/update-hypothesis-177-with-132","sha":"a1005c05131cfb0d4d66ba50e7571e61794990e9"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxx
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"059e00a2d54c865384b46cd26148e47809783f449a6dbe3331b3cc0e41a8103c"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      Location:
      - https://api.github.com/repos/convus/convus_content/git/refs/heads/update-hypothesis-177-with-132
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4826'
      X-Ratelimit-Reset:
      - '1611084054'
      X-Ratelimit-Used:
      - '174'
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/update-hypothesis-177-with-132","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvdXBkYXRlLWh5cG90aGVzaXMtMTc3LXdpdGgtMTMy","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/update-hypothesis-177-with-132","object":{"sha":"a1005c05131cfb0d4d66ba50e7571e61794990e9","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/a1005c05131cfb0d4d66ba50e7571e61794990e9"}}'
  recorded_at: Tue, 19 Jan 2021 18:57:04 GMT
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/citation-title-2.yml?branch=update-hypothesis-177-with-132
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxx
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4825'
      X-Ratelimit-Reset:
      - '1611084054'
      X-Ratelimit-Used:
      - '175'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
  recorded_at: Tue, 19 Jan 2021 18:57:04 GMT
- request:
    method: put
    uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/citation-title-2.yml
    body:
      encoding: UTF-8
      string: '{"branch":"update-hypothesis-177-with-132","content":"LS0tCnRpdGxlOiBDaXRhdGlvbiBUaXRsZSAyCmlkOiAxNzcKY2l0ZWRfdXJsczogW10KbmV3X2NpdGVkX3VybDoKICB1cmw6IGh0dHBzOi8vd3d3Lm5hdHVyZS5jb20vYXJ0aWNsZXMvczQxNTU5LTAyMC0wMTMyMi14CiAgcXVvdGVzOgogIC0gZXhwb3N1cmUgdG8gYXJ0aWZpY2lhbCBsaWdodCBhdCBuaWdodCBpbmR1Y2VzIHN0cm9uZyByZXNwb25zZXMgZm9yIHBoeXNpb2xvZ2ljYWwKICAgIG1lYXN1cmVzLCBkYWlseSBhY3Rpdml0eSBwYXR0ZXJucyBhbmQgbGlmZSBoaXN0b3J5IHRyYWl0cy4KICAtIFdlIGZvdW5kIHBhcnRpY3VsYXJseSBzdHJvbmcgcmVzcG9uc2VzIHdpdGggcmVnYXJkcyB0byBob3Jtb25lIGxldmVscywgdGhlIG9uc2V0CiAgICBvZiB[...]
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/pulls
    body:
      encoding: UTF-8
      string: '{"base":"main","head":"update-hypothesis-177-with-132","title":"Add
        citation to hypothesis: Citation Title 2","body":"Added citation  to: [Citation
        Title 2](https://convus.org/hypotheses/177?hypothesis_citation_id=132)"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxx
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"93d2c1ada99db7dadd8dd917609c6908689ae6048f23140522605b41add8f8fe"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/convus/convus_content/pulls/143
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4819'
      X-Ratelimit-Reset:
      - '1611084054'
      X-Ratelimit-Used:
      - '181'
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/convus/convus_content/pulls/143","id":557641612,"node_id":"MDExOlB1bGxSZXF1ZXN0NTU3NjQxNjEy","html_url":"https://github.com/convus/convus_content/pull/143","diff_url":"https://github.com/convus/convus_content/pull/143.diff","patch_url":"https://github.com/convus/convus_content/pull/143.patch","issue_url":"https://api.github.com/repos/convus/convus_content/issues/143","number":143,"state":"open","locked":false,"title":"Add
        citation to hypothesis: Citation Title 2","user":{"login":"convus-bot","id":26616290,"node_id":"MDQ6VXNlcjI2NjE2Mjkw","avatar_url":"https://avatars2.githubusercontent.com/u/26616290?v=4","gravatar_id":"","url":"https://api.github.com/users/convus-bot","html_url":"https://github.com/convus-bot","followers_url":"https://api.github.com/users/convus-bot/followers","following_url":"https://api.github.com/users/convus-bot/following{/other_user}","gists_url":"https://api.github.com/users/convus-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/convus-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus-bot/subscriptions","organizations_url":"https://api.github.com/users/convus-bot/orgs","repos_url":"https://api.github.com/users/convus-bot/repos","events_url":"https://api.github.com/users/convus-bot/events{/privacy}","received_events_url":"https://api.github.com/users/convus-bot/received_events","type":"User","site_admin":false},"body":"Added
        citation  to: [Citation Title 2](https://convus.org/hypotheses/177?hypothesis_citation_id=132)","created_at":"2021-01-19T18:57:06Z","updated_at":"2021-01-19T18:57:06Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/convus/convus_content/pulls/143/commits","review_comments_url":"https://api.github.com/repos/convus/convus_content/pulls/143/comments","review_comment_url":"https://api.github.com/repos/convus/convus_content/pulls/comments{/number}","comments_url":"https://api.github.com/repos/convus/convus_content/issues/143/comments","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/0e647ea949dbc6ba14630ad85ffec5c7fff059db","head":{"label":"convus:update-hypothesis-177-with-132","ref":"update-hypothesis-177-with-132","sha":"0e647ea949dbc6ba14630ad85ffec5c7fff059db","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"repo":{"id":295843610,"node_id":"MDEwOlJlcG9zaXRvcnkyOTU4NDM2MTA=","name":"convus_content","full_name":"convus/convus_content","private":false,"owner":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/convus/convus_content","description":"Content
        for convus.org","fork":false,"url":"https://api.github.com/repos/convus/convus_content","forks_url":"https://api.github.com/repos/convus/convus_content/forks","keys_url":"https://api.github.com/repos/convus/convus_content/keys{/key_id}","collaborators_url":"https://api.github.com/repos/convus/convus_content/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/convus/convus_content/teams","hooks_url":"https://api.github.com/repos/convus/convus_content/hooks","issue_events_url":"https://api.github.com/repos/convus/convus_content/issues/events{/number}","events_url":"https://api.github.com/repos/convus/convus_content/events","assignees_url":"https://api.github.com/repos/convus/convus_content/assignees{/user}","branches_url":"https://api.github.com/repos/convus/convus_content/branches{/branch}","tags_url":"https://api.github.com/repos/convus/convus_content/tags","blobs_url":"https://api.github.com/repos/convus/convus_content/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/convus/convus_content/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/convus/convus_content/git/refs{/sha}","trees_url":"https://api.github.com/repos/convus/convus_content/git/trees{/sha}","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/{sha}","languages_url":"https://api.github.com/repos/convus/convus_content/languages","stargazers_url":"https://api.github.com/repos/convus/convus_content/stargazers","contributors_url":"https://api.github.com/repos/convus/convus_content/contributors","subscribers_url":"https://api.github.com/repos/convus/convus_content/subscribers","subscription_url":"https://api.github.com/repos/convus/convus_content/subscription","commits_url":"https://api.github.com/repos/convus/convus_content/commits{/sha}","git_commits_url":"https://api.github.com/repos/convus/convus_content/git/commits{/sha}","comments_url":"https://api.github.com/repos/convus/convus_content/comments{/number}","issue_comment_url":"https://api.github.com/repos/convus/convus_content/issues/comments{/number}","contents_url":"https://api.github.com/repos/convus/convus_content/contents/{+path}","compare_url":"https://api.github.com/repos/convus/convus_content/compare/{base}...{head}","merges_url":"https://api.github.com/repos/convus/convus_content/merges","archive_url":"https://api.github.com/repos/convus/convus_content/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/convus/convus_content/downloads","issues_url":"https://api.github.com/repos/convus/convus_content/issues{/number}","pulls_url":"https://api.github.com/repos/convus/convus_content/pulls{/number}","milestones_url":"https://api.github.com/repos/convus/convus_content/milestones{/number}","notifications_url":"https://api.github.com/repos/convus/convus_content/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/convus/convus_content/labels{/name}","releases_url":"https://api.github.com/repos/convus/convus_content/releases{/id}","deployments_url":"https://api.github.com/repos/convus/convus_content/deployments","created_at":"2020-09-15T20:37:48Z","updated_at":"2021-01-19T17:43:28Z","pushed_at":"2021-01-19T18:57:05Z","git_url":"git://github.com/convus/convus_content.git","ssh_url":"git@github.com:convus/convus_content.git","clone_url":"https://github.com/convus/convus_content.git","svn_url":"https://github.com/convus/convus_content","homepage":"https://www.convus.org","size":286,"stargazers_count":3,"watchers_count":3,"language":null,"has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":3,"license":{"key":"cc-by-sa-4.0","name":"Creative
        Commons Attribution Share Alike 4.0 International","spdx_id":"CC-BY-SA-4.0","url":"https://api.github.com/licenses/cc-by-sa-4.0","node_id":"MDc6TGljZW5zZTI2"},"forks":0,"open_issues":3,"watchers":3,"default_branch":"main"}},"base":{"label":"convus:main","ref":"main","sha":"a1005c05131cfb0d4d66ba50e7571e61794990e9","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gist[...]
