---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"a4952033b4158bb8fe5e4f0771ab0e622b053c94b25198f21ddabce74165e895"
      Last-Modified:
      - Tue, 19 Jan 2021 17:43:28 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/295843610/git/refs?page=2>; rel="next",
        <https://api.github.com/repositories/295843610/git/refs?page=5>; rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4840'
      X-Ratelimit-Reset:
      - '1611084054'
      X-Ratelimit-Used:
      - '160'
    body:
      encoding: ASCII-8BIT
      string: '[{"ref":"refs/heads/main","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvbWFpbg==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/main","object":{"sha":"a1005c05131cfb0d4d66ba50e7571e61794990e9","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/a1005c05131cfb0d4d66ba50e7571e61794990e9"}},{"ref":"refs/pull/1/head","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvcHVsbC8xL2hlYWQ=","url":"https://api.github.com/repos/convus/convus_content/git/refs/pull/1/head","object":{"sha":"d43a84ae7098200134d8a36ef1099d99d26a581e","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/d43a84ae7098200134d8a36ef1099d99d26a581e"}},{"ref":"refs/pull/2/head"[...]
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/proposed-hypothesis-174","sha":"a1005c05131cfb0d4d66ba50e7571e61794990e9"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"1e68f6e3c8ce6071a97d161f3568f876380d9f8a7b79e9f495263ba6a5e44bef"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      Location:
      - https://api.github.com/repos/convus/convus_content/git/refs/heads/proposed-hypothesis-174
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4839'
      X-Ratelimit-Reset:
      - '1611084054'
      X-Ratelimit-Used:
      - '161'
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/proposed-hypothesis-174","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvcHJvcG9zZWQtaHlwb3RoZXNpcy0xNzQ=","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/proposed-hypothesis-174","object":{"sha":"a1005c05131cfb0d4d66ba50e7571e61794990e9","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/a1005c05131cfb0d4d66ba50e7571e61794990e9"}}'
  recorded_at: Tue, 19 Jan 2021 18:56:20 GMT
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/this-seems-like-the-truth.yml?branch=proposed-hypothesis-174
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4838'
      X-Ratelimit-Reset:
      - '1611084054'
      X-Ratelimit-Used:
      - '162'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
  recorded_at: Tue, 19 Jan 2021 18:56:21 GMT
- request:
    method: put
    uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/this-seems-like-the-truth.yml
    body:
      encoding: UTF-8
      string: '{"branch":"proposed-hypothesis-174","content":"LS0tCnRpdGxlOiBUaGlzIHNlZW1zIGxpa2UgdGhlIHRydXRoCmlkOiAxNzQKY2l0ZWRfdXJsczoKLSB1cmw6IGh0dHBzOi8vc29tZXRoaW5nLW9mLm9yZy9pbnRlcmVzdC1hc2RmYXNkZgogIHF1b3RlczoKICAtIEZpcnN0IHF1b3RlIGZyb20gdGhpcyBsaXRlcmF0dXJlCiAgLSBTZWNvbmQgcXVvdGUsIHdoaWNoIGlzIGNvb2wKICBjaGFsbGVuZ2VzOgotIHVybDogaHR0cHM6Ly9leGFtcGxlLmNvbS9zb21ldGhpbmctb2YtaW50ZXJlc3QKICBxdW90ZXM6CiAgLSBUaGlzIGlzIGEgdGhpbmcKICBjaGFsbGVuZ2VzOgpuZXdfY2l0ZWRfdXJsOgpyZWZ1dGVkX2J5X2h5cG90aGVzZXM6IFtdCnRvcGljczoKLSBlY29ub215Ci0gcGFydGllcwo=","message":"Hypothesis:
        This seems like the truth"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"bc067536da2a612786e70a788aacc302866ca89440e09d200a50d61bfaac00e3"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4835'
      X-Ratelimit-Reset:
      - '1611084054'
      X-Ratelimit-Used:
      - '165'
    body:
      encoding: UTF-8
      string: '{"content":{"name":"this-seems-like-the-truth.yml","path":"hypotheses/this-seems-like-the-truth.yml","sha":"5f9b8c374f6ce4cbc37ad45536fbb0d592d0e1be","size":362,"url":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/this-seems-like-the-truth.yml?ref=proposed-hypothesis-174","html_url":"https://github.com/convus/convus_content/blob/proposed-hypothesis-174/hypotheses/this-seems-like-the-truth.yml","git_url":"https://api.github.com/repos/convus/convus_content/git/blobs/5f9b8c374f6ce4cbc37ad45536fbb0d592d0e1be","download_url":"https://raw.githubusercontent.com/convus/convus_content/proposed-hypothesis-174/hypotheses/this-seems-like-the-truth.yml","type":"file","_links":{"self":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/this-seems-like-the-truth.yml?ref=proposed-hypothesis-174","git":"https://api.github.com/repos/convus/convus_content/git/blobs/5f9b8c374f6ce4cbc37ad45536fbb0d592d0e1be","html":"https://github.com/convus/convus_content/blob/proposed-hypothesis-174/hypotheses/this-seems-like-the-truth.yml"}},"commit":{"sha":"b85f335c5924126e9fec0da9bf967092de507399","node_id":"MDY6Q29tbWl0Mjk1ODQzNjEwOmI4NWYzMzVjNTkyNDEyNmU5ZmVjMGRhOWJmOTY3MDkyZGU1MDczOTk=","url":"https://api.github.com/repos/convus/convus_content/git/commits/b85f335c5924126e9fec0da9bf967092de507399","html_url":"https://github.com/convus/convus_content/commit/b85f335c5924126e9fec0da9bf967092de507399","author":{"name":"Convus
        Bot","email":"bot@convus.org","date":"2021-01-19T18:56:22Z"},"committer":{"name":"Convus
        Bot","email":"bot@convus.org","date":"2021-01-19T18:56:22Z"},"tree":{"sha":"4c015941fd110b32832639de5f2c8d37cf3f893c","url":"https://api.github.com/repos/convus/convus_content/git/trees/4c015941fd110b32832639de5f2c8d37cf3f893c"},"message":"Hypothesis:
        This seems like the truth","parents":[{"sha":"a1005c05131cfb0d4d66ba50e7571e61794990e9","url":"https://api.github.com/repos/convus/convus_content/git/commits/a1005c05131cfb0d4d66ba50e7571e61794990e9","html_url":"https://github.com/convus/convus_content/commit/a1005c05131cfb0d4d66ba50e7571e61794990e9"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}}'
  recorded_at: Tue, 19 Jan 2021 18:56:22 GMT
- request:
    method: get
    uri: https://api.github.com/repos/convus/convus_content/contents/citations/something-of-org/interest-asdfasdf.yml?branch=proposed-hypothesis-174
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4834'
      X-Ratelimit-Reset:
      - '1611084054'
      X-Ratelimit-Used:
      - '166'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
  recorded_at: Tue, 19 Jan 2021 18:56:24 GMT
- request:
    method: put
    uri: https://api.github.com/repos/convus/convus_content/contents/citations/something-of-org/interest-asdfasdf.yml
    body:
      encoding: UTF-8
      string: '{"branch":"proposed-hypothesis-174","content":"LS0tCnRpdGxlOiBpbnRlcmVzdC1hc2RmYXNkZgppZDogMTcxCnBlZXJfcmV2aWV3ZWQ6IGZhbHNlCnVybF9pc19ub3RfcHVibGlzaGVyOiBmYWxzZQp1cmxfaXNfZGlyZWN0X2xpbmtfdG9fZnVsbF90ZXh0OiBmYWxzZQp1cmw6IGh0dHBzOi8vc29tZXRoaW5nLW9mLm9yZy9pbnRlcmVzdC1hc2RmYXNkZgpwdWJsaWNhdGlvbl90aXRsZTogc29tZ[...]
- request:
    method: post
    uri: https://api.github.com/repos/convus/convus_content/pulls
    body:
      encoding: UTF-8
      string: '{"base":"main","head":"proposed-hypothesis-174","title":"Hypothesis:
        This seems like the truth","body":"View [hypothesis on Convus](https://convus.org/hypotheses/174)"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"44500b2167678af0416e125507512bc5e72b610500d9f370b9de66823a0ae671"'
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/convus/convus_content/pulls/142
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4829'
      X-Ratelimit-Reset:
      - '1611084054'
      X-Ratelimit-Used:
      - '171'
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/convus/convus_content/pulls/142","id":557641242,"node_id":"MDExOlB1bGxSZXF1ZXN0NTU3NjQxMjQy","html_url":"https://github.com/convus/convus_content/pull/142","diff_url":"https://github.com/convus/convus_content/pull/142.diff","patch_url":"https://github.com/convus/convus_content/pull/142.patch","issue_url":"https://api.github.com/repos/convus/convus_content/issues/142","number":142,"state":"open","locked":false,"title":"Hypothesis:
        This seems like the truth","user":{"login":"convus-bot","id":26616290,"node_id":"MDQ6VXNlcjI2NjE2Mjkw","avatar_url":"https://avatars2.githubusercontent.com/u/26616290?v=4","gravatar_id":"","url":"https://api.github.com/users/convus-bot","html_url":"https://github.com/convus-bot","followers_url":"https://api.github.com/users/convus-bot/followers","following_url":"https://api.github.com/users/convus-bot/following{/other_user}","gists_url":"https://api.github.com/users/convus-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/convus-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus-bot/subscriptions","organizations_url":"https://api.github.com/users/convus-bot/orgs","repos_url":"https://api.github.com/users/convus-bot/repos","events_url":"https://api.github.com/users/convus-bot/events{/privacy}","received_events_url":"https://api.github.com/users/convus-bot/received_events","type":"User","site_admin":false},"body":"View
        [hypothesis on Convus](https://convus.org/hypotheses/174)","created_at":"2021-01-19T18:56:25Z","updated_at":"2021-01-19T18:56:25Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/convus/convus_content/pulls/142/commits","review_comments_url":"https://api.github.com/repos/convus/convus_content/pulls/142/comments","review_comment_url":"https://api.github.com/repos/convus/convus_content/pulls/comments{/number}","comments_url":"https://api.github.com/repos/convus/convus_content/issues/142/comments","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/00980964d2c2503e1ab7799a0de72780a7626dc8","head":{"label":"convus:proposed-hypothesis-174","ref":"proposed-hypothesis-174","sha":"00980964d2c2503e1ab7799a0de72780a7626dc8","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"repo":{"id":295843610,"node_id":"MDEwOlJlcG9zaXRvcnkyOTU4NDM2MTA=","name":"convus_content","full_name":"convus/convus_content","private":false,"owner":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/convus/convus_content","description":"Content
        for convus.org","fork":false,"url":"https://api.github.com/repos/convus/convus_content","forks_url":"https://api.github.com/repos/convus/convus_content/forks","keys_url":"https://api.github.com/repos/convus/convus_content/keys{/key_id}","collaborators_url":"https://api.github.com/repos/convus/convus_content/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/convus/convus_content/teams","hooks_url":"https://api.github.com/repos/convus/convus_content/hooks","issue_events_url":"https://api.github.com/repos/convus/convus_content/issues/events{/number}","events_url":"https://api.github.com/repos/convus/convus_content/events","assignees_url":"https://api.github.com/repos/convus/convus_content/assignees{/user}","branches_url":"https://api.github.com/repos/convus/convus_content/branches{/branch}","tags_url":"https://api.github.com/repos/convus/convus_content/tags","blobs_url":"https://api.github.com/repos/convus/convus_content/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/convus/convus_content/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/convus/convus_content/git/refs{/sha}","trees_url":"https://api.github.com/repos/convus/convus_content/git/trees{/sha}","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/{sha}","languages_url":"https://api.github.com/repos/convus/convus_content/languages","stargazers_url":"https://api.github.com/repos/convus/convus_content/stargazers","contributors_url":"https://api.github.com/repos/convus/convus_content/contributors","subscribers_url":"https://api.github.com/repos/convus/convus_content/subscribers","subscription_url":"https://api.github.com/repos/convus/convus_content/subscription","commits_url":"https://api.github.com/repos/convus/convus_content/commits{/sha}","git_commits_url":"https://api.github.com/repos/convus/convus_content/git/commits{/sha}","comments_url":"https://api.github.com/repos/convus/convus_content/comments{/number}","issue_comment_url":"https://api.github.com/repos/convus/convus_content/issues/comments{/number}","contents_url":"https://api.github.com/repos/convus/convus_content/contents/{+path}","compare_url":"https://api.github.com/repos/convus/convus_content/compare/{base}...{head}","merges_url":"https://api.github.com/repos/convus/convus_content/merges","archive_url":"https://api.github.com/repos/convus/convus_content/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/convus/convus_content/downloads","issues_url":"https://api.github.com/repos/convus/convus_content/issues{/number}","pulls_url":"https://api.github.com/repos/convus/convus_content/pulls{/number}","milestones_url":"https://api.github.com/repos/convus/convus_content/milestones{/number}","notifications_url":"https://api.github.com/repos/convus/convus_content/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/convus/convus_content/labels{/name}","releases_url":"https://api.github.com/repos/convus/convus_content/releases{/id}","deployments_url":"https://api.github.com/repos/convus/convus_content/deployments","created_at":"2020-09-15T20:37:48Z","updated_at":"2021-01-19T17:43:28Z","pushed_at":"2021-01-19T18:56:24Z","git_url":"git://github.com/convus/convus_content.git","ssh_url":"git@github.com:convus/convus_content.git","clone_url":"https://github.com/convus/convus_content.git","svn_url":"https://github.com/convus/convus_content","homepage":"https://www.convus.org","size":286,"stargazers_count":3,"watchers_count":3,"language":null,"has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":{"key":"cc-by-sa-4.0","name":"Creative
        Commons Attribution Share Alike 4.0 International","spdx_id":"CC-BY-SA-4.0","url":"https://api.github.com/licenses/cc-by-sa-4.0","node_id":"MDc6TGljZW5zZTI2"},"forks":0,"open_issues":2,"watchers":3,"default_branch":"main"}},"base":{"label":"convus:main","ref":"main","sha":"a1005c05131cfb0d4d66ba50e7571e61794990e9","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gist[...]
