---
http_interactions:
  - request:
      method: get
      uri: https://api.github.com/repos/convus/convus_content/git/refs
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxxxxxxxx
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 200 OK
        Etag:
          - W/"cd5846dfbdbe4ab5d6913506f0746d4014859cb4a2005342f3c9473de76c8735"
        Last-Modified:
          - Tue, 22 Sep 2020 22:28:25 GMT
        X-Poll-Interval:
          - "300"
        X-Oauth-Scopes:
          - repo
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4962"
        X-Ratelimit-Reset:
          - "1600818051"
        X-Ratelimit-Used:
          - "38"
      body:
        encoding: ASCII-8BIT
        string: '[{"ref":"refs/heads/main","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvbWFpbg==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/main","object":{"sha":"3fbced0932bcba76dc2d3c26a053272b6d88dc20","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/3fbced0932bcba76dc2d3c26a053272b6d88dc20"}},{"ref":"refs/heads/proposed-hypothesis-57","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvcHJvcG9zZWQtaHlwb3RoZXNpcy01Nw==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/proposed-hypothesis-57","object":{"sha":"8b860150567dfa206eb752e271811aa3eeca14b5","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/8b860150567[...]
  - request:
      method: post
      uri: https://api.github.com/repos/convus/convus_content/git/refs
      body:
        encoding: UTF-8
        string: '{"ref":"refs/heads/proposed-citation-91","sha":"3fbced0932bcba76dc2d3c26a053272b6d88dc20"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxxxxxxxx
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 201 Created
        Etag:
          - '"07f0a8f39c118a67d7592c9ba954bba709a7b29b813556144737e673406122a9"'
        X-Oauth-Scopes:
          - repo
        X-Accepted-Oauth-Scopes:
          - repo
        Location:
          - https://api.github.com/repos/convus/convus_content/git/refs/heads/proposed-citation-91
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4961"
        X-Ratelimit-Reset:
          - "1600818051"
        X-Ratelimit-Used:
          - "39"
      body:
        encoding: UTF-8
        string: '{"ref":"refs/heads/proposed-citation-91","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvcHJvcG9zZWQtY2l0YXRpb24tOTE=","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/proposed-citation-91","object":{"sha":"3fbced0932bcba76dc2d3c26a053272b6d88dc20","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/3fbced0932bcba76dc2d3c26a053272b6d88dc20"}}'
    recorded_at: Tue, 22 Sep 2020 23:07:39 GMT
  - request:
      method: put
      uri: https://api.github.com/repos/convus/convus_content/contents/citations/example-com/testing-hypothesis-creation-is-very-important.yml
      body:
        encoding: UTF-8
        string:
          '{"branch":"proposed-citation-91","content":"LS0tCnRpdGxlOiBUZXN0aW5nIGh5cG90aGVzaXMgY3JlYXRpb24gaXMgdmVyeSBpbXBvcnRhbnQKaWQ6IDkxCnVybDogaHR0cHM6Ly9leGFtcGxlLmNvbS9zb21ldGhpbmctb2YtaW50ZXJlc3QKa2luZDogYXJ0aWNsZQpwdWJsaWNhdGlvbl90aXRsZTogZXhhbXBsZS5jb20KcHVibGlzaGVkX2RhdGU6ICcxOTkwLTEyLTAyJwphdXRob3JzOgotIFphY2sKLSBHZW9yZ2UK","message":"Citation:
          Testing hypothesis creation is very important"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxxxxxxxx
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 201 Created
        Etag:
          - '"0355640464180f40d4c19f3c4c57e909139c394dc39c0b3536b13b809ef2d64d"'
        X-Oauth-Scopes:
          - repo
        X-Accepted-Oauth-Scopes:
          - ""
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4960"
        X-Ratelimit-Reset:
          - "1600818051"
        X-Ratelimit-Used:
          - "40"
      body:
        encoding: UTF-8
        string:
          '{"content":{"name":"testing-hypothesis-creation-is-very-important.yml","path":"citations/example-com/testing-hypothesis-creation-is-very-important.yml","sha":"4eb55b8a9752ab86312d603c06c0473326dadfd6","size":210,"url":"https://api.github.com/repos/convus/convus_content/contents/citations/example-com/testing-hypothesis-creation-is-very-important.yml?ref=proposed-citation-91","html_url":"https://github.com/convus/convus_content/blob/proposed-citation-91/citations/example-com/testing-hypothesis-creation-is-very-important.yml","git_url":"https://api.github.com/repos/convus/convus_content/git/blobs/4eb55b8a9752ab86312d603c06c0473326dadfd6","download_url":"https://raw.githubusercontent.com/convus/convus_content/proposed-citation-91/citations/example-com/testing-hypothesis-creation-is-very-important.yml","type":"file","_links":{"self":"https://api.github.com/repos/convus/convus_content/contents/citations/example-com/testing-hypothesis-creation-is-very-important.yml?ref=proposed-citation-91","git":"https://api.github.com/repos/convus/convus_content/git/blobs/4eb55b8a9752ab86312d603c06c0473326dadfd6","html":"https://github.com/convus/convus_content/blob/proposed-citation-91/citations/example-com/testing-hypothesis-creation-is-very-important.yml"}},"commit":{"sha":"563e7a48d68ab83af8c113ebeb81039e6720c15e","node_id":"MDY6Q29tbWl0Mjk1ODQzNjEwOjU2M2U3YTQ4ZDY4YWI4M2FmOGMxMTNlYmViODEwMzllNjcyMGMxNWU=","url":"https://api.github.com/repos/convus/convus_content/git/commits/563e7a48d68ab83af8c113ebeb81039e6720c15e","html_url":"https://github.com/convus/convus_content/commit/563e7a48d68ab83af8c113ebeb81039e6720c15e","author":{"name":"Convus
          Bot","email":"bot@convus.org","date":"2020-09-22T23:07:40Z"},"committer":{"name":"Convus
          Bot","email":"bot@convus.org","date":"2020-09-22T23:07:40Z"},"tree":{"sha":"ae9fb28a47d1bc062c077b46e215a5180c23929e","url":"https://api.github.com/repos/convus/convus_content/git/trees/ae9fb28a47d1bc062c077b46e215a5180c23929e"},"message":"Citation:
          Testing hypothesis creation is very important","parents":[{"sha":"3fbced0932bcba76dc2d3c26a053272b6d88dc20","url":"https://api.github.com/repos/convus/convus_content/git/commits/3fbced0932bcba76dc2d3c26a053272b6d88dc20","html_url":"https://github.com/convus/convus_content/commit/3fbced0932bcba76dc2d3c26a053272b6d88dc20"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}}'
    recorded_at: Tue, 22 Sep 2020 23:07:40 GMT
  - request:
      method: post
      uri: https://api.github.com/repos/convus/convus_content/pulls
      body:
        encoding: UTF-8
        string:
          '{"base":"main","head":"proposed-citation-91","title":"Citation: Testing
          hypothesis creation is very important"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxxxxxxxx
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 201 Created
        Etag:
          - '"f89b539c62cdd4b6c9a04cf121768dfaebf3b3557f70fb42c8f18f6c291eceeb"'
        X-Oauth-Scopes:
          - repo
        X-Accepted-Oauth-Scopes:
          - ""
        Location:
          - https://api.github.com/repos/convus/convus_content/pulls/13
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4959"
        X-Ratelimit-Reset:
          - "1600818051"
        X-Ratelimit-Used:
          - "41"
      body:
        encoding: UTF-8
        string:
          '{"url":"https://api.github.com/repos/convus/convus_content/pulls/13","id":491239167,"node_id":"MDExOlB1bGxSZXF1ZXN0NDkxMjM5MTY3","html_url":"https://github.com/convus/convus_content/pull/13","diff_url":"https://github.com/convus/convus_content/pull/13.diff","patch_url":"https://github.com/convus/convus_content/pull/13.patch","issue_url":"https://api.github.com/repos/convus/convus_content/issues/13","number":13,"state":"open","locked":false,"title":"Citation:
          Testing hypothesis creation is very important","user":{"login":"convus-bot","id":26616290,"node_id":"MDQ6VXNlcjI2NjE2Mjkw","avatar_url":"https://avatars2.githubusercontent.com/u/26616290?v=4","gravatar_id":"","url":"https://api.github.com/users/convus-bot","html_url":"https://github.com/convus-bot","followers_url":"https://api.github.com/users/convus-bot/followers","following_url":"https://api.github.com/users/convus-bot/following{/other_user}","gists_url":"https://api.github.com/users/convus-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/convus-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus-bot/subscriptions","organizations_url":"https://api.github.com/users/convus-bot/orgs","repos_url":"https://api.github.com/users/convus-bot/repos","events_url":"https://api.github.com/users/convus-bot/events{/privacy}","received_events_url":"https://api.github.com/users/convus-bot/received_events","type":"User","site_admin":false},"body":null,"created_at":"2020-09-22T23:07:41Z","updated_at":"2020-09-22T23:07:41Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/convus/convus_content/pulls/13/commits","review_comments_url":"https://api.github.com/repos/convus/convus_content/pulls/13/comments","review_comment_url":"https://api.github.com/repos/convus/convus_content/pulls/comments{/number}","comments_url":"https://api.github.com/repos/convus/convus_content/issues/13/comments","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/563e7a48d68ab83af8c113ebeb81039e6720c15e","head":{"label":"convus:proposed-citation-91","ref":"proposed-citation-91","sha":"563e7a48d68ab83af8c113ebeb81039e6720c15e","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"repo":{"id":295843610,"node_id":"MDEwOlJlcG9zaXRvcnkyOTU4NDM2MTA=","name":"convus_content","full_name":"convus/convus_content","private":false,"owner":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/convus/convus_content","description":"Content
          for convus.org","fork":false,"url":"https://api.github.com/repos/convus/convus_content","forks_url":"https://api.github.com/repos/convus/convus_content/forks","keys_url":"https://api.github.com/repos/convus/convus_content/keys{/key_id}","collaborators_url":"https://api.github.com/repos/convus/convus_content/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/convus/convus_content/teams","hooks_url":"https://api.github.com/repos/convus/convus_content/hooks","issue_events_url":"https://api.github.com/repos/convus/convus_content/issues/events{/number}","events_url":"https://api.github.com/repos/convus/convus_content/events","assignees_url":"https://api.github.com/repos/convus/convus_content/assignees{/user}","branches_url":"https://api.github.com/repos/convus/convus_content/branches{/branch}","tags_url":"https://api.github.com/repos/convus/convus_content/tags","blobs_url":"https://api.github.com/repos/convus/convus_content/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/convus/convus_content/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/convus/convus_content/git/refs{/sha}","trees_url":"https://api.github.com/repos/convus/convus_content/git/trees{/sha}","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/{sha}","languages_url":"https://api.github.com/repos/convus/convus_content/languages","stargazers_url":"https://api.github.com/repos/convus/convus_content/stargazers","contributors_url":"https://api.github.com/repos/convus/convus_content/contributors","subscribers_url":"https://api.github.com/repos/convus/convus_content/subscribers","subscription_url":"https://api.github.com/repos/convus/convus_content/subscription","commits_url":"https://api.github.com/repos/convus/convus_content/commits{/sha}","git_commits_url":"https://api.github.com/repos/convus/convus_content/git/commits{/sha}","comments_url":"https://api.github.com/repos/convus/convus_content/comments{/number}","issue_comment_url":"https://api.github.com/repos/convus/convus_content/issues/comments{/number}","contents_url":"https://api.github.com/repos/convus/convus_content/contents/{+path}","compare_url":"https://api.github.com/repos/convus/convus_content/compare/{base}...{head}","merges_url":"https://api.github.com/repos/convus/convus_content/merges","archive_url":"https://api.github.com/repos/convus/convus_content/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/convus/convus_content/downloads","issues_url":"https://api.github.com/repos/convus/convus_content/issues{/number}","pulls_url":"https://api.github.com/repos/convus/convus_content/pulls{/number}","milestones_url":"https://api.github.com/repos/convus/convus_content/milestones{/number}","notifications_url":"https://api.github.com/repos/convus/convus_content/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/convus/convus_content/labels{/name}","releases_url":"https://api.github.com/repos/convus/convus_content/releases{/id}","deployments_url":"https://api.github.com/repos/convus/convus_content/deployments","created_at":"2020-09-15T20:37:48Z","updated_at":"2020-09-22T22:28:25Z","pushed_at":"2020-09-22T23:07:40Z","git_url":"git://github.com/convus/convus_content.git","ssh_url":"git@github.com:convus/convus_content.git","clone_url":"https://github.com/convus/convus_content.git","svn_url":"https://github.com/convus/convus_content","homepage":"https://www.convus.org","size":30,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":3,"license":{"key":"cc-by-sa-4.0","name":"Creative
          Commons Attribution Share Alike 4.0 International","spdx_id":"CC-BY-SA-4.0","url":"https://api.github.com/licenses/cc-by-sa-4.0","node_id":"MDc6TGljZW5zZTI2"},"forks":0,"open_issues":3,"watchers":0,"default_branch":"main"}},"base":{"label":"convus:main","ref":"main","sha":"3fbced0932bcba76dc2d3c26a053272b6d88dc20","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gist[...]
[...]
  - request:
      method: put
      uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/testing-party-time-is-now.yml
      body:
        encoding: UTF-8
        string:
          '{"branch":"proposed-hypothesis-61","content":"LS0tCnRpdGxlOiBUZXN0aW5nIHBhcnR5IHRpbWUgaXMgbm93CmlkOiA2MQpkaXJlY3RfcXVvdGF0aW9uOiB0cnVlCmNyZWF0ZWRfdGltZXN0YW1wOiAnMjAyMC0wOS0yMlQyMzowNzo0MlonCnRhZ190aXRsZXM6Ci0gcGFydGllcwotIEVjb25vbXkKY2l0YXRpb25fdXJsczoKLSBodHRwczovL2V4YW1wbGUuY29tL3NvbWV0aGlu[...]
[...]
