---
http_interactions:
  - request:
      method: get
      uri: https://api.github.com/repos/convus/convus_content/git/refs
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxxxxxxxx
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 200 OK
        Etag:
          - W/"9935b5aa17b3bbd771614f0fd19241234dc1364ec7d24f643ec9da280defc29b"
        Last-Modified:
          - Tue, 22 Sep 2020 18:53:14 GMT
        X-Poll-Interval:
          - "300"
        X-Oauth-Scopes:
          - repo
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4999"
        X-Ratelimit-Reset:
          - "1600813963"
        X-Ratelimit-Used:
          - "1"
      body:
        encoding: ASCII-8BIT
        string: '[{"ref":"refs/heads/main","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvbWFpbg==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/main","object":{"sha":"b26302f7f2872653dece0c814a31401a0653963c","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/b26302f7f2872653dece0c814a31401a0653963c"}},{"ref":"refs/heads/proposed-hypothesis-42","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvcHJvcG9zZWQtaHlwb3RoZXNpcy00Mg==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/proposed-hypothesis-42","object":{"sha":"7fb350e39cd9b579c3ffe0adf72426e07ba28fef","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/7fb350e39cd[...]
  - request:
      method: post
      uri: https://api.github.com/repos/convus/convus_content/git/refs
      body:
        encoding: UTF-8
        string: '{"ref":"refs/heads/proposed-hypothesis-27","sha":"b26302f7f2872653dece0c814a31401a0653963c"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxxxxxxxx
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 201 Created
        Etag:
          - '"8e4abfe26f67f383911b354b97d6398644d7da85f73de1330999aa6acf637f7c"'
        X-Oauth-Scopes:
          - repo
        X-Accepted-Oauth-Scopes:
          - repo
        Location:
          - https://api.github.com/repos/convus/convus_content/git/refs/heads/proposed-hypothesis-27
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4998"
        X-Ratelimit-Reset:
          - "1600813963"
        X-Ratelimit-Used:
          - "2"
      body:
        encoding: UTF-8
        string: '{"ref":"refs/heads/proposed-hypothesis-27","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvcHJvcG9zZWQtaHlwb3RoZXNpcy0yNw==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/proposed-hypothesis-27","object":{"sha":"b26302f7f2872653dece0c814a31401a0653963c","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/b26302f7f2872653dece0c814a31401a0653963c"}}'
    recorded_at: Tue, 22 Sep 2020 21:32:44 GMT
  - request:
      method: put
      uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/party-time-is-now.yml
      body:
        encoding: UTF-8
        string:
          '{"branch":"proposed-hypothesis-27","content":"LS0tCnRpdGxlOiBwYXJ0eSB0aW1lIGlzIG5vdwppZDogMjcKZGlyZWN0X3F1b3RhdGlvbjogdHJ1ZQpjcmVhdGVkX3RpbWVzdGFtcDogJzIwMjAtMDktMjJUMjE6MzI6NDNaJwp0YWdfdGl0bGVzOgotIHBhcnRpZXMKLSBFY29ub215CmNpdGF0aW9uX3VybHM6Ci0gaHR0cHM6Ly9leGFtcGxlLmNvbS9zb21ldGhpbmctb2YtaW50ZXJlc3QK","message":"Hypothesis:
          party time is now"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxxxxxxxx
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 201 Created
        Etag:
          - '"2068985c9b73edf50d7ec4dd05adc5a481337da2dd23f31c8bef67b618c5eac7"'
        X-Oauth-Scopes:
          - repo
        X-Accepted-Oauth-Scopes:
          - ""
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4997"
        X-Ratelimit-Reset:
          - "1600813963"
        X-Ratelimit-Used:
          - "3"
      body:
        encoding: UTF-8
        string:
          '{"content":{"name":"party-time-is-now.yml","path":"hypotheses/party-time-is-now.yml","sha":"d32e71ee0903d8922fd133c969f76a8de62fc9f5","size":192,"url":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/party-time-is-now.yml?ref=proposed-hypothesis-27","html_url":"https://github.com/convus/convus_content/blob/proposed-hypothesis-27/hypotheses/party-time-is-now.yml","git_url":"https://api.github.com/repos/convus/convus_content/git/blobs/d32e71ee0903d8922fd133c969f76a8de62fc9f5","download_url":"https://raw.githubusercontent.com/convus/convus_content/proposed-hypothesis-27/hypotheses/party-time-is-now.yml","type":"file","_links":{"self":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/party-time-is-now.yml?ref=proposed-hypothesis-27","git":"https://api.github.com/repos/convus/convus_content/git/blobs/d32e71ee0903d8922fd133c969f76a8de62fc9f5","html":"https://github.com/convus/convus_content/blob/proposed-hypothesis-27/hypotheses/party-time-is-now.yml"}},"commit":{"sha":"216abb83fc75b2b711ba188308f796b737872cad","node_id":"MDY6Q29tbWl0Mjk1ODQzNjEwOjIxNmFiYjgzZmM3NWIyYjcxMWJhMTg4MzA4Zjc5NmI3Mzc4NzJjYWQ=","url":"https://api.github.com/repos/convus/convus_content/git/commits/216abb83fc75b2b711ba188308f796b737872cad","html_url":"https://github.com/convus/convus_content/commit/216abb83fc75b2b711ba188308f796b737872cad","author":{"name":"Convus
          Bot","email":"bot@convus.org","date":"2020-09-22T21:32:44Z"},"committer":{"name":"Convus
          Bot","email":"bot@convus.org","date":"2020-09-22T21:32:44Z"},"tree":{"sha":"7860b7d1ec2f583516e992f7f12535eb6eae766b","url":"https://api.github.com/repos/convus/convus_content/git/trees/7860b7d1ec2f583516e992f7f12535eb6eae766b"},"message":"Hypothesis:
          party time is now","parents":[{"sha":"b26302f7f2872653dece0c814a31401a0653963c","url":"https://api.github.com/repos/convus/convus_content/git/commits/b26302f7f2872653dece0c814a31401a0653963c","html_url":"https://github.com/convus/convus_content/commit/b26302f7f2872653dece0c814a31401a0653963c"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}}'
    recorded_at: Tue, 22 Sep 2020 21:32:45 GMT
  - request:
      method: post
      uri: https://api.github.com/repos/convus/convus_content/pulls
      body:
        encoding: UTF-8
        string:
          '{"base":"main","head":"proposed-hypothesis-27","title":"Hypothesis:
          party time is now"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxxxxxxxx
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 201 Created
        Etag:
          - '"f9744bd287ae02fe17db59adfec29c2e1930bf527e29395731566e420d4a100a"'
        X-Oauth-Scopes:
          - repo
        X-Accepted-Oauth-Scopes:
          - ""
        Location:
          - https://api.github.com/repos/convus/convus_content/pulls/7
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4996"
        X-Ratelimit-Reset:
          - "1600813963"
        X-Ratelimit-Used:
          - "4"
      body:
        encoding: UTF-8
        string:
          '{"url":"https://api.github.com/repos/convus/convus_content/pulls/7","id":491206916,"node_id":"MDExOlB1bGxSZXF1ZXN0NDkxMjA2OTE2","html_url":"https://github.com/convus/convus_content/pull/7","diff_url":"https://github.com/convus/convus_content/pull/7.diff","patch_url":"https://github.com/convus/convus_content/pull/7.patch","issue_url":"https://api.github.com/repos/convus/convus_content/issues/7","number":7,"state":"open","locked":false,"title":"Hypothesis:
          party time is now","user":{"login":"convus-bot","id":26616290,"node_id":"MDQ6VXNlcjI2NjE2Mjkw","avatar_url":"https://avatars2.githubusercontent.com/u/26616290?v=4","gravatar_id":"","url":"https://api.github.com/users/convus-bot","html_url":"https://github.com/convus-bot","followers_url":"https://api.github.com/users/convus-bot/followers","following_url":"https://api.github.com/users/convus-bot/following{/other_user}","gists_url":"https://api.github.com/users/convus-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/convus-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus-bot/subscriptions","organizations_url":"https://api.github.com/users/convus-bot/orgs","repos_url":"https://api.github.com/users/convus-bot/repos","events_url":"https://api.github.com/users/convus-bot/events{/privacy}","received_events_url":"https://api.github.com/users/convus-bot/received_events","type":"User","site_admin":false},"body":null,"created_at":"2020-09-22T21:32:46Z","updated_at":"2020-09-22T21:32:46Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/convus/convus_content/pulls/7/commits","review_comments_url":"https://api.github.com/repos/convus/convus_content/pulls/7/comments","review_comment_url":"https://api.github.com/repos/convus/convus_content/pulls/comments{/number}","comments_url":"https://api.github.com/repos/convus/convus_content/issues/7/comments","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/216abb83fc75b2b711ba188308f796b737872cad","head":{"label":"convus:proposed-hypothesis-27","ref":"proposed-hypothesis-27","sha":"216abb83fc75b2b711ba188308f796b737872cad","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"repo":{"id":295843610,"node_id":"MDEwOlJlcG9zaXRvcnkyOTU4NDM2MTA=","name":"convus_content","full_name":"convus/convus_content","private":false,"owner":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/convus/convus_content","description":"Content
          for convus.org","fork":false,"url":"https://api.github.com/repos/convus/convus_content","forks_url":"https://api.github.com/repos/convus/convus_content/forks","keys_url":"https://api.github.com/repos/convus/convus_content/keys{/key_id}","collaborators_url":"https://api.github.com/repos/convus/convus_content/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/convus/convus_content/teams","hooks_url":"https://api.github.com/repos/convus/convus_content/hooks","issue_events_url":"https://api.github.com/repos/convus/convus_content/issues/events{/number}","events_url":"https://api.github.com/repos/convus/convus_content/events","assignees_url":"https://api.github.com/repos/convus/convus_content/assignees{/user}","branches_url":"https://api.github.com/repos/convus/convus_content/branches{/branch}","tags_url":"https://api.github.com/repos/convus/convus_content/tags","blobs_url":"https://api.github.com/repos/convus/convus_content/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/convus/convus_content/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/convus/convus_content/git/refs{/sha}","trees_url":"https://api.github.com/repos/convus/convus_content/git/trees{/sha}","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/{sha}","languages_url":"https://api.github.com/repos/convus/convus_content/languages","stargazers_url":"https://api.github.com/repos/convus/convus_content/stargazers","contributors_url":"https://api.github.com/repos/convus/convus_content/contributors","subscribers_url":"https://api.github.com/repos/convus/convus_content/subscribers","subscription_url":"https://api.github.com/repos/convus/convus_content/subscription","commits_url":"https://api.github.com/repos/convus/convus_content/commits{/sha}","git_commits_url":"https://api.github.com/repos/convus/convus_content/git/commits{/sha}","comments_url":"https://api.github.com/repos/convus/convus_content/comments{/number}","issue_comment_url":"https://api.github.com/repos/convus/convus_content/issues/comments{/number}","contents_url":"https://api.github.com/repos/convus/convus_content/contents/{+path}","compare_url":"https://api.github.com/repos/convus/convus_content/compare/{base}...{head}","merges_url":"https://api.github.com/repos/convus/convus_content/merges","archive_url":"https://api.github.com/repos/convus/convus_content/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/convus/convus_content/downloads","issues_url":"https://api.github.com/repos/convus/convus_content/issues{/number}","pulls_url":"https://api.github.com/repos/convus/convus_content/pulls{/number}","milestones_url":"https://api.github.com/repos/convus/convus_content/milestones{/number}","notifications_url":"https://api.github.com/repos/convus/convus_content/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/convus/convus_content/labels{/name}","releases_url":"https://api.github.com/repos/convus/convus_content/releases{/id}","deployments_url":"https://api.github.com/repos/convus/convus_content/deployments","created_at":"2020-09-15T20:37:48Z","updated_at":"2020-09-22T18:53:14Z","pushed_at":"2020-09-22T21:32:45Z","git_url":"git://github.com/convus/convus_content.git","ssh_url":"git@github.com:convus/convus_content.git","clone_url":"https://github.com/convus/convus_content.git","svn_url":"https://github.com/convus/convus_content","homepage":"https://www.convus.org","size":32,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":3,"license":{"key":"cc-by-sa-4.0","name":"Creative
          Commons Attribution Share Alike 4.0 International","spdx_id":"CC-BY-SA-4.0","url":"https://api.github.com/licenses/cc-by-sa-4.0","node_id":"MDc6TGljZW5zZTI2"},"forks":0,"open_issues":3,"watchers":0,"default_branch":"main"}},"base":{"label":"convus:main","ref":"main","sha":"b26302f7f2872653dece0c814a31401a0653963c","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gist[...]
