---
http_interactions:
  - request:
      method: get
      uri: https://api.github.com/repos/convus/convus_content/git/refs
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxxxx
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 200 OK
        Etag:
          - W/"83467cec6ed23b9ddf4789f9a8a112d04df3dc2ec7d51a5331a83031f86dad69"
        Last-Modified:
          - Thu, 24 Sep 2020 14:16:51 GMT
        X-Poll-Interval:
          - "300"
        X-Oauth-Scopes:
          - repo
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4987"
        X-Ratelimit-Reset:
          - "1600964588"
        X-Ratelimit-Used:
          - "13"
      body:
        encoding: ASCII-8BIT
        string: '[{"ref":"refs/heads/main","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvbWFpbg==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/main","object":{"sha":"c0e6d80dd2bab5094c0fa748491c30d178ec7167","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/c0e6d80dd2bab5094c0fa748491c30d178ec7167"}},{"ref":"refs/pull/1/head","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvcHVsbC8xL2hlYWQ=","url":"https://api.github.com/repos/convus/convus_content/git/refs/pull/1/head","object":{"sha":"d43a84ae7098200134d8a36ef1099d99d26a581e","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/d43a84ae7098200134d8a36ef1099d99d26a581e"}},{"ref":"refs/pull/2/head"[...]
  - request:
      method: post
      uri: https://api.github.com/repos/convus/convus_content/git/refs
      body:
        encoding: UTF-8
        string: '{"ref":"refs/heads/proposed-hypothesis-90","sha":"c0e6d80dd2bab5094c0fa748491c30d178ec7167"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxxxx
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 201 Created
        Etag:
          - '"ab4d5ea67f1da558bb732a26dbf9ccd0845adad84f61cb9de7f26d6e766d5acc"'
        X-Oauth-Scopes:
          - repo
        X-Accepted-Oauth-Scopes:
          - repo
        Location:
          - https://api.github.com/repos/convus/convus_content/git/refs/heads/proposed-hypothesis-90
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4986"
        X-Ratelimit-Reset:
          - "1600964588"
        X-Ratelimit-Used:
          - "14"
      body:
        encoding: UTF-8
        string: '{"ref":"refs/heads/proposed-hypothesis-90","node_id":"MDM6UmVmMjk1ODQzNjEwOnJlZnMvaGVhZHMvcHJvcG9zZWQtaHlwb3RoZXNpcy05MA==","url":"https://api.github.com/repos/convus/convus_content/git/refs/heads/proposed-hypothesis-90","object":{"sha":"c0e6d80dd2bab5094c0fa748491c30d178ec7167","type":"commit","url":"https://api.github.com/repos/convus/convus_content/git/commits/c0e6d80dd2bab5094c0fa748491c30d178ec7167"}}'
    recorded_at: Thu, 24 Sep 2020 16:01:21 GMT
  - request:
      method: put
      uri: https://api.github.com/repos/convus/convus_content/contents/hypotheses/testing-party-time-is-now.yml
      body:
        encoding: UTF-8
        string:
          '{"branch":"proposed-hypothesis-90","content":"LS0tCnRpdGxlOiBUZXN0aW5nIHBhcnR5IHRpbWUgaXMgbm93CmlkOiA5MApkaXJlY3RfcXVvdGF0aW9uOiB0cnVlCmNyZWF0ZWRfdGltZXN0YW1wOiAnMjAyMC0wOS0yNFQxNjowMToxOVonCnRhZ190aXRsZXM6Ci0gRWNvbm9teQotIHBhcnRpZXMKY2l0YXRpb25fdXJsczoKLSBodHRwczovL2V4YW1wbGUuY29tL3NvbWV0aGluZy1vZi1pbnRlcmVzdAo=","message":"Hypothesis:
          Testing party time is now"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxxxx
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 201 Created
        Etag:
          - '"30c20502bec2e52a307c539dbf2fb1e5c13f8d860af1f34da88bf94704c5284f"'
        X-Oauth-Scopes:
          - repo
        X-Accepted-Oauth-Scopes:
          - ""
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4985"
        X-Ratelimit-Reset:
          - "1600964588"
        X-Ratelimit-Used:
          - "15"
      body:
        encoding: UTF-8
        string:
          '{"content":{"name":"testing-party-time-is-now.yml","path":"hypotheses/testing-party-time-is-now.yml","sha":"ae92a42034df5d438ff6d38685034254427bb6eb","size":200,"url":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/testing-party-time-is-now.yml?ref=proposed-hypothesis-90","html_url":"https://github.com/convus/convus_content/blob/proposed-hypothesis-90/hypotheses/testing-party-time-is-now.yml","git_url":"https://api.github.com/repos/convus/convus_content/git/blobs/ae92a42034df5d438ff6d38685034254427bb6eb","download_url":"https://raw.githubusercontent.com/convus/convus_content/proposed-hypothesis-90/hypotheses/testing-party-time-is-now.yml","type":"file","_links":{"self":"https://api.github.com/repos/convus/convus_content/contents/hypotheses/testing-party-time-is-now.yml?ref=proposed-hypothesis-90","git":"https://api.github.com/repos/convus/convus_content/git/blobs/ae92a42034df5d438ff6d38685034254427bb6eb","html":"https://github.com/convus/convus_content/blob/proposed-hypothesis-90/hypotheses/testing-party-time-is-now.yml"}},"commit":{"sha":"e78580d0e4991f5215e3b04b213a18089f83e877","node_id":"MDY6Q29tbWl0Mjk1ODQzNjEwOmU3ODU4MGQwZTQ5OTFmNTIxNWUzYjA0YjIxM2ExODA4OWY4M2U4Nzc=","url":"https://api.github.com/repos/convus/convus_content/git/commits/e78580d0e4991f5215e3b04b213a18089f83e877","html_url":"https://github.com/convus/convus_content/commit/e78580d0e4991f5215e3b04b213a18089f83e877","author":{"name":"Convus
          Bot","email":"bot@convus.org","date":"2020-09-24T16:01:21Z"},"committer":{"name":"Convus
          Bot","email":"bot@convus.org","date":"2020-09-24T16:01:21Z"},"tree":{"sha":"0b10485319a3e3c00a7566718a6646766dcf1274","url":"https://api.github.com/repos/convus/convus_content/git/trees/0b10485319a3e3c00a7566718a6646766dcf1274"},"message":"Hypothesis:
          Testing party time is now","parents":[{"sha":"c0e6d80dd2bab5094c0fa748491c30d178ec7167","url":"https://api.github.com/repos/convus/convus_content/git/commits/c0e6d80dd2bab5094c0fa748491c30d178ec7167","html_url":"https://github.com/convus/convus_content/commit/c0e6d80dd2bab5094c0fa748491c30d178ec7167"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}}'
    recorded_at: Thu, 24 Sep 2020 16:01:22 GMT
  - request:
      method: put
      uri: https://api.github.com/repos/convus/convus_content/contents/citations/example-com/testing-hypothesis-creation-is-very-important.yml
      body:
        encoding: UTF-8
        string:
          '{"branch":"proposed-hypothesis-90","content":"LS0tCnRpdGxlOiBUZXN0aW5nIGh5cG90aGVzaXMgY3JlYXRpb24gaXMgdmVyeSBpbXBvcnRhbnQKaWQ6IDExMwp1cmw6IGh0dHBzOi8vZXhhbXBsZS5jb20vc29tZXRoaW5nLW9mLWludGVyZXN0CmtpbmQ6IGFydGljbGUKcHVibGljYXRpb25fdGl0bGU6IGV4YW1wbGUuY29tCnB1Ymxpc[...]
  - request:
      method: post
      uri: https://api.github.com/repos/convus/convus_content/pulls
      body:
        encoding: UTF-8
        string:
          '{"base":"main","head":"proposed-hypothesis-90","title":"Hypothesis:
          Testing party time is now"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - token xxxxxxxx
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 201 Created
        Etag:
          - '"eeb4cf926a849a6f11b00fbda7f33d87ab41709af48a24d26521daacf3e8145a"'
        X-Oauth-Scopes:
          - repo
        X-Accepted-Oauth-Scopes:
          - ""
        Location:
          - https://api.github.com/repos/convus/convus_content/pulls/28
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4983"
        X-Ratelimit-Reset:
          - "1600964588"
        X-Ratelimit-Used:
          - "17"
      body:
        encoding: UTF-8
        string:
          '{"url":"https://api.github.com/repos/convus/convus_content/pulls/28","id":492548289,"node_id":"MDExOlB1bGxSZXF1ZXN0NDkyNTQ4Mjg5","html_url":"https://github.com/convus/convus_content/pull/28","diff_url":"https://github.com/convus/convus_content/pull/28.diff","patch_url":"https://github.com/convus/convus_content/pull/28.patch","issue_url":"https://api.github.com/repos/convus/convus_content/issues/28","number":28,"state":"open","locked":false,"title":"Hypothesis:
          Testing party time is now","user":{"login":"convus-bot","id":26616290,"node_id":"MDQ6VXNlcjI2NjE2Mjkw","avatar_url":"https://avatars2.githubusercontent.com/u/26616290?v=4","gravatar_id":"","url":"https://api.github.com/users/convus-bot","html_url":"https://github.com/convus-bot","followers_url":"https://api.github.com/users/convus-bot/followers","following_url":"https://api.github.com/users/convus-bot/following{/other_user}","gists_url":"https://api.github.com/users/convus-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/convus-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus-bot/subscriptions","organizations_url":"https://api.github.com/users/convus-bot/orgs","repos_url":"https://api.github.com/users/convus-bot/repos","events_url":"https://api.github.com/users/convus-bot/events{/privacy}","received_events_url":"https://api.github.com/users/convus-bot/received_events","type":"User","site_admin":false},"body":null,"created_at":"2020-09-24T16:01:23Z","updated_at":"2020-09-24T16:01:23Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/convus/convus_content/pulls/28/commits","review_comments_url":"https://api.github.com/repos/convus/convus_content/pulls/28/comments","review_comment_url":"https://api.github.com/repos/convus/convus_content/pulls/comments{/number}","comments_url":"https://api.github.com/repos/convus/convus_content/issues/28/comments","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/0e1f86528250c3cac96670b0c1680fb6d85237e3","head":{"label":"convus:proposed-hypothesis-90","ref":"proposed-hypothesis-90","sha":"0e1f86528250c3cac96670b0c1680fb6d85237e3","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"repo":{"id":295843610,"node_id":"MDEwOlJlcG9zaXRvcnkyOTU4NDM2MTA=","name":"convus_content","full_name":"convus/convus_content","private":false,"owner":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gists_url":"https://api.github.com/users/convus/gists{/gist_id}","starred_url":"https://api.github.com/users/convus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/convus/subscriptions","organizations_url":"https://api.github.com/users/convus/orgs","repos_url":"https://api.github.com/users/convus/repos","events_url":"https://api.github.com/users/convus/events{/privacy}","received_events_url":"https://api.github.com/users/convus/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/convus/convus_content","description":"Content
          for convus.org","fork":false,"url":"https://api.github.com/repos/convus/convus_content","forks_url":"https://api.github.com/repos/convus/convus_content/forks","keys_url":"https://api.github.com/repos/convus/convus_content/keys{/key_id}","collaborators_url":"https://api.github.com/repos/convus/convus_content/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/convus/convus_content/teams","hooks_url":"https://api.github.com/repos/convus/convus_content/hooks","issue_events_url":"https://api.github.com/repos/convus/convus_content/issues/events{/number}","events_url":"https://api.github.com/repos/convus/convus_content/events","assignees_url":"https://api.github.com/repos/convus/convus_content/assignees{/user}","branches_url":"https://api.github.com/repos/convus/convus_content/branches{/branch}","tags_url":"https://api.github.com/repos/convus/convus_content/tags","blobs_url":"https://api.github.com/repos/convus/convus_content/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/convus/convus_content/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/convus/convus_content/git/refs{/sha}","trees_url":"https://api.github.com/repos/convus/convus_content/git/trees{/sha}","statuses_url":"https://api.github.com/repos/convus/convus_content/statuses/{sha}","languages_url":"https://api.github.com/repos/convus/convus_content/languages","stargazers_url":"https://api.github.com/repos/convus/convus_content/stargazers","contributors_url":"https://api.github.com/repos/convus/convus_content/contributors","subscribers_url":"https://api.github.com/repos/convus/convus_content/subscribers","subscription_url":"https://api.github.com/repos/convus/convus_content/subscription","commits_url":"https://api.github.com/repos/convus/convus_content/commits{/sha}","git_commits_url":"https://api.github.com/repos/convus/convus_content/git/commits{/sha}","comments_url":"https://api.github.com/repos/convus/convus_content/comments{/number}","issue_comment_url":"https://api.github.com/repos/convus/convus_content/issues/comments{/number}","contents_url":"https://api.github.com/repos/convus/convus_content/contents/{+path}","compare_url":"https://api.github.com/repos/convus/convus_content/compare/{base}...{head}","merges_url":"https://api.github.com/repos/convus/convus_content/merges","archive_url":"https://api.github.com/repos/convus/convus_content/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/convus/convus_content/downloads","issues_url":"https://api.github.com/repos/convus/convus_content/issues{/number}","pulls_url":"https://api.github.com/repos/convus/convus_content/pulls{/number}","milestones_url":"https://api.github.com/repos/convus/convus_content/milestones{/number}","notifications_url":"https://api.github.com/repos/convus/convus_content/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/convus/convus_content/labels{/name}","releases_url":"https://api.github.com/repos/convus/convus_content/releases{/id}","deployments_url":"https://api.github.com/repos/convus/convus_content/deployments","created_at":"2020-09-15T20:37:48Z","updated_at":"2020-09-24T14:16:51Z","pushed_at":"2020-09-24T16:01:23Z","git_url":"git://github.com/convus/convus_content.git","ssh_url":"git@github.com:convus/convus_content.git","clone_url":"https://github.com/convus/convus_content.git","svn_url":"https://github.com/convus/convus_content","homepage":"https://www.convus.org","size":60,"stargazers_count":3,"watchers_count":3,"language":null,"has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":{"key":"cc-by-sa-4.0","name":"Creative
          Commons Attribution Share Alike 4.0 International","spdx_id":"CC-BY-SA-4.0","url":"https://api.github.com/licenses/cc-by-sa-4.0","node_id":"MDc6TGljZW5zZTI2"},"forks":0,"open_issues":1,"watchers":3,"default_branch":"main"}},"base":{"label":"convus:main","ref":"main","sha":"c0e6d80dd2bab5094c0fa748491c30d178ec7167","user":{"login":"convus","id":25535213,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI1NTM1MjEz","avatar_url":"https://avatars0.githubusercontent.com/u/25535213?v=4","gravatar_id":"","url":"https://api.github.com/users/convus","html_url":"https://github.com/convus","followers_url":"https://api.github.com/users/convus/followers","following_url":"https://api.github.com/users/convus/following{/other_user}","gist[...]
