---
http_interactions:
  - request:
      method: get
      uri: https://app.cloud66.com/api/3/stacks/xxxxxxxxxxxxxxxxx/jobs
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer yyyyyyyyyyyyyyyyyyyy
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"a5559b8e6ab926aa0665c7c7ad176a23"
      body:
        encoding: ASCII-8BIT
        string: '{"response":[{"uid":"zzzzzzzzzzzzzzzzz","name":"Reconcile
          Flat file database","type":"RakeJob","cron":null,"status":3,"params":{"task":"reconcile_flat_file_database"},"created_at":"2020-09-22
          23:35:19 UTC","updated_at":"2020-09-22 23:35:19 UTC"}],"count":1,"pagination":{"previous":null,"next":null,"current":1,"per_page":30,"count":1,"pages":1}}'
    recorded_at: Fri, 20 Nov 2020 17:43:05 GMT
recorded_with: VCR 6.0.0
