---
http_interactions:
  - request:
      method: post
      uri: https://app.cloud66.com/api/3/stacks/yyyyyyyyyy/jobs/xxxxxxxxxxx/run_now
      body:
        encoding: UTF-8
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer xxxxxxxxxx
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"97baf4fa044232ab2300b63fbd4211e4"
      body:
        encoding: ASCII-8BIT
        string: '{"response":{"id":1643959,"user":"email@stuff.com","resource_type":"stack","action":"job_run_now","resource_id":"90909","started_via":"api","started_at":"2020-11-20T17:43:46Z","finished_at":null,"finished_success":null,"finished_message":null,"finished_result":null}}'
    recorded_at: Fri, 20 Nov 2020 17:43:46 GMT
recorded_with: VCR 6.0.0
