---
http_interactions:
  - request:
      method: post
      uri: https://app.cloud66.com/api/3/stacks/xxxxx/jobs/yyyyyyy/run_now
      body:
        encoding: UTF-8
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer xxxxxxx
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"e79be906b7248d3398a727e2ecbf73db"
      body:
        encoding: ASCII-8BIT
        string: '{"response":{"id":999,"user":"fffff","resource_type":"stack","action":"job_run_now","resource_id":"65956","started_via":"api","started_at":"2020-11-13T19:06:11Z","finished_at":null,"finished_success":null,"finished_message":null,"finished_result":null}}'
    recorded_at: Fri, 13 Nov 2020 19:06:11 GMT
recorded_with: VCR 6.0.0
