- if flash.present?
  .flash-alert-container
    - flash.each do |type, message|
      - next unless message.present?
      .alert{ class: "alert-#{type}" }
        %button.close{ 'data-dismiss' => 'alert' } ×
        = message
        - if flash[:link]
          %br
          link: #{link_to flash[:link], flash[:link]}
