.link-with-emoji {
  text-decoration: none;
  small {
    // The non-emoji part
    display: none;
    text-decoration: underline;
  }
}
.tag-bubble {
  display: inline-block;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  padding: 0.25rem;
  line-height: 1;
}
