*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.alert.alert-danger {
  display: block;
  margin: 1rem 0;
  padding: 1rem;
  color: #721c24;
  border: 1px solid #f5c6cb;
  background: #f8d7da;
}

h1,
h2,
h3 {
  margin: 1.5rem 0;
  padding: 0;
}

.form-wrapper {
  max-width: 800px;
  width: 100%;
}

.form-group {
  margin-top: 1rem;
  label {
    opacity: 0.8;
    display: block;
    margin-bottom: 0.25rem;
    cursor: pointer;
  }
  textarea,
  select,
  input[type="text"] {
    width: 100%;
    padding: 0.3rem;
  }
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

table {
  border-collapse: collapse;
  text-align: left;
}

.table-bordered,
.table-list {
  td,
  th {
    border: 1px solid #dee2e6;
  }
}

.table-list .thead-light th,
.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.table-list,
.table {
  td,
  th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
}

.table-list,
.table-sm {
  td,
  th {
    padding: 0.3rem;
  }
}

.table-list tbody tr:nth-of-type(odd),
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
