*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.alert {
  display: block;
  margin: 1rem 0;
  padding: 1rem;
  &.alert-success {
    border: 1px solid #2ecc71;
    color: #2ecc71;
  }
  &.alert-danger {
    color: #721c24;
    border: 1px solid #f5c6cb;
    background: #f8d7da;
  }
}

h1,
h2,
h3 {
  margin: 1.5rem 0;
  padding: 0;
}

.form-wrapper {
  max-width: $max-main-width;
  width: 100%;
}

.form-group {
  margin-top: 1rem;
  label {
    opacity: 0.8;
    display: block;
    margin-bottom: 0.25rem;
    cursor: pointer;
  }
  textarea,
  select,
  input[type="text"] {
    width: 100%;
    padding: 0.3rem;
  }

  .btn {
    padding: 0.5rem;
  }
}

.mt-4 {
  margin-top: 2rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-0 {
  margin-top: 0;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-4 {
  margin-left: 2rem;
}

.ml-2 {
  margin-left: 1rem;
}

.ml-0 {
  margin-left: 0;
}

.mr-4 {
  margin-right: 2rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-0 {
  margin-right: 0;
}
