@import "~bootstrap/scss/bootstrap";

@import "../stylesheets/fonts";

$text-color: #212529; // just copied from the actual rendered value

$max-width-text: 900px;
.max-width-text-container {
  flex: 0 0 $max-width-text;
  max-width: $max-width-text;
  &.col {
    flex: 0 0 $max-width-text + 30px;
    max-width: $max-width-text + 30px;
  }
}

.max-width-text-container-centered {
  @extend .max-width-text-container;
  margin-left: auto;
  margin-right: auto;
}

// Add a little padding to the bottom
.main-content-container {
  padding-bottom: 2rem;
}

// Utilities
@import "../stylesheets/utils/bootstrap_extensions";
@import "../stylesheets/utils/alerts";
@import "../stylesheets/utils/selectize";
@import "../stylesheets/utils/full_screen_table";
@import "../stylesheets/utils/table_list";
@import "../stylesheets/utils/period_select";

// Sections
@import "../stylesheets/sections/header";
@import "../stylesheets/sections/hypotheses_search";
@import "../stylesheets/sections/hypotheses_list";
@import "../stylesheets/sections/hypotheses_form";
@import "../stylesheets/sections/hypotheses_show";

// Admin stuff
@import "../stylesheets/sections/admin/pagination";
@import "../stylesheets/sections/admin/header";

.internal-link {
  text-decoration: underline;
  font-style: italic;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}

.tag-bubble {
  display: inline;
  border: 1px solid $gray-300;
  border-radius: 4px;
  padding: 0 0.25rem;
  line-height: 1.5;
  text-decoration: underline;
  color: $gray-600;
}

.score-bubble {
  display: inline-block;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5em;
  line-height: 1;
  background: $gray-200;
}

$dev-color: #9400d3;
.only-dev-visible {
  border: 1px solid $dev-color;
  background: rgba($dev-color, 0.1) !important;
}

.scoring-table {
  font-size: 90%;
}
