@import "~bootstrap/scss/bootstrap";

@import "../stylesheets/fonts";

// Utilities
@import "../stylesheets/utils/bootstrap_extensions";
@import "../stylesheets/utils/selectize";
@import "../stylesheets/utils/full_screen_table";
@import "../stylesheets/utils/table_list";

@import "../stylesheets/sections/hypotheses_search";

.internal-link {
  text-decoration: underline;
  font-style: italic;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}

.tag-bubble {
  display: inline;
  border: 1px solid $gray-300;
  border-radius: 4px;
  padding: 0 0.25rem;
  line-height: 1.5;
  text-decoration: underline;
  color: $gray-600;
}

$dev-color: #9400d3;
.only-dev-visible {
  border: 1px solid $dev-color;
  background: rgba($dev-color, 0.1);
}
// This is frequently used in display-tables, make it work
.table-list td .only-dev-visible {
  padding: 2px 0.25rem;
}
