.row
  .max-width-text-container.col
    %h1
      About Convus

    %p.mt-4
      A platform for #{link_to "adversarial collaboration", "https://en.wikipedia.org/wiki/Adversarial_collaboration"}, to improve our collective knowledge.
      -# I'd love to link to this... https://slatestarcodex.com/2017/03/24/guided-by-the-beauty-of-our-weapons/

    %h4.mt-big General process

    %ul
      %li
        When a hypothesis is submitted, moderators review and approve it (if the hypothesis is valid, ie falsifiable).
      %li
        Hypotheses have arguments. All arguments must have citations.
      %li
        Everyone can submit corrections and improvements. Users get moderator ability once they have submitted a significant number of approved edits.


    / %hr.mt-big

    %h4.mt-big Objectives
    %ul
      %li
        Encourage discussion based on evidence and outcomes
      %li
        Offer a place to learn about other viewpoints and challenge your own opinions
      %li
        Reward quality over novelty and improvement over perfection
      %li
        Provide a platform for scientific communication and public consideration of science


    %h4.mt-big Editing
    %ul
      %li
        %strong Hypotheses
        are plain text only and should end with punctuation

      %li
        %strong Arguments
        are formatted with markdown
        %small.less-strong (#{link_to "cheat sheet", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", class: ""})
        but can't include links, images, headers or inline HTML.

    %hr.mt-big

    %p.mt-4
      %strong
        Convus is open source.
      Check out #{link_to "the web app repository", "https://github.com/convus/convus_webapp"} and #{link_to "the content repository", "https://github.com/convus/convus_content"}.
