.row
  .max-width-text-container.col
    %h1
      Editing text on Convus

    %h4.mt-4 Hypotheses
    %p
      Plain text only. Should end with a period.

    %h4 Arguments
    %p
      Markdown formatted (#{link_to "cheat sheet", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"}) - but you can't include links, images or inline HTML.
