/*
 *= require_self
*/

$max-main-width: 800px;

.wrapper {
  padding: 1rem 2rem 2rem;
  margin: 0 auto;
  position: relative;
  max-width: 100%;
}

.main-nav {
  display: block;
  margin: 0 auto 1rem 0;
  width: 100%;
  position: relative;
  ul {
    display: block;
    list-style-type: none;
    text-align: right;
  }
  li {
    display: inline-block;
    padding: 0 0.25rem;
  }
}

.max-main-width {
  width: 100%;
  max-width: $max-main-width;
}

.flash-alert-container {
  @extend .max-main-width;
}

// UTILS
//
// Handy helper classes
.less-strong {
  opacity: 0.65;
}

.gray-link {
  a,
  & {
    // color: $gray-600 !important;
    opacity: 0.65;
    text-decoration: underline;
  }
  &:hover,
  &:active,
  &.active {
    opacity: 0.9;
  }
}

em,
.em {
  font-style: italic; // TODO: when/if bootstrap imported, use extend
}

small,
.small {
  font-size: 80%; // TODO: when/if bootstrap imported, use extend
}

.convertedTime {
  white-space: nowrap;
}

.text-underline {
  text-decoration: underline;
}

.paginate-wrapper {
  @extend .text-right;
  margin-bottom: 2rem;
}

@import "minimalism/actual_styles"; // Things we actually want
@import "minimalism/base_styles"; // TODO: remove when/if bootstrap imported
@import "minimalism/table_extensions";

$dev-color: #9400d3;
.only-dev-visible {
  border: 1px solid $dev-color;
  background: rgba($dev-color, 0.1);
}
